<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztman.admin.mapper.SysAdministrativeAreaMapper">

    <!-- 通用返回对象 -->
    <resultMap type="com.ztman.admin.api.entity.SysAdministrativeArea" id="sysAdministrativeAreaResult">
        <result property="areaId" column="area_id"/> <!--  -->
        <result property="areaName" column="area_name"/> <!-- 名称 -->
        <result property="parentId" column="parent_id"/> <!-- 父级id -->
        <result property="code" column="code"/> <!-- 区划代码 -->
        <result property="adminname" column="adminName"/> <!-- 负责人 -->
        <result property="phone" column="phone"/> <!-- 负责人电话 -->
        <result property="createId" column="create_id"/> <!-- 创建人id -->
        <result property="createTime" column="create_time"/> <!-- 创建时间 -->
        <result property="remark" column="remark"/> <!-- 备注 -->
        <result property="ext1" column="ext1"/> <!--  -->
        <result property="ext2" column="ext2"/> <!--  -->
        <result property="ext3" column="ext3"/> <!--  -->
        <result property="ext4" column="ext4"/> <!--  -->
        <result property="delFlag" column="del_flag"/> <!--  -->
    </resultMap>


    <sql id="selectSysAdministrativeAreaVo">
        select area_id, area_name, parent_id, code, adminName, phone, create_id, create_time, remark, ext1, ext2, ext3, ext4, del_flag from sys_administrative_area
    </sql>
    <!-- 查询对象List -->
    <select id="selectSysAdministrativeAreaList" parameterType="SysAdministrativeArea"
            resultMap="sysAdministrativeAreaResult">
        <include refid="selectSysAdministrativeAreaVo"/>
        <where>
            <include refid="equal"/>
        </where>
    </select>

    <!-- 模糊查询对象List -->
    <select id="selectSysAdministrativeAreaListByLike" parameterType="SysAdministrativeArea"
            resultMap="sysAdministrativeAreaResult">
        select
        aa.area_id,
        aa.area_name,
        aa.parent_id,
        u.user_realname create_name,
        aa.code,
        aa.adminName,
        aa.phone,
        aa.create_id,
        aa.create_time,
        aa.remark,
        aa.ext1,
        aa.ext2,
        aa.ext3,
        aa.ext4,
        aa.del_flag
        from
        sys_administrative_area as aa
        LEFT JOIN
        sys_user u
        ON
        u.user_id = aa.create_id
        where
        aa.del_flag = 1
        <if test="areaName != null and areaName != ''">
            AND aa.area_name like '%${areaName}%'  <!-- 名称 -->
            OR aa.code like '%${areaName}%'  <!-- 编码 -->
        </if>
        <if test="adminname != null and adminname != ''">
            AND aa.adminName like '%${adminname}%'  <!-- 负责人 -->
        </if>
        <if test="phone != null and phone != ''">
            AND aa.phone like '%${phone}%'  <!-- 负责人电话 -->
        </if>
        <if test="createName != null and createName != ''">
            AND u.create_name like '%${createName}%'  <!-- 创建人姓名 -->
        </if>
        <if test="remark != null and remark != ''">
            AND aa.remark like '%${remark}%'  <!-- 备注 -->
        </if>
        <if test="ext1 != null and ext1 != ''">
            AND aa.ext1 like '%${ext1}%'  <!--  -->
        </if>
        <if test="ext2 != null and ext2 != ''">
            AND aa.ext2 like '%${ext2}%'  <!--  -->
        </if>
        <if test="ext3 != null and ext3 != ''">
            AND aa.ext3 like '%${ext3}%'  <!--  -->
        </if>
        <if test="ext4 != null and ext4 != ''">
            AND aa.ext4 like '%${ext4}%'  <!--  -->
        </if>
    </select>

    <select id="selectSysAdministrativeAreaByCode" resultType="SysAdministrativeArea">
        select * from sys_administrative_area where code = #{code} and del_flag = 1
    </select>

    <!-- 根据主键查询对象 -->
    <select id="selectSysAdministrativeAreaById" parameterType="Integer" resultMap="sysAdministrativeAreaResult">
        select
        aa.area_id,
        aa.area_name,
        aa.parent_id,
        u.user_realname create_name,
        aa.code,
        aa.adminName,
        aa.phone,
        aa.create_id,
        aa.create_time,
        aa.remark,
        aa.ext1,
        aa.ext2,
        aa.ext3,
        aa.ext4,
        aa.del_flag
        from
        sys_administrative_area as aa
        LEFT JOIN
        sys_user u
        ON
        u.user_id = aa.create_id
        where
        aa.area_id = #{areaId}
    </select>

    <select id="list" resultType="java.util.HashMap">
        select
        area_id,
        area_name
        from
        sys_administrative_area
        where
        del_flag = 1
    </select>

    <update id="updateSysAdministrativeArea" parameterType="SysAdministrativeArea">
        update sys_administrative_area
        <trim prefix="SET" suffixOverrides=",">
            <if test="areaName != null  and areaName != ''  ">area_name = #{areaName},</if>
            <if test="parentId != null  ">parent_id = #{parentId},</if>
            <if test="code != null  and code != ''  ">code = #{code},</if>
            <if test="adminname != null  and adminname != ''  ">adminName = #{adminname},</if>
            <if test="phone != null  and phone != ''  ">phone = #{phone},</if>
            <if test="createId != null  ">create_id = #{createId},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="ext1 != null  and ext1 != ''  ">ext1 = #{ext1},</if>
            <if test="ext2 != null  and ext2 != ''  ">ext2 = #{ext2},</if>
            <if test="ext3 != null  and ext3 != ''  ">ext3 = #{ext3},</if>
            <if test="ext4 != null  and ext4 != ''  ">ext4 = #{ext4},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
        </trim>
        where area_id = #{areaId}
    </update>

    <update id="deleteSysAdministrativeAreaById" parameterType="Integer">
        update sys_administrative_area set del_flag = 0 where area_id = #{areaId}
    </update>

    <delete id="deleteSysAdministrativeAreaByIds" parameterType="String">
        delete from sys_administrative_area where area_id in
        <foreach item="areaId" collection="array" open="(" separator="," close=")">
            #{areaId}
        </foreach>
    </delete>


    <!-- 新增对象 -->
    <insert id="insertSysAdministrativeArea" parameterType="SysAdministrativeArea">
        insert into sys_administrative_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="areaId != null  ">area_id,</if>
            <if test="areaName != null  and areaName != ''  ">area_name,</if>
            <if test="parentId != null  ">parent_id,</if>
            <if test="code != null  and code != ''  ">code,</if>
            <if test="adminname != null  and adminname != ''  ">adminName,</if>
            <if test="phone != null  and phone != ''  ">phone,</if>
            <if test="createId != null  ">create_id,</if>
            <if test="createTime != null  ">create_time,</if>
            <if test="remark != null  and remark != ''  ">remark,</if>
            <if test="ext1 != null  and ext1 != ''  ">ext1,</if>
            <if test="ext2 != null  and ext2 != ''  ">ext2,</if>
            <if test="ext3 != null  and ext3 != ''  ">ext3,</if>
            <if test="ext4 != null  and ext4 != ''  ">ext4,</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="areaId != null  ">#{areaId},</if>
            <if test="areaName != null  and areaName != ''  ">#{areaName},</if>
            <if test="parentId != null  ">#{parentId},</if>
            <if test="code != null  and code != ''  ">#{code},</if>
            <if test="adminname != null  and adminname != ''  ">#{adminname},</if>
            <if test="phone != null  and phone != ''  ">#{phone},</if>
            <if test="createId != null  ">#{createId},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="remark != null  and remark != ''  ">#{remark},</if>
            <if test="ext1 != null  and ext1 != ''  ">#{ext1},</if>
            <if test="ext2 != null  and ext2 != ''  ">#{ext2},</if>
            <if test="ext3 != null  and ext3 != ''  ">#{ext3},</if>
            <if test="ext4 != null  and ext4 != ''  ">#{ext4},</if>
            <if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
        </trim>
    </insert>


    <!-- 表字段 -->
    <sql id="column">
        area_id,  <!--  -->
        area_name,  <!-- 名称 -->
        parent_id,  <!-- 父级id -->
        code,  <!-- 区划代码 -->
        adminName,  <!-- 负责人 -->
        phone,  <!-- 负责人电话 -->
        create_id,  <!-- 创建人id -->
        create_time,  <!-- 创建时间 -->
        remark,  <!-- 备注 -->
        ext1,  <!--  -->
        ext2,  <!--  -->
        ext3,  <!--  -->
        ext4,  <!--  -->
        del_flag  <!--  -->
    </sql>

    <!-- Where精确匹配字段 -->
    <sql id="equal">
        <if test="areaId != null ">
            AND area_id = #{areaId}  <!--  -->
        </if>
        <if test="areaName != null and areaName != ''">
            AND area_name = #{areaName}  <!-- 名称 -->
        </if>
        <if test="parentId != null ">
            AND parent_id = #{parentId}  <!-- 父级id -->
        </if>
        <if test="code != null and code != ''">
            AND code = #{code}  <!-- 区划代码 -->
        </if>
        <if test="adminname != null and adminname != ''">
            AND adminName = #{adminname}  <!-- 负责人 -->
        </if>
        <if test="phone != null and phone != ''">
            AND phone = #{phone}  <!-- 负责人电话 -->
        </if>
        <if test="createId != null ">
            AND create_id = #{createId}  <!-- 创建人 -->
        </if>
        <if test="createTime != null ">
            AND create_time = #{createTime}  <!-- 创建时间 -->
        </if>
        <if test="remark != null and remark != ''">
            AND remark = #{remark}  <!-- 备注 -->
        </if>
        <if test="ext1 != null and ext1 != ''">
            AND ext1 = #{ext1}  <!--  -->
        </if>
        <if test="ext2 != null and ext2 != ''">
            AND ext2 = #{ext2}  <!--  -->
        </if>
        <if test="ext3 != null and ext3 != ''">
            AND ext3 = #{ext3}  <!--  -->
        </if>
        <if test="ext4 != null and ext4 != ''">
            AND ext4 = #{ext4}  <!--  -->
        </if>
    </sql>

    <!-- Where模糊匹配字段 -->
    <sql id="like">
        <if test="areaName != null and areaName != ''">
            AND area_name like '%${areaName}%'  <!-- 名称 -->
        </if>
        <if test="code != null and code != ''">
            AND code like '%${code}%'  <!-- 区划代码 -->
        </if>
        <if test="adminname != null and adminname != ''">
            AND adminName like '%${adminname}%'  <!-- 负责人 -->
        </if>
        <if test="phone != null and phone != ''">
            AND phone like '%${phone}%'  <!-- 负责人电话 -->
        </if>
        <if test="remark != null and remark != ''">
            AND remark like '%${remark}%'  <!-- 备注 -->
        </if>
        <if test="ext1 != null and ext1 != ''">
            AND ext1 like '%${ext1}%'  <!--  -->
        </if>
        <if test="ext2 != null and ext2 != ''">
            AND ext2 like '%${ext2}%'  <!--  -->
        </if>
        <if test="ext3 != null and ext3 != ''">
            AND ext3 like '%${ext3}%'  <!--  -->
        </if>
        <if test="ext4 != null and ext4 != ''">
            AND ext4 like '%${ext4}%'  <!--  -->
        </if>
        <if test="delFlag != null and delFlag != ''">
            AND del_flag like '%${delFlag}%'  <!--  -->
        </if>
    </sql>
</mapper>
