<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztman.admin.mapper.SysCompanyMapper">

    <!-- 通用返回对象 -->
    <resultMap type="com.ztman.admin.api.entity.SysCompany" id="sysCompanyResult">
        <result property="comId" column="com_id"/> <!--  -->
        <result property="name" column="name"/> <!-- 企业名称 -->
        <result property="code" column="code"/> <!-- 企业编号 -->
        <result property="tenantId" column="tenant_id"/> <!-- 所属租户id -->
        <result property="adminName" column="admin_name"/> <!-- 负责人id -->
        <result property="phone" column="phone"/> <!-- 联系方式 -->
        <result property="createId" column="create_id"/> <!-- 创建人id -->
        <result property="createTime" column="create_time"/> <!-- 创建时间 -->
        <result property="status" column="status"/> <!-- 服务状态 -->
        <result property="description" column="description"/> <!-- 描述 -->
        <result property="ext1" column="ext1"/> <!--  -->
        <result property="ext2" column="ext2"/> <!--  -->
        <result property="ext3" column="ext3"/> <!--  -->
        <result property="ext4" column="ext4"/> <!--  -->
<!--        <result property="tenantId" column="tenant_id"/> &lt;!&ndash;  &ndash;&gt;-->
    </resultMap>


    <sql id="selectSysCompanyVo">
        select com_id, name, code, tenant_id, admin_name, del_flag, phone, create_id, create_time, status, description, ext1, ext2, ext3, ext4 from sys_company
    </sql>
    <!-- 查询对象List -->
    <select id="selectSysCompanyList" parameterType="SysCompany" resultMap="sysCompanyResult">
        <include refid="selectSysCompanyVo"/>
        <where>
            <include refid="equal"/>
        </where>
    </select>

    <!-- 模糊查询对象List -->
    <select id="selectSysCompanyListByLike" parameterType="SysCompany" resultType="com.ztman.admin.api.vo.SysCompanyVO">
        SELECT
        com.com_id,
        com.name,
        com.code,
        com.tenant_id,
        com.admin_name,
        com.phone,
        com.create_id,
        com.create_time,
        com.status,
        com.description,
        com.ext1,
        com.ext2,
        com.ext3,
        com.ext4,
        t.tenant_name,
        cu.user_realname as create_name
        FROM
        sys_company as com
        LEFT JOIN
        sys_tenant as t
        ON
        com.tenant_id = t.tenant_id
        LEFT JOIN
        sys_user as cu
        ON
        com.create_id = cu.user_id
        where
        com.del_flag = 1
        <if test="name != null and name != ''">
            AND com.name like '%${name}%'  <!-- 企业名称 -->
            OR com.code like '%${name}%'  <!-- 企业编号 -->
        </if>
        <if test="phone != null and phone != ''">
            AND com.phone like '%${phone}%'  <!-- 联系方式 -->
        </if>
        <if test="tenantId != null and tenantId != ''">
            AND com.tenant_id = ${tenantId}  <!-- 所属租户 -->
        </if>
        <if test="status != null and status != ''">
            AND com.status like '%${status}%'  <!-- 服务状态 -->
        </if>
        <if test="description != null and description != ''">
            AND com.description like '%${description}%'  <!-- 描述 -->
        </if>
        <if test="ext1 != null and ext1 != ''">
            AND com.ext1 like '%${ext1}%'  <!--  -->
        </if>
        <if test="ext2 != null and ext2 != ''">
            AND com.ext2 like '%${ext2}%'  <!--  -->
        </if>
        <if test="ext3 != null and ext3 != ''">
            AND com.ext3 like '%${ext3}%'  <!--  -->
        </if>
        <if test="ext4 != null and ext4 != ''">
            AND com.ext4 like '%${ext4}%'  <!--  -->
        </if>
    </select>

    <select id="findSysCompanyByCode" resultType="SysCompany">
        select * from sys_company where code = #{code} and del_flag = 1
    </select>

    <!-- 根据主键查询对象 -->
    <select id="selectSysCompanyById" parameterType="Integer" resultType="com.ztman.admin.api.vo.SysCompanyVO">
        SELECT
        com.com_id,
        com.name,
        com.code,
        com.tenant_id,
        com.admin_name,
        com.phone,
        com.create_id,
        com.create_time,
        com.status,
        com.description,
        com.ext1,
        com.ext2,
        com.ext3,
        com.ext4,
        t.tenant_name,
        cu.user_realname as create_name
        FROM
        sys_company as com
        LEFT JOIN
        sys_tenant as t
        ON
        com.tenant_id = t.tenant_id
        LEFT JOIN
        sys_user as cu
        ON
        com.create_id = cu.user_id
        where
        com.com_id = #{comId}
    </select>

    <select id="list" resultType="java.util.HashMap">
        SELECT
        com_id,
        `name`
        FROM
        sys_company
        where
        status = 1
        and
        del_flag = 1
        <if test="tenantId != null and tenantId != ''">
            and tenant_id = ${tenantId}
        </if>
    </select>

    <select id="inputList" resultType="java.util.HashMap">
        SELECT
        com_id,
        `name`
        FROM
        sys_company
        where
        status = 1
        and
        del_flag = 1
        <if test="tenantId != null and tenantId != ''">
            and tenant_id = ${tenantId}
        </if>
<!--        <if test="tenantId != null and tenantId != ''">-->
<!--            and tenant_id = ${tenantId}-->
<!--        </if>-->
    </select>

    <update id="updateSysCompany" parameterType="SysCompany">
        update sys_company
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="code != null  and code != ''  ">code = #{code},</if>
            <if test="tenantId != null  ">tenant_id = #{tenantId},</if>
            <if test="adminName != null  ">admin_name = #{adminName},</if>
            <if test="phone != null  and phone != ''  ">phone = #{phone},</if>
            <if test="createId != null  ">create_id = #{createId},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="description != null  and description != ''  ">description = #{description},</if>
            <if test="ext1 != null  and ext1 != ''  ">ext1 = #{ext1},</if>
            <if test="ext2 != null  and ext2 != ''  ">ext2 = #{ext2},</if>
            <if test="ext3 != null  and ext3 != ''  ">ext3 = #{ext3},</if>
            <if test="ext4 != null  and ext4 != ''  ">ext4 = #{ext4},</if>
        </trim>
        where com_id = #{comId}
    </update>

    <update id="updateStatus" parameterType="SysCompany">
        update sys_company
        set status = #{status}
        where com_id = #{comId}
    </update>

    <update id="deleteSysCompanyById" parameterType="Integer">
        update sys_company set del_flag = 0 where com_id = #{comId}
    </update>

    <delete id="deleteSysCompanyByIds" parameterType="String">
        delete from sys_company where com_id in
        <foreach item="comId" collection="array" open="(" separator="," close=")">
            #{comId}
        </foreach>
    </delete>


    <!-- 新增对象 -->
    <insert id="insertSysCompany" parameterType="SysCompany" useGeneratedKeys="true" keyProperty="comId">
        insert into sys_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name,</if>
            <if test="code != null  and code != ''  ">code,</if>
            <if test="tenantId != null  ">tenant_id,</if>
            <if test="adminName != null  ">admin_name,</if>
            <if test="phone != null  and phone != ''  ">phone,</if>
            <if test="createId != null  ">create_id,</if>
            <if test="createTime != null  ">create_time,</if>
            <if test="status != null  and status != ''  ">status,</if>
            <if test="description != null  and description != ''  ">description,</if>
            <if test="ext1 != null  and ext1 != ''  ">ext1,</if>
            <if test="ext2 != null  and ext2 != ''  ">ext2,</if>
            <if test="ext3 != null  and ext3 != ''  ">ext3,</if>
            <if test="ext4 != null  and ext4 != ''  ">ext4,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''  ">#{name},</if>
            <if test="code != null  and code != ''  ">#{code},</if>
            <if test="tenantId != null  ">#{tenantId},</if>
            <if test="adminName != null  ">#{adminName},</if>
            <if test="phone != null  and phone != ''  ">#{phone},</if>
            <if test="createId != null  ">#{createId},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="status != null  and status != ''  ">#{status},</if>
            <if test="description != null  and description != ''  ">#{description},</if>
            <if test="ext1 != null  and ext1 != ''  ">#{ext1},</if>
            <if test="ext2 != null  and ext2 != ''  ">#{ext2},</if>
            <if test="ext3 != null  and ext3 != ''  ">#{ext3},</if>
            <if test="ext4 != null  and ext4 != ''  ">#{ext4},</if>
        </trim>
    </insert>


    <!-- 表字段 -->
    <sql id="column">
        com_id,  <!--  -->
        name,  <!-- 企业名称 -->
        code,  <!-- 企业编号 -->
        tenant_id,  <!-- 所属租户id -->
        admin_name,  <!-- 负责人id -->
        phone,  <!-- 联系方式 -->
        create_id,  <!-- 创建人id -->
        create_time,  <!-- 创建时间 -->
        status,  <!-- 服务状态 -->
        description,  <!-- 描述 -->
        ext1,  <!--  -->
        ext2,  <!--  -->
        ext3,  <!--  -->
        ext4,  <!--  -->
    </sql>

    <!-- Where精确匹配字段 -->
    <sql id="equal">
        <if test="comId != null ">
            AND com_id = #{comId}  <!--  -->
        </if>
        <if test="name != null and name != ''">
            AND name = #{name}  <!-- 企业名称 -->
        </if>
        <if test="code != null and code != ''">
            AND code = #{code}  <!-- 企业编号 -->
        </if>
        <if test="tenantId != null ">
            AND tenant_id = #{tenantId}  <!-- 所属租户id -->
        </if>
        <if test="adminName != null ">
            AND admin_name = #{adminName}  <!-- 负责人id -->
        </if>
        <if test="phone != null and phone != ''">
            AND phone = #{phone}  <!-- 联系方式 -->
        </if>
        <if test="createId != null ">
            AND create_id = #{createId}  <!-- 创建人id -->
        </if>
        <if test="createTime != null ">
            AND create_time = #{createTime}  <!-- 创建时间 -->
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}  <!-- 服务状态 -->
        </if>
        <if test="description != null and description != ''">
            AND description = #{description}  <!-- 描述 -->
        </if>
        <if test="ext1 != null and ext1 != ''">
            AND ext1 = #{ext1}  <!--  -->
        </if>
        <if test="ext2 != null and ext2 != ''">
            AND ext2 = #{ext2}  <!--  -->
        </if>
        <if test="ext3 != null and ext3 != ''">
            AND ext3 = #{ext3}  <!--  -->
        </if>
        <if test="ext4 != null and ext4 != ''">
            AND ext4 = #{ext4}  <!--  -->
        </if>
    </sql>

    <!-- Where模糊匹配字段 -->
    <sql id="like">
        <if test="name != null and name != ''">
            AND name like '%${name}%'  <!-- 企业名称 -->
        </if>
        <if test="code != null and code != ''">
            AND code like '%${code}%'  <!-- 企业编号 -->
        </if>
        <if test="phone != null and phone != ''">
            AND phone like '%${phone}%'  <!-- 联系方式 -->
        </if>
        <if test="status != null and status != ''">
            AND status like '%${status}%'  <!-- 服务状态 -->
        </if>
        <if test="description != null and description != ''">
            AND description like '%${description}%'  <!-- 描述 -->
        </if>
        <if test="ext1 != null and ext1 != ''">
            AND ext1 like '%${ext1}%'  <!--  -->
        </if>
        <if test="ext2 != null and ext2 != ''">
            AND ext2 like '%${ext2}%'  <!--  -->
        </if>
        <if test="ext3 != null and ext3 != ''">
            AND ext3 like '%${ext3}%'  <!--  -->
        </if>
        <if test="ext4 != null and ext4 != ''">
            AND ext4 like '%${ext4}%'  <!--  -->
        </if>
    </sql>
</mapper>
