<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztman.admin.mapper.SysDictMapper">

    <!-- 通用返回对象 -->
    <resultMap type="com.ztman.admin.api.entity.SysDict" id="sysDictResult">
        <result property="id" column="id"/> <!-- 序列 -->
        <result property="code" column="code"/> <!-- 名称 -->
        <result property="name" column="name"/> <!-- 名称 -->
        <result property="description" column="description"/> <!-- 描述 -->
        <result property="sort" column="sort"/> <!-- 排序 -->
        <result property="remarks" column="remarks"/> <!-- 备注 -->
        <result property="delFlag" column="del_flag"/> <!-- 有效判断 -->
        <result property="dictFlag" column="dict_flag"/> <!-- 有效判断 -->
        <result property="createTime" column="create_time"/> <!-- 创建时间 -->
        <result property="updateTime" column="update_time"/> <!-- 更新时间 -->
    </resultMap>


    <sql id="selectSysDictVo">
        select id,code, name, description, sort, remarks, del_flag,dict_flag, create_time, update_time from sys_dict
    </sql>

    <!-- 查询对象List -->
    <select id="selectSysDictList" parameterType="com.ztman.admin.api.entity.SysDict" resultMap="sysDictResult">
        <include refid="selectSysDictVo"/>
        <where>
            <include refid="equal"/>
        </where>
    </select>

    <!-- 模糊查询对象List -->
    <select id="selectSysDictListByLike" parameterType="com.ztman.admin.api.entity.SysDict" resultMap="sysDictResult">
        <include refid="selectSysDictVo"/>
        <where>
            <include refid="like"/>
        </where>
    </select>

    <!-- 根据主键查询对象 -->
    <select id="selectSysDictById" parameterType="Integer" resultMap="sysDictResult">
        <include refid="selectSysDictVo"/>
        where id = #{id}
    </select>


    <update id="updateSysDict" parameterType="com.ztman.admin.api.entity.SysDict">
        update sys_dict
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null  and code != ''  ">name = #{code},</if>
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="description != null  and description != ''  ">description = #{description},</if>
            <if test="sort != null  ">sort = #{sort},</if>
            <if test="remarks != null  and remarks != ''  ">remarks = #{remarks},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="dict_flag != null  and dict_flag != ''  ">dict_flag = #{dictFlag},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysDictById" parameterType="Integer">
        delete from sys_dict where id = #{id}
    </delete>

    <delete id="deleteSysDictByIds" parameterType="String">
        delete from sys_dict where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <!-- 新增对象 -->
    <insert id="insertSysDict" parameterType="com.ztman.admin.api.entity.SysDict">
        insert into sys_dict
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  ">id,</if>
            <if test="code != null  and code != ''  ">code,</if>
            <if test="name != null  and name != ''  ">name,</if>
            <if test="description != null  and description != ''  ">description,</if>
            <if test="sort != null  ">sort,</if>
            <if test="remarks != null  and remarks != ''  ">remarks,</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
            <if test="dictFlag != null  and dictFlag != ''  ">dict_flag,</if>
            <if test="createTime != null  ">create_time,</if>
            <if test="updateTime != null  ">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  ">#{id},</if>
            <if test="code != null  and code != ''  ">#{code},</if>
            <if test="name != null  and name != ''  ">#{name},</if>
            <if test="description != null  and description != ''  ">#{description},</if>
            <if test="sort != null  ">#{sort},</if>
            <if test="remarks != null  and remarks != ''  ">#{remarks},</if>
            <if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
            <if test="dictFlag != null  and dictFlag != ''  ">#{dictFlag},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="updateTime != null  ">#{updateTime},</if>
        </trim>
    </insert>


    <!-- 表字段 -->
    <sql id="column">
        id,  <!-- 序列 -->
        code,  <!-- 名称 -->
        name,  <!-- 名称 -->
        description,  <!-- 描述 -->
        sort,  <!-- 排序 -->
        remarks,  <!-- 备注 -->
        del_flag,  <!-- 有效判断 -->
        dict_flag,  <!-- 有效判断 -->
        create_time,  <!-- 创建时间 -->
        update_time  <!-- 更新时间 -->
    </sql>

    <!-- Where精确匹配字段 -->
    <sql id="equal">
        <if test="id != null ">
            AND id = #{id}  <!-- 序列 -->
        </if>
        <if test="code != null and code != ''">
            AND code = #{code}  <!-- 名称 -->
        </if>
        <if test="name != null and name != ''">
            AND name = #{name}  <!-- 名称 -->
        </if>
        <if test="description != null and description != ''">
            AND description = #{description}  <!-- 描述 -->
        </if>
        <if test="sort != null ">
            AND sort = #{sort}  <!-- 排序 -->
        </if>
        <if test="remarks != null and remarks != ''">
            AND remarks = #{remarks}  <!-- 备注 -->
        </if>
        <if test="delFlag != null and delFlag != ''">
            AND del_flag = #{delFlag}  <!-- 有效判断 -->
        </if>
        <if test="dictFlag != null and dictFlag != ''">
            AND dict_flag = #{dictFlag}  <!-- 有效判断 -->
        </if>
        <if test="createTime != null ">
            AND create_time = #{createTime}  <!-- 创建时间 -->
        </if>
        <if test="updateTime != null ">
            AND update_time = #{updateTime}  <!-- 更新时间 -->
        </if>
    </sql>

    <!-- Where模糊匹配字段 -->
    <sql id="like">
        <if test="code != null and code != ''">
            AND code like '%${code}%'  <!-- 名称 -->
        </if>
        <if test="name != null and name != ''">
            AND name like '%${name}%'  <!-- 名称 -->
        </if>
        <if test="description != null and description != ''">
            AND description like '%${description}%'  <!-- 描述 -->
        </if>
        <if test="remarks != null and remarks != ''">
            AND remarks like '%${remarks}%'  <!-- 备注 -->
        </if>
        <if test="delFlag != null and delFlag != ''">
            AND del_flag like '%${delFlag}%'  <!-- 有效判断 -->
        </if>
        <if test="dictFlag != null and dictFlag != ''">
            AND dict_flag like '%${dictFlag}%'  <!-- 有效判断 -->
        </if>
    </sql>
</mapper>
