<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztman.admin.mapper.SysRoleDeptPostMapper">

	<!-- 默认返回对象 -->
    <resultMap type="com.ztman.admin.api.entity.SysRoleDeptPost" id="sysRoleDeptPostMap">
                        <result property="id" column="id"/>
                        <result property="roleId" column="role_id"/>
                        <result property="deptId" column="dept_id"/>
                        <result property="postId" column="post_id"/>
    </resultMap>


</mapper>
