<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztman.admin.mapper.SysRoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ztman.admin.api.entity.SysRole">
		<id column="role_id" property="roleId"/>
		<result column="role_name" property="roleName"/>
		<result column="role_code" property="roleCode"/>
		<result column="role_desc" property="roleDesc"/>
		<result column="ds_type" property="dsType"/>
		<result column="ds_scope" property="dsScope"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="del_flag" property="delFlag"/>
		<result column="role_flag" property="roleFlag"/>
	</resultMap>

	<resultMap id="RoleDtoMap" type="com.ztman.admin.api.dto.RoleDTO">
		<id column="role_id" property="roleId"/>
		<result column="role_name" property="roleName"/>
		<result column="role_code" property="roleCode"/>
		<result column="role_desc" property="roleDesc"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="del_flag" property="delFlag"/>
		<result column="role_flag" property="roleFlag"/>
		<result column="dept_id" property="roleDeptId"/>
		<result column="name" property="deptName"/>
		<result column="post_id" property="postId"/>
		<result column="post_name" property="postName"/>
		<result column="user_count" property="userCount"/>
		<result column="createPeople" property="createPeople"/>
	</resultMap>

	<select id="selectRolePage" resultMap="RoleDtoMap">
		SELECT
		r.role_id,
		r.role_name,
		r.role_code,
		r.role_desc,
		r.create_time,
		r.update_time,
		r.del_flag,
		r.role_flag
		FROM
		sys_role r
		WHERE r.del_flag = 1
		ORDER BY r.role_id ASC
	</select>

	<!--根据角色名称查询-->
	<select id="selectRolePageByRoleName" resultMap="RoleDtoMap">
		SELECT
		r.role_id,
		r.role_name,
		r.role_code,
		r.role_desc,
		r.ds_type,
		r.ds_scope,
		r.create_time,
		r.update_time,
		r.del_flag,
		r.role_flag,
		su.user_realname createPeople,
		IFNULL(rc.num, 0) user_count
		FROM
		sys_role r
		LEFT JOIN
		sys_user_role as sur
		on
		sur.role_id = r.role_id
		left join sys_user su on su.user_id = r.create_by
		left join (
		select role_id,count(*) num	from sys_user_role
		GROUP BY role_id
		) rc on rc.role_id = r.role_id
		WHERE r.del_flag = 1 and r.role_id != 1
		<if test="roleName != null and roleName != ''">
			and r.role_name like '%${roleName}%'
		</if>
	<!--	<if test="companyId != null and companyId != ''">
			and (su.company_id = #{companyId} or r.create_by = #{createBy})
		</if>-->
		<if test="tenantId != null and tenantId != ''">
			and su.tenant_id = #{tenantId}
		</if>
		GROUP BY
		r.role_id
		ORDER BY r.role_id ASC
	</select>
	<select id="selectRolePageAllByRoleName" resultMap="RoleDtoMap">
		SELECT
		r.role_id,
		r.role_name,
		r.role_code,
		r.role_desc,
		r.ds_type,
		r.ds_scope,
		r.create_time,
		r.update_time,
		r.del_flag,
		r.role_flag,
		su.user_realname createPeople,
		IFNULL(rc.num, 0) user_count
		FROM
		sys_role r
		LEFT JOIN
		sys_user_role as sur
		on
		sur.role_id = r.role_id
		left join sys_user su on su.user_id = r.create_by
		left join (
		select role_id,count(*) num	from sys_user_role
		GROUP BY role_id
		) rc on rc.role_id = r.role_id
		WHERE r.del_flag = 1
		<if test="roleName != null and roleName != ''">
			and r.role_name like '%${roleName}%'
		</if>
		GROUP BY
		r.role_id
		ORDER BY r.role_id ASC
	</select>
	<!-- 通过用户ID，查询角色信息-->
	<select id="findRolesByUserId" resultMap="BaseResultMap">
        SELECT
            r.*
        FROM
        sys_role r, sys_user_role ur WHERE r.role_id = ur.role_id AND r.del_flag = 1 and  ur.user_id IN (#{userId})
    </select>
	<select id="selectListRoleId" resultType="java.lang.Integer">
         select rm.menu_id from sys_role_menu rm
         left join sys_role sr on rm.role_id = sr.role_id
         left join sys_menu sm on sm.menu_id = rm.menu_id
		where 1=1 and sm.parent_id !=-1 and sm.type=1
		<if test="roleId != null and roleId != ''">
			and sr.role_id=#{roleId}
		</if>
		<if test="roleCode != null and roleCode != ''">
			and sr.role_code = #{roleCode}
		</if>
		<if test="ptName != null and ptName != ''">
			and sm.platform_name = #{ptName}
		</if>
    </select>
	<delete id="deleteDefaultCreateRole" parameterType="com.ztman.admin.api.entity.SysRole">
		delete from sys_role where create_by=#{createBy} and role_desc = #{roleDesc}
	</delete>
</mapper>
