<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztman.admin.mapper.SysServiceOrganMapper">

    <!-- 通用返回对象 -->
    <resultMap type="com.ztman.admin.api.entity.SysServiceOrgan" id="sysServiceOrganResult">
        <result property="serviceId" column="service_id"/> <!-- id -->
        <result property="serviceName" column="service_name"/> <!-- 业务机构管理 -->
        <result property="code" column="code"/> <!-- 编码 -->
        <result property="administrativeOrganId" column="administrative_organ_id"/> <!-- 行政机构(车场)id -->
        <result property="adminName" column="admin_name"/> <!-- 负责人 -->
        <result property="phone" column="phone"/> <!-- 负责人联系方式 -->
        <result property="createId" column="create_id"/> <!-- 创建人id -->
        <result property="createTime" column="create_time"/> <!-- 创建时间 -->
        <result property="remark" column="remark"/> <!-- 备注 -->
        <result property="ext1" column="ext1"/> <!--  -->
        <result property="ext2" column="ext2"/> <!--  -->
        <result property="ext3" column="ext3"/> <!--  -->
        <result property="ext4" column="ext4"/> <!--  -->
    </resultMap>


    <sql id="selectSysServiceOrganVo">
        select service_id, service_name, code, administrative_organ_id, admin_name, phone, create_id, create_time, remark, ext1, ext2, ext3, ext4 from sys_service_organ
    </sql>
    <!-- 查询对象List -->
    <select id="selectSysServiceOrganList" parameterType="SysServiceOrgan" resultMap="sysServiceOrganResult">
        <include refid="selectSysServiceOrganVo"/>
        <where>
            <include refid="equal"/>
        </where>
    </select>

    <!-- 模糊查询对象List -->
    <select id="selectSysServiceOrganListByLike" parameterType="SysServiceOrgan" resultType="com.ztman.admin.api.vo.SysServiceOrganVO">
        select
        so.service_id,
        so.service_name,
        so.code,
        so.administrative_organ_id,
        so.admin_name,
        so.phone,
        so.create_id,
        so.create_time,
        u.user_realname as create_name,
        ao.`name` as organ_name,
        so.remark,
        so.ext1,
        so.ext2,
        so.ext3,
        so.ext4
        from
        sys_service_organ as so
        LEFT JOIN
        sys_user as u
        ON
        so.create_id = u.user_id
        LEFT JOIN
        sys_administrative_organ as ao
        ON
        ao.organ_id = so.administrative_organ_id
        where
        so.del_flag = 1
        <if test="serviceName != null and serviceName != ''">
            AND so.service_name like '%${serviceName}%'  <!-- 业务机构管理 -->
            or so.code like '%${serviceName}%' <!-- 编码 -->
        </if>
        <if test="adminName != null and adminName != ''">
            AND so.admin_name like '%${adminName}%'  <!-- 负责人 -->
        </if>
        <if test="administrativeOrganId != null and administrativeOrganId != ''">
            and so.administrative_organ_id = #{administrativeOrganId} <!-- 所属机构（车场） -->
        </if>
        <if test="phone != null and phone != ''">
            AND so.phone like '%${phone}%'  <!-- 负责人联系方式 -->
        </if>
        <if test="remark != null and remark != ''">
            AND so.remark like '%${remark}%'  <!-- 备注 -->
        </if>
        <if test="ext1 != null and ext1 != ''">
            AND so.ext1 like '%${ext1}%'  <!--  -->
        </if>
        <if test="ext2 != null and ext2 != ''">
            AND so.ext2 like '%${ext2}%'  <!--  -->
        </if>
        <if test="ext3 != null and ext3 != ''">
            AND so.ext3 like '%${ext3}%'  <!--  -->
        </if>
        <if test="ext4 != null and ext4 != ''">
            AND so.ext4 like '%${ext4}%'  <!--  -->
        </if>
    </select>

    <select id="inputList" parameterType="SysServiceOrgan" resultType="java.util.HashMap">
        SELECT
        service_id,
        service_name
        FROM
        sys_service_organ
        where
        del_flag = 1
        <if test="(organId != null and organId != '') or role == 'user'">
            and administrative_organ_id in (${organId == null ? 'null' : organId})
        </if>
    </select>

    <select id="findSysServiceOrganByCode" resultType="SysServiceOrgan">
        select * from sys_service_organ where code = #{code} and del_flag = 1
    </select>

    <select id="list" resultType="java.util.HashMap">
        SELECT
        service_id,
        service_name
        FROM
        sys_service_organ
        where
        del_flag = 1
        and administrative_organ_id = ${organId == null || organId == '' ? 'null' : organId}
    </select>

    <select id="selectSysServiceOrganListByLikeOrgan" parameterType="SysServiceOrgan" resultType="com.ztman.admin.api.vo.SysServiceOrganVO">
        select
        so.service_id,
        so.service_name,
        so.code,
        so.administrative_organ_id,
        so.admin_name,
        so.phone,
        so.create_id,
        so.create_time,
        u.user_realname as create_name,
        ao.`name` as organ_name,
        so.remark,
        so.ext1,
        so.ext2,
        so.ext3,
        so.ext4
        from
        sys_service_organ as so
        LEFT JOIN
        sys_user as u
        ON
        so.create_id = u.user_id
        LEFT JOIN
        sys_administrative_organ as ao
        ON
        ao.organ_id = so.administrative_organ_id
        where
        so.del_flag = 1
        <if test="serviceName != null and serviceName != ''">
            AND so.service_name like '%${serviceName}%'  <!-- 业务机构管理 -->
            or so.code like '%${serviceName}%' <!-- 编码 -->
        </if>
        <if test="adminName != null and adminName != ''">
            AND so.admin_name like '%${adminName}%'  <!-- 负责人 -->
        </if>
        <if test="administrativeOrganId != null and administrativeOrganId != ''">
            and so.administrative_organ_id = #{administrativeOrganId} <!-- 所属机构（车场） -->
        </if>
        <if test="organId != null and organId != ''">
            and so.administrative_organ_id in (${organId == null ? "null" : organId }) <!-- 所属机构（车场） -->
        </if>
        <if test="phone != null and phone != ''">
            AND so.phone like '%${phone}%'  <!-- 负责人联系方式 -->
        </if>
        <if test="remark != null and remark != ''">
            AND so.remark like '%${remark}%'  <!-- 备注 -->
        </if>
        <if test="ext1 != null and ext1 != ''">
            AND so.ext1 like '%${ext1}%'  <!--  -->
        </if>
        <if test="ext2 != null and ext2 != ''">
            AND so.ext2 like '%${ext2}%'  <!--  -->
        </if>
        <if test="ext3 != null and ext3 != ''">
            AND so.ext3 like '%${ext3}%'  <!--  -->
        </if>
        <if test="ext4 != null and ext4 != ''">
            AND so.ext4 like '%${ext4}%'  <!--  -->
        </if>
    </select>

    <!-- 根据主键查询对象 -->
    <select id="selectSysServiceOrganById" parameterType="Integer" resultType="com.ztman.admin.api.vo.SysServiceOrganVO">
        select
        so.service_id,
        so.service_name,
        so.code,
        so.administrative_organ_id,
        so.admin_name,
        so.phone,
        so.create_id,
        so.create_time,
        u.user_realname as create_name,
        ao.`name` as organ_name,
        so.remark,
        so.ext1,
        so.ext2,
        so.ext3,
        so.ext4
        from
        sys_service_organ as so
        LEFT JOIN
        sys_user as u
        ON
        so.create_id = u.user_id
        LEFT JOIN
        sys_administrative_organ as ao
        ON
        ao.organ_id = so.administrative_organ_id
        where so.service_id = #{serviceId}
    </select>


    <update id="updateSysServiceOrgan" parameterType="SysServiceOrgan">
        update sys_service_organ
        <trim prefix="SET" suffixOverrides=",">
            <if test="serviceName != null  and serviceName != ''  ">service_name = #{serviceName},</if>
            <if test="code != null  and code != ''  ">code = #{code},</if>
            <if test="administrativeOrganId != null  ">administrative_organ_id = #{administrativeOrganId},</if>
            <if test="adminName != null  and adminName != ''  ">admin_name = #{adminName},</if>
            <if test="phone != null  and phone != ''  ">phone = #{phone},</if>
            <if test="createId != null  ">create_id = #{createId},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="ext1 != null  and ext1 != ''  ">ext1 = #{ext1},</if>
            <if test="ext2 != null  and ext2 != ''  ">ext2 = #{ext2},</if>
            <if test="ext3 != null  and ext3 != ''  ">ext3 = #{ext3},</if>
            <if test="ext4 != null  and ext4 != ''  ">ext4 = #{ext4},</if>
        </trim>
        where service_id = #{serviceId}
    </update>

    <update id="deleteSysServiceOrganById" parameterType="Integer">
        update sys_service_organ set del_flag = 0 where service_id = #{serviceId}
    </update>

    <delete id="deleteSysServiceOrganByIds" parameterType="String">
        delete from sys_service_organ where service_id in
        <foreach item="serviceId" collection="array" open="(" separator="," close=")">
            #{serviceId}
        </foreach>
    </delete>

    <select id="selectOrganIdsByUserId" resultType="java.lang.Integer">
        SELECT
        ao.organ_id
        FROM
        sys_tenant as t
        INNER JOIN
        sys_company as c
        ON
        t.tenant_id = c.tenant_id
        INNER JOIN
        sys_administrative_organ as ao
        ON
        c.com_id = ao.com_id
        WHERE
        t.admin = #{userId}
        and
        t.del_flag = 1
    </select>


    <!-- 新增对象 -->
    <insert id="insertSysServiceOrgan" parameterType="SysServiceOrgan" useGeneratedKeys="true" keyProperty="serviceId">
        insert into sys_service_organ
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serviceName != null  and serviceName != ''  ">service_name,</if>
            <if test="code != null  and code != ''  ">code,</if>
            <if test="administrativeOrganId != null  ">administrative_organ_id,</if>
            <if test="adminName != null  and adminName != ''  ">admin_name,</if>
            <if test="phone != null  and phone != ''  ">phone,</if>
            <if test="createId != null  ">create_id,</if>
            <if test="createTime != null  ">create_time,</if>
            <if test="remark != null  and remark != ''  ">remark,</if>
            <if test="ext1 != null  and ext1 != ''  ">ext1,</if>
            <if test="ext2 != null  and ext2 != ''  ">ext2,</if>
            <if test="ext3 != null  and ext3 != ''  ">ext3,</if>
            <if test="ext4 != null  and ext4 != ''  ">ext4,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serviceName != null  and serviceName != ''  ">#{serviceName},</if>
            <if test="code != null  and code != ''  ">#{code},</if>
            <if test="administrativeOrganId != null  ">#{administrativeOrganId},</if>
            <if test="adminName != null  and adminName != ''  ">#{adminName},</if>
            <if test="phone != null  and phone != ''  ">#{phone},</if>
            <if test="createId != null  ">#{createId},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="remark != null  and remark != ''  ">#{remark},</if>
            <if test="ext1 != null  and ext1 != ''  ">#{ext1},</if>
            <if test="ext2 != null  and ext2 != ''  ">#{ext2},</if>
            <if test="ext3 != null  and ext3 != ''  ">#{ext3},</if>
            <if test="ext4 != null  and ext4 != ''  ">#{ext4},</if>
        </trim>
    </insert>


    <!-- 表字段 -->
    <sql id="column">
        service_id,  <!-- id -->
        service_name,  <!-- 业务机构管理 -->
        code,  <!-- 编码 -->
        administrative_organ_id,  <!-- 行政机构(车场)id -->
        admin_name,  <!-- 负责人 -->
        phone,  <!-- 负责人联系方式 -->
        create_id,  <!-- 创建人id -->
        create_time,  <!-- 创建时间 -->
        remark,  <!-- 备注 -->
        ext1,  <!--  -->
        ext2,  <!--  -->
        ext3,  <!--  -->
        ext4
    </sql>

    <!-- Where精确匹配字段 -->
    <sql id="equal">
        <if test="serviceId != null ">
            AND service_id = #{serviceId}  <!-- id -->
        </if>
        <if test="serviceName != null and serviceName != ''">
            AND service_name = #{serviceName}  <!-- 业务机构管理 -->
        </if>
        <if test="code != null and code != ''">
            AND code = #{code}  <!-- 编码 -->
        </if>
        <if test="administrativeOrganId != null ">
            AND administrative_organ_id = #{administrativeOrganId}  <!-- 行政机构(车场)id -->
        </if>
        <if test="adminName != null and adminName != ''">
            AND admin_name = #{adminName}  <!-- 负责人 -->
        </if>
        <if test="phone != null and phone != ''">
            AND phone = #{phone}  <!-- 负责人联系方式 -->
        </if>
        <if test="createId != null ">
            AND create_id = #{createId}  <!-- 创建人id -->
        </if>
        <if test="createTime != null ">
            AND create_time = #{createTime}  <!-- 创建时间 -->
        </if>
        <if test="remark != null and remark != ''">
            AND remark = #{remark}  <!-- 备注 -->
        </if>
        <if test="ext1 != null and ext1 != ''">
            AND ext1 = #{ext1}  <!--  -->
        </if>
        <if test="ext2 != null and ext2 != ''">
            AND ext2 = #{ext2}  <!--  -->
        </if>
        <if test="ext3 != null and ext3 != ''">
            AND ext3 = #{ext3}  <!--  -->
        </if>
        <if test="ext4 != null and ext4 != ''">
            AND ext4 = #{ext4}  <!--  -->
        </if>
    </sql>

    <!-- Where模糊匹配字段 -->
    <sql id="like">
        <if test="serviceName != null and serviceName != ''">
            AND service_name like '%${serviceName}%'  <!-- 业务机构管理 -->
        </if>
        <if test="code != null and code != ''">
            AND code like '%${code}%'  <!-- 编码 -->
        </if>
        <if test="adminName != null and adminName != ''">
            AND admin_name like '%${adminName}%'  <!-- 负责人 -->
        </if>
        <if test="phone != null and phone != ''">
            AND phone like '%${phone}%'  <!-- 负责人联系方式 -->
        </if>
        <if test="remark != null and remark != ''">
            AND remark like '%${remark}%'  <!-- 备注 -->
        </if>
        <if test="ext1 != null and ext1 != ''">
            AND ext1 like '%${ext1}%'  <!--  -->
        </if>
        <if test="ext2 != null and ext2 != ''">
            AND ext2 like '%${ext2}%'  <!--  -->
        </if>
        <if test="ext3 != null and ext3 != ''">
            AND ext3 like '%${ext3}%'  <!--  -->
        </if>
        <if test="ext4 != null and ext4 != ''">
            AND ext4 like '%${ext4}%'  <!--  -->
        </if>
    </sql>
</mapper>
