<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztman.admin.mapper.SysSystemIntegrationMapper">

    <!-- 通用返回对象 -->
    <resultMap type="com.ztman.admin.api.vo.SysSystemIntegrationVO" id="sysSystemIntegrationResult">
        <result property="systemId" column="system_id"/> <!--  -->
        <result property="systemName" column="system_name"/> <!-- 系统名称 -->
        <result property="systemHttp" column="system_http"/> <!-- 地址 -->
        <result property="systemUnit" column="system_unit"/> <!-- 管理单位 -->
        <result property="systemMeetPeople" column="system_meet_people"/> <!-- 对接人 -->
        <result property="systemMeetPeoplePhone" column="system_meet_people_phone"/> <!-- 联系电话 -->
        <result property="createBy" column="create_by"/> <!--  -->
        <result property="createTime" column="create_time"/> <!--  -->
        <result property="updateBy" column="update_by"/> <!--  -->
        <result property="updateTime" column="update_time"/> <!--  -->
        <result property="interfaceCount" column="interfaceCount"/> <!--  -->
        <result property="systemFlag" column="system_flag"/> <!-- 状态 1 有效 0 异常 -->
        <result property="delFlag" column="del_flag"/> <!--  -->
        <result property="systemStatus" column="system_status"/> <!-- 1系统集成，2物联网集成 -->
        <result property="remark" column="remark"/> <!-- 1系统集成，2物联网集成 -->
        <result property="createName" column="createName"/> <!-- 1系统集成，2物联网集成 -->
    </resultMap>


    <sql id="selectSysSystemIntegrationVo">
        select system_id, system_name, system_http, system_unit,
         system_meet_people, system_meet_people_phone, create_by,
         create_time, update_by, update_time, system_flag, del_flag,
          system_status,remark from sys_system_integration
    </sql>
    <!-- 查询对象List -->
    <select id="selectSysSystemIntegrationList" parameterType="SysSystemIntegration"
            resultMap="sysSystemIntegrationResult">
        <include refid="selectSysSystemIntegrationVo"/>
        <where>
            <include refid="equal"/>
        </where>
    </select>

    <!-- 模糊查询对象List -->
    <select id="selectSysSystemIntegrationListByLike" parameterType="SysSystemIntegration"
            resultMap="sysSystemIntegrationResult">
        select
        integration.system_id,
        integration.system_name,
        integration.system_http,
        integration.system_unit,
        integration.system_meet_people,
        integration.system_meet_people_phone,
        integration.create_by,
        integration.create_time,
        integration.update_by,
        integration.update_time,
        integration.system_flag,
        integration.del_flag,
        integration.system_status,
        integration.remark,
        us.user_realname createName,
        interface.num interfaceCount
        from sys_system_integration integration
        left join sys_user us on us.user_id = integration.create_by

        left join ( select sys_id,count(*) num
        from sys_system_interface
        GROUP BY sys_id
        ) interface on interface.sys_id = integration.system_id
        <where>
            <include refid="like"/>
        </where>
        order by  integration.create_time desc
    </select>

    <!-- 根据主键查询对象 -->
    <select id="selectSysSystemIntegrationById" parameterType="Integer" resultMap="sysSystemIntegrationResult">
        <include refid="selectSysSystemIntegrationVo"/>
        where system_id = #{systemId}
    </select>


    <update id="updateSysSystemIntegration" parameterType="SysSystemIntegration">
        update sys_system_integration
        <trim prefix="SET" suffixOverrides=",">
            <if test="systemName != null  and systemName != ''  ">system_name = #{systemName},</if>
            <if test="systemHttp != null  and systemHttp != ''  ">system_http = #{systemHttp},</if>
            <if test="systemUnit != null  and systemUnit != ''  ">system_unit = #{systemUnit},</if>
            <if test="systemMeetPeople != null  and systemMeetPeople != ''  ">system_meet_people =
                #{systemMeetPeople},
            </if>
            <if test="systemMeetPeoplePhone != null  and systemMeetPeoplePhone != ''  ">system_meet_people_phone =
                #{systemMeetPeoplePhone},
            </if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="systemFlag != null  and systemFlag != ''  ">system_flag = #{systemFlag},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="systemStatus != null  and systemStatus != ''  ">system_status = #{systemStatus},</if>
        </trim>
        where system_id = #{systemId}
    </update>

    <delete id="deleteSysSystemIntegrationById" parameterType="Integer">
        delete from sys_system_integration where system_id = #{systemId}
    </delete>

    <delete id="deleteSysSystemIntegrationByIds" parameterType="String">
        delete from sys_system_integration where system_id in
        <foreach item="systemId" collection="array" open="(" separator="," close=")">
            #{systemId}
        </foreach>
    </delete>

<select id="selectSysSystemIntegrationListJob" parameterType="SysSystemIntegration"
        resultMap="sysSystemIntegrationResult">
    <include refid="selectSysSystemIntegrationVo"/>
</select>
    <!-- 新增对象 -->
    <insert id="insertSysSystemIntegration" parameterType="SysSystemIntegration">
        insert into sys_system_integration
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="systemId != null  ">system_id,</if>
            <if test="systemName != null  and systemName != ''  ">system_name,</if>
            <if test="systemHttp != null  and systemHttp != ''  ">system_http,</if>
            <if test="systemUnit != null  and systemUnit != ''  ">system_unit,</if>
            <if test="systemMeetPeople != null  and systemMeetPeople != ''  ">system_meet_people,</if>
            <if test="systemMeetPeoplePhone != null  and systemMeetPeoplePhone != ''  ">system_meet_people_phone,</if>
            <if test="createBy != null  and createBy != ''  ">create_by,</if>
            <if test="createTime != null  ">create_time,</if>
            <if test="updateBy != null  ">update_by,</if>
            <if test="updateTime != null  ">update_time,</if>
            <if test="systemFlag != null  and systemFlag != ''  ">system_flag,</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
            <if test="systemStatus != null  and systemStatus != ''  ">system_status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="systemId != null  ">#{systemId},</if>
            <if test="systemName != null  and systemName != ''  ">#{systemName},</if>
            <if test="systemHttp != null  and systemHttp != ''  ">#{systemHttp},</if>
            <if test="systemUnit != null  and systemUnit != ''  ">#{systemUnit},</if>
            <if test="systemMeetPeople != null  and systemMeetPeople != ''  ">#{systemMeetPeople},</if>
            <if test="systemMeetPeoplePhone != null  and systemMeetPeoplePhone != ''  ">#{systemMeetPeoplePhone},</if>
            <if test="createBy != null  and createBy != ''  ">#{createBy},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="updateBy != null  ">#{updateBy},</if>
            <if test="updateTime != null  ">#{updateTime},</if>
            <if test="systemFlag != null  and systemFlag != ''  ">#{systemFlag},</if>
            <if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
            <if test="systemStatus != null  and systemStatus != ''  ">#{systemStatus},</if>
        </trim>
    </insert>


    <!-- 表字段 -->
    <sql id="column">
        system_id,  <!--  -->
        system_name,  <!-- 系统名称 -->
        system_http,  <!-- 地址 -->
        system_unit,  <!-- 管理单位 -->
        system_meet_people,  <!-- 对接人 -->
        system_meet_people_phone,  <!-- 联系电话 -->
        create_by,  <!--  -->
        create_time,  <!--  -->
        update_by,  <!--  -->
        update_time,  <!--  -->
        system_flag,  <!-- 状态 1 有效 0 异常 -->
        del_flag,  <!--  -->
        system_status  <!-- 1系统集成，2物联网集成 -->
    </sql>

    <!-- Where精确匹配字段 -->
    <sql id="equal">
        <if test="systemId != null ">
            AND system_id = #{systemId}  <!--  -->
        </if>
        <if test="systemName != null and systemName != ''">
            AND system_name = #{systemName}  <!-- 系统名称 -->
        </if>
        <if test="systemHttp != null and systemHttp != ''">
            AND system_http = #{systemHttp}  <!-- 地址 -->
        </if>
        <if test="systemUnit != null and systemUnit != ''">
            AND system_unit = #{systemUnit}  <!-- 管理单位 -->
        </if>
        <if test="systemMeetPeople != null and systemMeetPeople != ''">
            AND system_meet_people = #{systemMeetPeople}  <!-- 对接人 -->
        </if>
        <if test="systemMeetPeoplePhone != null and systemMeetPeoplePhone != ''">
            AND system_meet_people_phone = #{systemMeetPeoplePhone}  <!-- 联系电话 -->
        </if>
        <if test="createBy != null and createBy != ''">
            AND create_by = #{createBy}  <!--  -->
        </if>
        <if test="createTime != null ">
            AND create_time = #{createTime}  <!--  -->
        </if>
        <if test="updateBy != null ">
            AND update_by = #{updateBy}  <!--  -->
        </if>
        <if test="updateTime != null ">
            AND update_time = #{updateTime}  <!--  -->
        </if>
        <if test="systemFlag != null and systemFlag != ''">
            AND system_flag = #{systemFlag}  <!-- 状态 1 有效 0 异常 -->
        </if>
        <if test="delFlag != null and delFlag != ''">
            AND del_flag = #{delFlag}  <!--  -->
        </if>
        <if test="systemStatus != null and systemStatus != ''">
            AND system_status = #{systemStatus}  <!-- 1系统集成，2物联网集成 -->
        </if>
    </sql>

    <!-- Where模糊匹配字段 -->
    <sql id="like">
        <if test="systemName != null and systemName != ''">
            AND  system_name like '%${systemName}%'
             or system_unit like '%${systemName}%'
        </if>
        <if test="systemHttp != null and systemHttp != ''">
            AND system_http like '%${systemHttp}%'  <!-- 地址 -->
        </if>
        <if test="systemUnit != null and systemUnit != ''">
            AND system_unit like '%${systemUnit}%'  <!-- 管理单位 -->
        </if>
        <if test="systemMeetPeople != null and systemMeetPeople != ''">
            AND system_meet_people like '%${systemMeetPeople}%'  <!-- 对接人 -->
        </if>
        <if test="systemMeetPeoplePhone != null and systemMeetPeoplePhone != ''">
            AND system_meet_people_phone like '%${systemMeetPeoplePhone}%'  <!-- 联系电话 -->
        </if>
        <if test="createBy != null and createBy != ''">
            AND create_by like '%${createBy}%'  <!--  -->
        </if>
        <if test="systemFlag != null and systemFlag != ''">
            AND system_flag like '%${systemFlag}%'  <!-- 状态 1 有效 0 异常 -->
        </if>
        <if test="delFlag != null and delFlag != ''">
            AND del_flag like '%${delFlag}%'  <!--  -->
        </if>
        <if test="systemStatus != null and systemStatus != ''">
            AND system_status = #{systemStatus}  <!-- 1系统集成，2物联网集成 -->
        </if>
    </sql>
</mapper>
