<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.spike.mapper.GoodsMapper">
    <update id="updateGoodsNum">
        update t_goods set num = num - #{num} where id = #{id}
    </update>

    <select id="findById" resultType="java.util.HashMap">
        SELECT num FROM t_goods WHERE id = #{id}
    </select>

    <update id="update">
        update t_goods set num = #{num} where id = #{id}
    </update>
</mapper>