.full-screen{
    width: 100%;
    height: 100%;
}

// .el-form-item {
//     margin-bottom: 10px !important;
// }
// .el-form-item__label {
//   width: 110px !important;
//   color: #dddddd !important;
// }
.el-card__body{
  padding: 10px !important;
  color: #dddddd !important;
}
.el-card {
    margin-top: 10px;
    background-color: #00000059 !important;
    border: 1px solid #00000059 !important;
}

// 搜索框form
.search-form-inline{
    .el-input__inner{
        height: 35px !important;
        line-height:35px !important;
    }
    .el-button{
        padding: 8px !important;
        font-size:14px;
        background:#fff;
        color:#606266;
        border:1px solid #DCDFE6;
    }
}
.el-form-item{
    float: left;
}
.main{
    background: none;
    min-width: 1000px;
    
    ul{
      margin: 0;
      padding: 0;
  
      li{
        list-style: none;
        display: table-cell;
        vertical-align: top;
        line-height: 28px;
        margin: 0;
        padding: 0;
      }
    }

  }
//   刷新
.fj-refresh{
    float:right;
    border:1px solid #ccc;
    text-align:center;
    font-weight:bold;
    font-size:16px;
    margin-top: 5px;
    cursor: pointer;
    padding:10px;
    border-radius: 2px;
}

/* 清浮动 */
.float-fl{
    float: left;
}
.float-fr{
    float: right;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { 
    zoom: 1; /* for IE6 IE7 */
}
.dialog_mask_mine .el-dialog__header{
	padding: 10px 10px 10px;
	text-align: left;
	background: #efefef;
	font-weight: bold;
}
.dialog_mask_mine .el-dialog__headerbtn{
	top: 15px;
}
.dialog_mask_mine .el-select .el-input__inner{
	padding-right: 16px;
}

.el-table__header{
    box-sizing:border-box;
}
// 弹框定宽
.fix-width{
    width: 90%;
    margin:0 auto;
}
.app-container {
    // height: calc(100% - 40px);
    height: 100%;
	box-sizing: border-box;
	padding: 10px;
	background: #fff;
}


//表格//解决element-ui的table表格控件表头与内容列不对齐问题
.el-table th.gutter {
    display: table-cell!important;
}
.el-drawer__header{
    background: #ccc;
    text-align: center !important;
    padding:10px 0 !important;
    color: #000 !important;
    text-align: center;
}



// 修改滚动条样式
::-webkit-scrollbar {/*滚动条整体样式*/
    width: 6px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 6px;
}
a:hover{
    color: #333;
    text-decoration: none;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    //  -webkit-box-shadow: inset 0 0 5px #fff;
    background: #a3eaff;
    border: 1px solid rgba(255,255,255,0.5);
}

::-webkit-scrollbar-track {/*滚动条里面轨道*/
    // -webkit-box-shadow: inset 0 0 5px #fff;
    border: 1px solid #DCDFE6;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    
}

// 上传图片样式
.el-upload--picture-card{
    width: 102px !important;
    height: 102px !important;
}
.el-upload--picture-card{
    line-height: 110px !important;
}
.el-upload-list--picture-card .el-upload-list__item{
    width: 102px !important;
    height: 102px !important;
}

// 表格
.tab-p{
    text-align:left;
    margin-left:7px;
    color: #606266 !important;
    margin-bottom:10px;
}

.el-date-editor .el-range-separator{
    line-height:26px !important;
}

.el-menu.el-menu--horizontal{
    // border: 1px solid transparent !important;
}
// .el-button--text {
// 	color: #273d76!important;
// }
.el-form-item__label{
    font-weight: 600;
}
.table-title{
    margin-top: 14px;font-weight: 600;
}
.el-breadcrumb__inner{
    font-weight: bold !important;
}
.el-menu-item.is-active i{
    color: #4768f3!important;
}
.form_search{
	margin-top: 10px;
}
.aside-menu .el-menu-item, .el-submenu__title{
    height: 40px !important;
    line-height: 40px !important;
}

.menu-system-radio  .el-radio__inner{
    border-radius: 0 !important;
}


.el-form-item__content{
    line-height: 44px !important;
}

// 删除弹框全局修改
.el-message-box__title{
    font-weight: bold;
    font-size:20px !important;
}
.el-message-box__header{
    padding: 10px 0 0 0  !important;
}
.el-message-box__headerbtn .el-message-box__close{
    top: 13px;
    right: 15px;
    padding: 0 !important;
    font-size: 16px !important;
}
.el-message-box{
    width:300px !important;
    padding:0 20px 20px 20px!important;
}
.el-message-box__content{
    padding: 30px 0 !important;
}
.el-message-box__status+.el-message-box__message{
    text-align: center !important;
}
.el-message-box__btns{
    text-align: center !important;
}
.el-message-box__status{
    left: 40px !important;
}
.el-message-box__btns button:nth-child(2) {
    margin-left: 60px !important;
}
.el-button--small, .el-button--small.is-round{
    padding: 9px 20px !important;
}
.el-message-box__title > span{
    font-size:16px !important;
}