.app-container {
    height: calc(100vh - 200px) !important;
    padding:10px;
    .filter-container {
        .filter-item {
            margin-bottom: 0;
        }
    }
   .role_menu {
        .el-dialog {
            height: 70vh;
            margin: 0 auto;
            width: 20%;
        .el-dialog__header {
            height: 58px;
        }
        .el-dialog__body {
            height: calc(100% - 124px);
            padding: 10px 20px;
            .dialog_tree {
                height: 99%;
                #areaTree {
                    height: 100%;
                    border-width: 0;
                    .el-header {
                        padding: 0 !important;
                    }
                    .el-main {
                        padding: 0 200px !important;
                    }
                }
                }
            }
        }
    }
    .role_dept {
        .el-dialog {
            height: 70vh;
            margin: 0 auto;
        .el-dialog__header {
            height: 58px;
        }
        .el-dialog__body {
            height: calc(100% - 124px);
            padding: 10px 20px;
            .dialog_form_select {
                .el-col:first-child {
                    text-align: right;
                }
            }
            .dialog_tree {
                height: 99%;
                #areaTree {
                    height: 100%;
                    border-width: 0;
                    .el-header {
                    padding: 0 !important;
                    }
                    .el-main {
                    padding: 0 200px !important;
                    }
                }
            }
        }
        }
    }
    .basic-container {
        height: 100%;
    }
}

.drawer_permission {
  .ivu-drawer-header {
    padding: 10px 16px;
    .drawer_title {
        line-height: 30px;
        .titleSpan {
            padding: 0;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            color: #3a8ee6;
        }
        .titleSpan:before {
            content: "";
            height: 16px;
            width: 5px;
            background-color: #3a8ee6;
            display: block;
            float: left;
            text-align: center;
            margin: 7px 5px 7px 0;
        }
    }
  }
  .ivu-drawer-body {
        padding: 16px 0 10px 16px;
        .drawer_tree {
            #areaTree {
                height: 100%;
                border-width: 0;
                padding: 0 0 10px 0;
                .el-header {
                padding: 0 !important;
                }
                .el-main {
                padding: 0 2px !important;
                }
            }
        }
        .drawer_button {
            text-align: center;
        }
    }
}
.drawer_data {
    .ivu-drawer-header {
        padding: 10px 16px;
        .drawer_title {
        line-height: 30px;
        .titleSpan {
            padding: 0;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            color: #3a8ee6;
        }
        .titleSpan:before {
            content: "";
            height: 16px;
            width: 5px;
            background-color: #3a8ee6;
            display: block;
            float: left;
            text-align: center;
            margin: 7px 5px 7px 0;
        }
        }
  }
  .ivu-drawer-body {
        padding: 16px 0 10px 16px;
        .drawer_main {
        .dialog_form_select {
            .el-col:first-child {
            text-align: right;
            padding: 8px 1px !important;
            }
            .el-select {
            width: 160px !important;
            }
        }
        .dialog_tree {
            height: calc(100% - 40px);
                #areaTree {
                    height: 100%;
                    border-width: 0;
                .el-header {
                    padding: 0 !important;
                }
                .el-main {
                    padding: 0 2px !important;
                }
                }
            }
        }
        .drawer_button {
        text-align: center;
        }
    }
}
.titleSpan {
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #3a8ee6;
}
.titleSpan:before {
    content: "";
    height: 16px;
    width: 5px;
    background-color: #3a8ee6;
    display: block;
    float: left;
    text-align: center;
    margin: 6px 5px 6px 0;
}

.dialog_mask_mine >>> .el-dialog__title {
    font-size: 14px;
}

.dialog_mask_mine >>> .el-dialog__title:before {
    width: 5px;
    height: 16px;
    background-color: #409eff;
}
.preTitle {
    height: 16px;
    width: 5px;
    background-color: #3a8ee6;
    display: block;
    float: left;
    text-align: center;
    margin: 4px 0;
}
.nextTitle {
    float: left;
    padding: 0 0 0 5px;
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #666;
}

.fr {
    float: right;
}
.fl {
    float: left;
}

.el-table::before {
    height: 0;
}
.el-table {
    border: 1px solid #e5e5e5;
}
.button_edit {
    padding: 0;
    border: none;
    color: #66b1ff;
}
.button_delete {
    padding: 0;
    border: none;
    color: #f78989;
    background-color: #fff;
}
.button_delete:hover {
    color: #f78989;
}
