<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztman.ztspark.mapper.CompanyFileMapper">

    <!-- 通用返回对象 -->
    <resultMap type="com.ztman.ztspark.entity.company.CompanyFile" id="companyFileResult">
        <result property="id" column="id"/> <!--  -->
        <result property="documentName" column="document_name"/> <!-- 文档名称 -->
        <result property="signingParty" column="signing_party"/> <!-- 签订方 -->
        <result property="signingTime" column="signing_time"/> <!-- 签订时间 -->
        <result property="terminationTime" column="termination_time"/> <!-- 终止时间 -->
        <result property="cooperationMode" column="cooperation_mode"/> <!-- 合作模式 -->
        <result property="leading" column="leading"/> <!-- 负责人 -->
        <result property="code" column="code"/> <!-- 负责人 -->
        <result property="remark" column="remark"/> <!-- 负责人 -->
        <result property="tel" column="tel"/> <!-- 负责人电话 -->
        <result property="createTime" column="create_time"/> <!-- 创建时间 -->
        <result property="createBy" column="create_by"/> <!-- 创建人 -->
        <result property="updateTime" column="update_time"/> <!-- 修改时间 -->
        <result property="updateBy" column="update_by"/> <!-- 修改人 -->
        <result property="delFlag" column="del_flag"/> <!-- 删除状态，0-删除，1-正常 -->
    </resultMap>


    <sql id="selectCompanyFileVo">
        select id, document_name, signing_party, signing_time, code, termination_time, cooperation_mode, `leading`, tel, create_time, create_by, update_time, update_by, del_flag, remark from zt_company_file
    </sql>
    <!-- 查询对象List -->
    <select id="selectCompanyFileList" parameterType="CompanyFile" resultMap="companyFileResult">
        <include refid="selectCompanyFileVo"/>
        <where>
            <include refid="equal"/>
        </where>
    </select>

    <!-- 模糊查询对象List -->
    <select id="selectCompanyFileListByLike" parameterType="CompanyFile" resultMap="companyFileResult">
        select
        id,
        document_name,
        signing_party,
        signing_time,
        code,
        termination_time,
        cooperation_mode,
        `leading`,
        tel,
        create_time,
        remark
        from
        zt_company_file
        where
        del_flag = 1
        <include refid="like"/>
        ORDER BY
        create_time desc
    </select>

    <select id="selectCompanyFileByCode" resultType="CompanyFile">
        select * from zt_company_file where code = #{code}
    </select>

    <!-- 根据主键查询对象 -->
    <select id="selectCompanyFileById" parameterType="Integer" resultMap="companyFileResult">
        select
        id,
        document_name,
        signing_party,
        signing_time,
        code,
        termination_time,
        cooperation_mode,
        `leading`,
        tel,
        create_time,
        remark
        from
        zt_company_file
        where
        del_flag = 1
        and id = #{id}
    </select>


    <update id="updateCompanyFile" parameterType="CompanyFile">
        update zt_company_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="documentName != null  and documentName != ''  ">document_name = #{documentName},</if>
            <if test="signingParty != null  and signingParty != ''  ">signing_party = #{signingParty},</if>
            <if test="signingTime != null  ">signing_time = #{signingTime},</if>
            <if test="terminationTime != null  ">termination_time = #{terminationTime},</if>
            <if test="cooperationMode != null  and cooperationMode != ''  ">cooperation_mode = #{cooperationMode},</if>
            <if test="leading != null  and leading != ''  ">`leading` = #{leading},</if>
            <if test="tel != null  and tel != ''  ">tel = #{tel},</if>
            <if test="code != null  and code != ''  ">code = #{code},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="createBy != null  ">create_by = #{createBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="updateBy != null  ">update_by = #{updateBy},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteCompanyFileById" parameterType="Integer">
        update zt_company_file set del_flag = 0 where id = #{id}
    </update>

    <delete id="deleteCompanyFileByIds" parameterType="String">
        delete from zt_company_file where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <!-- 新增对象 -->
    <insert id="insertCompanyFile" parameterType="CompanyFile" useGeneratedKeys="true" keyProperty="id">
        insert into zt_company_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="documentName != null  and documentName != ''  ">document_name,</if>
            <if test="signingParty != null  and signingParty != ''  ">signing_party,</if>
            <if test="signingTime != null  ">signing_time,</if>
            <if test="terminationTime != null  ">termination_time,</if>
            <if test="cooperationMode != null  and cooperationMode != ''  ">cooperation_mode,</if>
            <if test="leading != null  and leading != ''  ">`leading`,</if>
            <if test="tel != null  and tel != ''  ">tel,</if>
            <if test="createTime != null  ">create_time,</if>
            <if test="remark != null  ">remark,</if>
            <if test="code != null  ">code,</if>
            <if test="createBy != null  ">create_by,</if>
            <if test="updateTime != null  ">update_time,</if>
            <if test="updateBy != null  ">update_by,</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="documentName != null  and documentName != ''  ">#{documentName},</if>
            <if test="signingParty != null  and signingParty != ''  ">#{signingParty},</if>
            <if test="signingTime != null  ">#{signingTime},</if>
            <if test="terminationTime != null  ">#{terminationTime},</if>
            <if test="cooperationMode != null  and cooperationMode != ''  ">#{cooperationMode},</if>
            <if test="leading != null  and leading != ''  ">#{leading},</if>
            <if test="tel != null  and tel != ''  ">#{tel},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="remark != null  ">#{remark},</if>
            <if test="code != null  ">#{code},</if>
            <if test="createBy != null  ">#{createBy},</if>
            <if test="updateTime != null  ">#{updateTime},</if>
            <if test="updateBy != null  ">#{updateBy},</if>
            <if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
        </trim>
    </insert>

    <insert id="insertCompanyFileData" parameterType="list">
        INSERT INTO zt_company_file_data VALUES
        <foreach item="dataId" collection="list" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{id}, #{dataId}
            </trim>
        </foreach>
    </insert>

    <select id="selectCompanyFileDataById" resultType="java.util.HashMap">
        SELECT
        a.id,
        a.path,
        a.file_name
        FROM
        zt_company_file_data fd
        INNER JOIN
        attachment a
        ON
        a.id = fd.img_id
        WHERE
        file_id = #{id}
    </select>

    <delete id="deleteCompanyFileDataById">
        delete from zt_company_file_data where file_id = #{id}
    </delete>

    <!-- 表字段 -->
    <sql id="column">
        id,  <!--  -->
        document_name,  <!-- 文档名称 -->
        signing_party,  <!-- 签订方 -->
        signing_time,  <!-- 签订时间 -->
        termination_time,  <!-- 终止时间 -->
        cooperation_mode,  <!-- 合作模式 -->
        `leading`,  <!-- 负责人 -->
        tel,  <!-- 负责人电话 -->
        code,  <!-- 编码 -->
        remark,  <!-- 备注 -->
        create_time,  <!-- 创建时间 -->
        create_by,  <!-- 创建人 -->
        update_time,  <!-- 修改时间 -->
        update_by,  <!-- 修改人 -->
        del_flag  <!-- 删除状态，0-删除，1-正常 -->
    </sql>

    <!-- Where精确匹配字段 -->
    <sql id="equal">
        <if test="id != null ">
            AND id = #{id}  <!--  -->
        </if>
        <if test="documentName != null and documentName != ''">
            AND document_name = #{documentName}  <!-- 文档名称 -->
        </if>
        <if test="code != null and code != ''">
            AND code = #{code}  <!-- 文档名称 -->
        </if>
        <if test="signingParty != null and signingParty != ''">
            AND signing_party = #{signingParty}  <!-- 签订方 -->
        </if>
        <if test="signingTime != null ">
            AND signing_time = #{signingTime}  <!-- 签订时间 -->
        </if>
        <if test="terminationTime != null ">
            AND termination_time = #{terminationTime}  <!-- 终止时间 -->
        </if>
        <if test="cooperationMode != null and cooperationMode != ''">
            AND cooperation_mode = #{cooperationMode}  <!-- 合作模式 -->
        </if>
        <if test="leading != null and leading != ''">
            AND `leading` = #{leading}  <!-- 负责人 -->
        </if>
        <if test="tel != null and tel != ''">
            AND tel = #{tel}  <!-- 负责人电话 -->
        </if>
        <if test="createTime != null ">
            AND create_time = #{createTime}  <!-- 创建时间 -->
        </if>
        <if test="createBy != null ">
            AND create_by = #{createBy}  <!-- 创建人 -->
        </if>
        <if test="updateTime != null ">
            AND update_time = #{updateTime}  <!-- 修改时间 -->
        </if>
        <if test="updateBy != null ">
            AND update_by = #{updateBy}  <!-- 修改人 -->
        </if>
        <if test="delFlag != null and delFlag != ''">
            AND del_flag = #{delFlag}  <!-- 删除状态，0-删除，1-正常 -->
        </if>
    </sql>

    <!-- Where模糊匹配字段 -->
    <sql id="like">
        <if test="documentName != null and documentName != ''">
            AND document_name like '%${documentName}%'  <!-- 文档名称 -->
        </if>
        <if test="code != null and code != ''">
            AND code like '%${code}%'  <!-- 编码 -->
        </if>
        <if test="signingParty != null and signingParty != ''">
            AND signing_party like '%${signingParty}%'  <!-- 签订方 -->
        </if>
        <if test="cooperationMode != null and cooperationMode != ''">
            AND cooperation_mode like '%${cooperationMode}%'  <!-- 合作模式 -->
        </if>
        <if test="leading != null and leading != ''">
            AND `leading` like '%${leading}%'  <!-- 负责人 -->
        </if>
        <if test="tel != null and tel != ''">
            AND tel like '%${tel}%'  <!-- 负责人电话 -->
        </if>
        <if test="delFlag != null and delFlag != ''">
            AND del_flag like '%${delFlag}%'  <!-- 删除状态，0-删除，1-正常 -->
        </if>
    </sql>
</mapper>
