<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztman.ztspark.mapper.CompanyPeopleMapper">

    <!-- 通用返回对象 -->
    <resultMap type="com.ztman.ztspark.entity.company.CompanyPeople" id="companyPeopleResult">
        <result property="id" column="id"/> <!--  -->
        <result property="company" column="company"/> <!-- 所属公司 -->
        <result property="parkingLot" column="parking_lot"/> <!-- 所属车场 -->
        <result property="post" column="post"/> <!-- 岗位 -->
        <result property="userName" column="user_name"/> <!-- 用户名 -->
        <result property="name" column="name"/> <!-- 姓名 -->
        <result property="tel" column="tel"/> <!-- 联系方式 -->
        <result property="department" column="department"/> <!-- 职位 -->
        <result property="remark" column="remark"/> <!-- 创建人 -->
        <result property="createTime" column="create_time"/> <!-- 创建时间 -->
        <result property="createBy" column="create_by"/> <!-- 创建人 -->
        <result property="updateTime" column="update_time"/> <!-- 修改时间 -->
        <result property="updateBy" column="update_by"/> <!-- 修改人 -->
        <result property="delFlag" column="del_flag"/> <!-- 删除状态，0-删除，1-正常 -->
    </resultMap>


    <sql id="selectCompanyPeopleVo">
        select id, company, parking_lot, post, user_name, name, tel, department, remark, create_time, create_by, update_time, update_by, del_flag from zt_company_people
    </sql>
    <!-- 查询对象List -->
    <select id="selectCompanyPeopleList" parameterType="CompanyPeople" resultMap="companyPeopleResult">
        <include refid="selectCompanyPeopleVo"/>
        <where>
            <include refid="equal"/>
        </where>
    </select>

    <!-- 模糊查询对象List -->
    <select id="selectCompanyPeopleListByLike" parameterType="CompanyPeople" resultMap="companyPeopleResult">
        select
        p.id,
        so.service_name com_name,
        ao.`name` organ_name,
        p.user_name,
        p.company,
        p.parking_lot,
        p.`name`,
        p.tel,
        p.department,
        p.avatar,
        p.remark,
        p.lng,
        p.lat,
        p.login_time,
        p.last_login_date,
        p.code,
        p.is_duty,
        p.create_time,
        u.user_realname as create_name
        from
        zt_company_people as p
        LEFT JOIN
        sys_user as u
        ON
        u.user_id = p.create_by
        LEFT JOIN
        sys_administrative_organ as ao
        ON
        ao.organ_id = p.parking_lot
        LEFT JOIN
        sys_service_organ as so
        ON
        so.service_id = p.company
        where
        p.del_flag = 1
        <if test="name != null and name != ''">
            AND p.`name` like '%${name}%'  <!-- 姓名 -->
            or p.tel like '%${name}%' <!-- 联系方式 -->
        </if>
        <if test="company != null and company != ''">
            AND p.company = #{company}  <!-- 所属公司 -->
        </if>
        <if test="companyId != null and companyId != ''">
            AND p.company in (#{companyId})  <!-- 所属公司 -->
        </if>
        <if test="comId != null and comId != ''">
            AND p.com_id = #{comId}  <!-- 所属公司 -->
        </if>
        <if test="parkingLot != null and parkingLot != ''">
            AND p.parking_lot = #{parkingLot}  <!-- 所属车场 -->
        </if>
        ORDER BY
        p.is_duty desc,p.create_time desc
    </select>

    <select id="selectCompanyPeopleListByComId" parameterType="CompanyPeople" resultMap="companyPeopleResult">
        select
        p.id,
        so.service_name com_name,
        ao.`name` organ_name,
        p.company,
        p.parking_lot,
        p.user_name,
        p.`name`,
        p.tel,
        p.department,
        p.avatar,
        p.remark,
        p.lng,
        p.lat,
        p.login_time,
        p.last_login_date,
        p.code,
        p.is_duty,
        p.create_time,
        u.user_realname as create_name
        from
        zt_company_people as p
        LEFT JOIN
        sys_user as u
        ON
        u.user_id = p.create_by
        LEFT JOIN
        sys_administrative_organ as ao
        ON
        ao.organ_id = p.parking_lot
        LEFT JOIN
        sys_service_organ as so
        ON
        so.service_id = p.company
        where
        p.del_flag = 1
        and
        p.com_id = #{comId}
        <if test="name != null and name != ''">
            AND p.`name` like '%${name}%'  <!-- 姓名 -->
            or p.tel like '%${name}%'  <!-- 联系方式 -->
        </if>
        <if test="company != null and company != ''">
            AND p.company = #{company}  <!-- 所属公司 -->
        </if>
        <if test="parkingLot != null and parkingLot != ''">
            AND p.parking_lot = #{parkingLot}  <!-- 所属车场 -->
        </if>
        <if test="comId != null and comId != ''">
            AND p.com_id = #{comId}  <!-- 所属车场 -->
        </if>
        ORDER BY
        p.is_duty desc,p.create_time desc
    </select>

    <!-- 根据主键查询对象 -->
    <select id="selectCompanyIdsByUserId" resultType="java.lang.Integer">
        SELECT
        c.com_id
        FROM
        sys_tenant as t
        INNER JOIN
        sys_company as c
        ON
        c.tenant_id = t.tenant_id
        WHERE
        t.admin = #{userId}
        and
        t.del_flag = 1
    </select>

    <select id="selectCompanyPeopleById" parameterType="Integer" resultMap="companyPeopleResult">
        select
        p.id,
        so.service_name com_name,
        ao.`name` organ_name,
        p.company,
        p.parking_lot,
        p.user_name,
        p.`name`,
        p.tel,
        p.department,
        p.avatar,
        p.remark,
        p.lng,
        p.lat,
        p.login_time,
        p.last_login_date,
        p.code,
        p.is_duty,
        p.create_time,
        u.user_realname as create_name
        from
        zt_company_people as p
        LEFT JOIN
        sys_user as u
        ON
        u.user_id = p.create_by
        LEFT JOIN
        sys_administrative_organ as ao
        ON
        ao.organ_id = p.parking_lot
        LEFT JOIN
        sys_service_organ as so
        ON
        so.service_id = p.company
        where
        p.del_flag = 1
        and
        p.id = #{id}
    </select>

    <select id="inputList" parameterType="CompanyPeople" resultType="CompanyPeople">
        SELECT
        *
        FROM
        zt_company_people
        WHERE
        1=1
        <if test="organId != null and organId != ''">
            and parking_lot = #{organId}    <!-- 所属车场 -->
        </if>
        <if test="comId != null and comId != ''">
            and com_id = #{comId}
        </if>
        <if test="companyId != null and companyId != ''">
            AND com_id in (#{companyId})  <!-- 所属公司 -->
        </if>
        <if test="serviceId != null and serviceId != ''">
            AND company = #{serviceId}  <!-- 所属机构 -->
        </if>
    </select>

    <select id="selectCompanyPeopleByUserName" resultType="com.ztman.admin.api.entity.SysUser">
        SELECT
        *
        FROM
        sys_user
        WHERE
        username = #{name}
    </select>

    <select id="selectCompanyPeopleByTel" parameterType="CompanyPeople" resultType="com.ztman.admin.api.entity.SysUser">
        SELECT
        *
        FROM
        sys_user
        WHERE
        phone = #{tel}
        and
        del_flag = 1
    </select>

    <update id="updateCompanyPeople" parameterType="CompanyPeople">
        update zt_company_people
        <trim prefix="SET" suffixOverrides=",">
            <if test="company != null  and company != ''  ">company = #{company},</if>
            <if test="parkingLot != null  and parkingLot != ''  ">parking_lot = #{parkingLot},</if>
            <if test="post != null  and post != ''  ">post = #{post},</if>
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="tel != null  and tel != ''  ">tel = #{tel},</if>
            <if test="department != null  and department != ''  ">department = #{department},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="createBy != null  ">create_by = #{createBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="updateBy != null  ">update_by = #{updateBy},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteCompanyPeopleById" parameterType="Integer">
        update zt_company_people set del_flag = 0 where id = #{id}
    </update>

    <delete id="deleteCompanyPeopleByIds" parameterType="String">
        delete from zt_company_people where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <!-- 新增对象 -->
    <insert id="insertCompanyPeople" parameterType="CompanyPeople" useGeneratedKeys="true" keyProperty="id">
        insert into zt_company_people
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="company != null  and company != ''  ">company,</if>
            <if test="parkingLot != null  and parkingLot != ''  ">parking_lot,</if>
            <if test="post != null  and post != ''  ">post,</if>
            <if test="userName != null  and userName != ''  ">user_name,</if>
            <if test="name != null  and name != ''  ">name,</if>
            <if test="tel != null  and tel != ''  ">tel,</if>
            <if test="department != null  and department != ''  ">department,</if>
            <if test="remark != null  and remark != ''  ">remark,</if>
            <if test="createTime != null  ">create_time,</if>
            <if test="createBy != null  ">create_by,</if>
            <if test="updateTime != null  ">update_time,</if>
            <if test="updateBy != null  ">update_by,</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
            <if test="comId != null  and comId != ''  ">com_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="company != null  and company != ''  ">#{company},</if>
            <if test="parkingLot != null  and parkingLot != ''  ">#{parkingLot},</if>
            <if test="post != null  and post != ''  ">#{post},</if>
            <if test="userName != null  and userName != ''  ">#{userName},</if>
            <if test="name != null  and name != ''  ">#{name},</if>
            <if test="tel != null  and tel != ''  ">#{tel},</if>
            <if test="department != null  and department != ''  ">#{department},</if>
            <if test="remark != null  and remark != ''  ">#{remark},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="createBy != null  ">#{createBy},</if>
            <if test="updateTime != null  ">#{updateTime},</if>
            <if test="updateBy != null  ">#{updateBy},</if>
            <if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
            <if test="comId != null  and comId != ''  ">#{comId},</if>
        </trim>
    </insert>

    <update id="updateSysUser" parameterType="com.ztman.admin.api.entity.SysUser">
        update sys_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userRealname != null  and userRealname != ''  ">user_realname = #{userRealname},</if>
            <if test="sex != null  and sex != ''  ">sex = #{sex},</if>
            <if test="phone != null  and phone != ''  ">phone = #{phone},</if>
            <if test="email != null  and email != ''  ">email = #{email},</if>
            <if test="empno != null  and empno != ''  ">empno = #{empno},</if>
            <if test="signName != null  and signName != ''  ">sign_name = #{signName},</if>
            <if test="deptId != null  ">dept_id = #{deptId},</if>
            <if test="salt != null  and salt != ''  ">salt = #{salt},</if>
            <if test="avatar != null  and avatar != ''  ">avatar = #{avatar},</if>
            <if test="userFlag != null  and userFlag != ''  ">user_flag = #{userFlag},</if>
            <if test="passwordEndtime != null  ">password_endtime = #{passwordEndtime},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="wxOpenid != null  and wxOpenid != ''  ">wx_openid = #{wxOpenid},</if>
            <if test="qqOpenid != null  and qqOpenid != ''  ">qq_openid = #{qqOpenid},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="adminRemark != null  and adminRemark != ''  ">admin_remark = #{adminRemark},</if>
            <if test="postName != null  and postName != ''  ">post_name = #{postName},</if>
            <if test="areaId != null  ">area_id = #{areaId},</if>
            <if test="organId != null  ">organ_id = #{organId},</if>
            <if test="companyId != null  ">company_id = #{companyId},</if>
            <if test="serviceOrganId != null  ">service_organ_id = #{serviceOrganId},</if>
            <if test="tenantFlag != null  and tenantFlag != ''  ">tenant_flag = #{tenantFlag},</if>
            <if test="tenantId != null  ">tenant_id = #{tenantId},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <!-- 新增对象 -->
    <insert id="insertSysConsumer" parameterType="com.ztman.admin.api.entity.SysUser" useGeneratedKeys="true" keyProperty="userId">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null  and username != ''  ">username,</if>
            <if test="password != null  and password != ''  ">password,</if>
            <if test="userRealname != null  and userRealname != ''  ">user_realname,</if>
            <if test="sex != null  and sex != ''  ">sex,</if>
            <if test="phone != null  and phone != ''  ">phone,</if>
            <if test="email != null  and email != ''  ">email,</if>
            <if test="signName != null  and signName != ''  ">sign_name,</if>
            <if test="deptId != null  ">dept_id,</if>
            <if test="salt != null  and salt != ''  ">salt,</if>
            <if test="avatar != null  and avatar != ''  ">avatar,</if>
            <if test="userFlag != null  and userFlag != ''  ">user_flag,</if>
            <if test="passwordEndtime != null  ">password_endtime,</if>
            <if test="createTime != null  ">create_time,</if>
            <if test="createBy != null  and createBy != ''  ">create_by,</if>
            <if test="updateTime != null  ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by,</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
            <if test="remark != null  and remark != ''  ">remark,</if>
            <if test="adminRemark != null  and adminRemark != ''  ">admin_remark,</if>
            <if test="postName != null  and postName != ''  ">post_name,</if>
            <if test="areaId != null  ">area_id,</if>
            <if test="organId != null  ">organ_id,</if>
            <if test="companyId != null  ">company_id,</if>
            <if test="serviceOrganId != null  ">service_organ_id,</if>
            <if test="tenantFlag != null  and tenantFlag != ''  ">tenant_flag,</if>
            <if test="tenantId != null  ">tenant_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null  and username != ''  ">#{username},</if>
            <if test="password != null  and password != ''  ">#{password},</if>
            <if test="userRealname != null  and userRealname != ''  ">#{userRealname},</if>
            <if test="sex != null  and sex != ''  ">#{sex},</if>
            <if test="phone != null  and phone != ''  ">#{phone},</if>
            <if test="email != null  and email != ''  ">#{email},</if>
            <if test="signName != null  and signName != ''  ">#{signName},</if>
            <if test="deptId != null  ">#{deptId},</if>
            <if test="salt != null  and salt != ''  ">#{salt},</if>
            <if test="avatar != null  and avatar != ''  ">#{avatar},</if>
            <if test="userFlag != null  and userFlag != ''  ">#{userFlag},</if>
            <if test="passwordEndtime != null  ">#{passwordEndtime},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''  ">#{createBy},</if>
            <if test="updateTime != null  ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
            <if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
            <if test="remark != null  and remark != ''  ">#{remark},</if>
            <if test="adminRemark != null  and adminRemark != ''  ">#{adminRemark},</if>
            <if test="postName != null  and postName != ''  ">#{postName},</if>
            <if test="areaId != null  ">#{areaId},</if>
            <if test="organId != null  ">#{organId},</if>
            <if test="companyId != null  ">#{companyId},</if>
            <if test="serviceOrganId != null  ">#{serviceOrganId},</if>
            <if test="tenantFlag != null  and tenantFlag != ''  ">#{tenantFlag},</if>
            <if test="tenantId != null  ">#{tenantId},</if>
        </trim>
    </insert>


    <!-- 表字段 -->
    <sql id="column">
        id,  <!--  -->
        company,  <!-- 所属公司 -->
        parking_lot,  <!-- 所属车场 -->
        post,  <!-- 岗位 -->
        user_name,  <!-- 用户名 -->
        name,  <!-- 姓名 -->
        tel,  <!-- 联系方式 -->
        department,  <!-- 职位 -->
        remark,  <!-- 创建人 -->
        create_time,  <!-- 创建时间 -->
        create_by,  <!-- 创建人 -->
        update_time,  <!-- 修改时间 -->
        update_by,  <!-- 修改人 -->
        del_flag  <!-- 删除状态，0-删除，1-正常 -->
    </sql>

    <!-- Where精确匹配字段 -->
    <sql id="equal">
        <if test="id != null ">
            AND id = #{id}  <!--  -->
        </if>
        <if test="company != null and company != ''">
            AND company = #{company}  <!-- 所属公司 -->
        </if>
        <if test="parkingLot != null and parkingLot != ''">
            AND parking_lot = #{parkingLot}  <!-- 所属车场 -->
        </if>
        <if test="userName != null and userName != ''">
            AND user_name = #{userName}  <!-- 用户名 -->
        </if>
        <if test="name != null and name != ''">
            AND name = #{name}  <!-- 姓名 -->
        </if>
        <if test="tel != null and tel != ''">
            AND tel = #{tel}  <!-- 联系方式 -->
        </if>
        <if test="department != null and department != ''">
            AND department = #{department}  <!-- 职位 -->
        </if>
        <if test="remark != null and remark != ''">
            AND remark = #{remark}  <!-- 创建人 -->
        </if>
        <if test="createTime != null ">
            AND create_time = #{createTime}  <!-- 创建时间 -->
        </if>
        <if test="createBy != null ">
            AND create_by = #{createBy}  <!-- 创建人 -->
        </if>
        <if test="updateTime != null ">
            AND update_time = #{updateTime}  <!-- 修改时间 -->
        </if>
        <if test="updateBy != null ">
            AND update_by = #{updateBy}  <!-- 修改人 -->
        </if>
        <if test="delFlag != null and delFlag != ''">
            AND del_flag = #{delFlag}  <!-- 删除状态，0-删除，1-正常 -->
        </if>
    </sql>

    <!-- Where模糊匹配字段 -->
    <sql id="like">
        <if test="company != null and company != ''">
            AND company like '%${company}%'  <!-- 所属公司 -->
        </if>
        <if test="parkingLot != null and parkingLot != ''">
            AND parking_lot like '%${parkingLot}%'  <!-- 所属车场 -->
        </if>
        <if test="post != null and post != ''">
            AND post like '%${post}%'  <!-- 岗位 -->
        </if>
        <if test="userName != null and userName != ''">
            AND user_name like '%${userName}%'  <!-- 用户名 -->
        </if>
        <if test="name != null and name != ''">
            AND name like '%${name}%'  <!-- 姓名 -->
        </if>
        <if test="tel != null and tel != ''">
            AND tel like '%${tel}%'  <!-- 联系方式 -->
        </if>
        <if test="department != null and department != ''">
            AND department like '%${department}%'  <!-- 职位 -->
        </if>
        <if test="remark != null and remark != ''">
            AND remark like '%${remark}%'  <!-- 创建人 -->
        </if>
        <if test="delFlag != null and delFlag != ''">
            AND del_flag like '%${delFlag}%'  <!-- 删除状态，0-删除，1-正常 -->
        </if>
    </sql>
</mapper>
