<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztman.ztspark.mapper.CompanyDutyMapper">

    <!-- 通用返回对象 -->
    <resultMap type="com.ztman.ztspark.entity.company.CompanyDuty" id="companyDutyResult">
        <result property="id" column="id"/> <!--  -->
        <result property="organId" column="organ_id"/> <!-- 负责车场 -->
        <result property="startTime" column="start_time"/> <!-- 开始时间 -->
        <result property="endTime" column="end_time"/> <!-- 结束时间 -->
        <result property="dutyStatus" column="duty_status"/> <!-- 值班状态 -->
        <result property="createTime" column="create_time"/> <!-- 创建时间 -->
        <result property="taskDescription" column="task_description"/> <!-- 任务描述 -->
        <result property="createBy" column="create_by"/> <!-- 创建人 -->
        <result property="updateTime" column="update_time"/> <!-- 修改时间 -->
        <result property="updateBy" column="update_by"/> <!-- 修改人 -->
        <result property="delFlag" column="del_flag"/> <!-- 删除状态，0-删除，1-正常 -->
        <result property="dutyType" column="duty_type"/> <!-- 值班班次 -->
    </resultMap>
    <!-- 通用返回对象 -->
    <resultMap type="com.ztman.ztspark.dto.CompanyDutyDTO" id="companyDutyResultDTO">
        <result property="id" column="id"/> <!--  -->
        <result property="dutyName" column="dutyName"/> <!-- 值班人 -->
        <result property="createName" column="createName"/> <!-- 创建人 -->
        <result property="createPhone" column="createPhone"/> <!-- 创建人联系电话 -->
        <result property="organName" column="organName"/> <!-- 车场名称 -->
        <result property="organId" column="organ_id"/> <!-- 车场id -->
        <result property="comId" column="com_id"/> <!-- 企业di -->
        <result property="startTime" column="start_time"/> <!-- 开始时间 -->
        <result property="endTime" column="end_time"/> <!-- 结束时间 -->
        <result property="taskFlag" column="task_flag"/> <!-- 结束时间 -->
        <result property="dutyStatus" column="duty_status"/> <!-- 值班状态 -->
        <result property="createTime" column="create_time"/> <!-- 创建时间 -->
        <result property="taskDescription" column="task_description"/> <!-- 任务描述 -->
        <result property="delFlag" column="del_flag"/> <!-- 删除状态，0-删除，1-正常 -->
        <result property="dutyType" column="duty_type"/> <!-- 值班班次 -->
        <collection property="people" ofType="com.ztman.ztspark.dto.ZdutyidPeopleidDTO">
            <id column="duty_people_id" property="dutyPeopleId"/>
            <result column="people_id" property="peopleId"/>
            <result column="people_name" property="peopleName"/>
            <result column="peoplePhone" property="peoplePhone"/>
            <result column="duty_start_time" property="dutyStartTime"/>
            <result column="duty_end_time" property="dutyEndTime"/>
            <collection property="task" ofType="com.ztman.ztspark.dto.PointDutyJobDTO">
                <id column="duty_job_id" property="dutyJobId"/>
                <result column="equipment_name" property="equipmentName"/>
                <result column="equipment_num" property="equipmentNum"/>
            </collection>
        </collection>
    </resultMap>

    <sql id="selectCompanyDutyVo">
        select id, name_duty, duty_tel, area_blame, parking_blame, start_time, end_time, login_location, duty_status, rosterer, rosterer_tel, create_time, create_by, update_time, update_by, del_flag from zt_company_duty
    </sql>

    <sql id="selectCompanyDutyDTO">


         select
        d.id,
        d.duty_type,
        organ.name organName,
        d.organ_id,
        d.start_time,
        d.end_time,
        d.task_flag,
        d.task_description,
         d.com_id,
        d.duty_status,
        d.create_time,
        u.user_realname as createName,
        u.phone as createPhone,
        u.company_id,
        dupeo.duty_people_id,
        dupeo.duty_id,
        people.name people_name,
        people.tel peoplePhone,
        dupeo.duty_start_time,
        dupeo.duty_end_time,
        dupeo.people_id,
        dutyjob.equipment_name,
        dutyjob.equipment_num,
        dutyjob.id duty_job_id
        from
        zt_company_duty d
				left join sys_administrative_organ organ on organ.organ_id = d.organ_id
        left join zt_dutyid_peopleid dupeo on dupeo.duty_id = d.id
        left join zt_company_people people on people.id = dupeo.people_id
				left join zt_dutyid_peopleid_task dupeotask on dupeotask.duty_people_id = dupeo.duty_people_id and dupeotask.company_duty_id = d.id
        left join point_duty_job dutyjob on dutyjob.id = dupeotask.point_duty_job_id
        LEFT JOIN
        sys_user as u
        ON
        d.create_by = u.user_id
        where
        d.del_flag = 1


           </sql>
    <!-- 查询对象List -->
    <select id="selectCompanyDutyList" parameterType="CompanyDuty" resultMap="companyDutyResult">
        <include refid="selectCompanyDutyVo"/>
        <where>
            <include refid="equal"/>
        </where>
    </select>

    <!-- 模糊查询对象List -->
    <select id="selectCompanyDutyListByLike" parameterType="com.ztman.ztspark.vo.CompanyDutyVO" resultMap="companyDutyResultDTO">

        select
        d.id,
        d.duty_type,
        organ.name organName,
        d.organ_id,
        d.start_time,
        d.end_time,
        d.task_flag,
        d.task_description,
        d.com_id,
        d.duty_status,
        d.create_time,
        u.user_realname as createName,
        u.phone as createPhone,
        u.company_id,
        dupeo.duty_people_id,
        dupeo.duty_id,
        people.name people_name,
        people.tel peoplePhone,
        dupeo.duty_start_time,
        dupeo.duty_end_time,
        dupeo.people_id,
        dutyjob.equipment_name,
        dutyjob.equipment_num,
        dutyjob.id duty_job_id
        from
        zt_company_duty d
        left join sys_administrative_organ organ on organ.organ_id = d.organ_id
        left join zt_dutyid_peopleid dupeo on dupeo.duty_id = d.id
        left join zt_company_people people on people.id = dupeo.people_id
        left join zt_dutyid_peopleid_task dupeotask on dupeotask.duty_people_id = dupeo.duty_people_id and dupeotask.company_duty_id = d.id
        left join point_duty_job dutyjob on dutyjob.id = dupeotask.point_duty_job_id
        LEFT JOIN
        sys_user as u
        ON
        d.create_by = u.user_id
        where
        d.del_flag = 1

        <if test="comIds!=null and comIds.size() > 0 ">
        and d.com_id  in
            <foreach collection="comIds" open="(" close=")" item="ids" separator=",">
                #{ids}
            </foreach>
        </if>
        <if test="dutyName != null and dutyName != ''">
            AND  people.name like '%${dutyName}%'  <!-- 值班人 -->
        </if>
        <if test="dutyPhone != null and dutyPhone != ''">
            AND  people.tel like '%${dutyPhone}%'  <!-- 联系电话 -->
        </if>
        <if test="startTime != null ">
            and DATE_FORMAT(d.start_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{startTime},'%Y-%m-%d')  <!-- 开始时间 -->
        </if>
        <if test="endTime != null ">
            AND DATE_FORMAT(d.end_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{endTime},'%Y-%m-%d')  <!-- 结束时间 -->
        </if>
        <if test="date != null ">
            AND DATE_FORMAT(d.end_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{date},'%Y-%m-%d')  <!-- 结束时间 -->
            AND DATE_FORMAT(d.start_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{date},'%Y-%m-%d')
        </if>
    </select>

    <!-- 根据主键查询对象 -->
    <select id="selectCompanyDutyById" parameterType="Integer" resultMap="companyDutyResultDTO">
        <include refid="selectCompanyDutyDTO"/>
        and
        d.id = #{id}
    </select>


    <update id="updateCompanyDuty" parameterType="CompanyDuty">
        update zt_company_duty
        <trim prefix="SET" suffixOverrides=",">
            <if test="comId != null  and comId != ''  ">com_id = #{comId},</if>
            <if test="organId != null  and organId != ''  ">organ_id = #{organId},</if>
            <if test="startTime != null  ">start_time = #{startTime},</if>
            <if test="endTime != null  ">end_time = #{endTime},</if>
            <if test="dutyType != null  and dutyType != ''  ">duty_type = #{dutyType},</if>
            <if test="taskFlag != null  and taskFlag != ''  ">task_flag = #{taskFlag},</if>
            <if test="dutyStatus != null  and dutyStatus != ''  ">duty_status = #{dutyStatus},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="createBy != null  ">create_by = #{createBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="updateBy != null  ">update_by = #{updateBy},</if>
            <if test="taskDescription != null  ">task_description = #{taskDescription},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>

        </trim>
        where id = #{id}
    </update>

    <update id="deleteCompanyDutyById" parameterType="Integer">
        update zt_company_duty set del_flag = 0 where id = #{id}
    </update>

    <delete id="deleteCompanyDutyByIds" parameterType="String">
        delete from zt_company_duty where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="getTenantConpanyId" resultType="java.lang.Integer">
        select * from sys_company where tenant_id = #{tenantId}
    </select>

    <!-- 新增对象 -->
    <insert id="insertCompanyDuty" parameterType="CompanyDuty" useGeneratedKeys="true" keyProperty="id">
        insert into zt_company_duty
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="comId != null  and comId != ''  ">com_id,</if>
            <if test="organId != null  and organId != ''  ">organ_id,</if>
            <if test="startTime != null  ">start_time,</if>
            <if test="endTime != null  ">end_time,</if>
            <if test="dutyType != null  and dutyType != ''  ">duty_type,</if>
            <if test="taskFlag != null  and taskFlag != ''  ">task_flag,</if>
            <if test="dutyStatus != null  and dutyStatus != ''  ">duty_status,</if>
            <if test="createTime != null  ">create_time,</if>
            <if test="createBy != null  ">create_by,</if>
            <if test="updateTime != null  ">update_time,</if>
            <if test="updateBy != null  ">update_by,</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
            <if test="taskDescription != null  and taskDescription != ''  ">task_description,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="comId != null  and comId != ''  ">#{comId},</if>
            <if test="organId != null  and organId != ''  ">#{organId},</if>
            <if test="startTime != null  ">#{startTime},</if>
            <if test="endTime != null  ">#{endTime},</if>
            <if test="dutyType != null  and dutyType != ''  ">#{dutyType},</if>
            <if test="taskFlag != null  and taskFlag != ''  ">#{taskFlag},</if>
            <if test="dutyStatus != null  and dutyStatus != ''  ">#{dutyStatus},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="createBy != null  ">#{createBy},</if>
            <if test="updateTime != null  ">#{updateTime},</if>
            <if test="updateBy != null  ">#{updateBy},</if>
            <if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
            <if test="taskDescription != null  and taskDescription != ''  ">#{taskDescription},</if>
        </trim>
    </insert>


    <!-- 表字段 -->
    <sql id="column">
        id,  <!--  -->
        organ_id,  <!-- 负责车场 -->
        com_id,  <!-- 企业id -->
        duty_type,  <!-- 排班班次    -->
        start_time,  <!-- 开始时间 -->
        end_time,  <!-- 结束时间 -->
        duty_status,  <!-- 值班状态 -->
        create_time,  <!-- 创建时间 -->
        create_by,  <!-- 创建人 -->
        update_time,  <!-- 修改时间 -->
        update_by,  <!-- 修改人 -->
        del_flag  <!-- 删除状态，0-删除，1-正常 -->
        task_flag  <!-- 任务循环状态 1、开启 0，关闭 -->
    </sql>

    <!-- Where精确匹配字段 -->
    <sql id="equal">
        <if test="id != null ">
            AND id = #{id}  <!--  -->
        </if>

        <if test="startTime != null ">
            AND start_time = #{startTime}  <!-- 开始时间 -->
        </if>
        <if test="endTime != null ">
            AND end_time = #{endTime}  <!-- 结束时间 -->
        </if>

        <if test="createTime != null ">
            AND create_time = #{createTime}  <!-- 创建时间 -->
        </if>
        <if test="createBy != null ">
            AND create_by = #{createBy}  <!-- 创建人 -->
        </if>
        <if test="updateTime != null ">
            AND update_time = #{updateTime}  <!-- 修改时间 -->
        </if>
        <if test="updateBy != null ">
            AND update_by = #{updateBy}  <!-- 修改人 -->
        </if>
        <if test="delFlag != null and delFlag != ''">
            AND del_flag = #{delFlag}  <!-- 删除状态，0-删除，1-正常 -->
        </if>
    </sql>

    <!-- Where模糊匹配字段 -->
    <sql id="like">

        <if test="delFlag != null and delFlag != ''">
            AND del_flag like '%${delFlag}%'  <!-- 删除状态，0-删除，1-正常 -->
        </if>
    </sql>
</mapper>
