<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztman.ztspark.mapper.PointDutyJobMapper">

    <!-- 通用返回对象 -->
    <resultMap type="com.ztman.ztspark.entity.company.PointDutyJob" id="pointDutyJobResult">
        <result property="id" column="id"/> <!-- 单号 -->
        <result property="tenantId" column="tenant_id"/> <!-- 租户ID -->
        <result property="assignUserId" column="assign_user_id"/> <!-- 派遣人id -->
        <result property="assignUserName" column="assign_user_name"/> <!-- 派遣人姓名 -->
        <result property="assignTime" column="assign_time"/> <!-- 派遣时间 -->
        <result property="dutyId" column="duty_id"/> <!-- 值班人员ID -->
        <result property="dutyName" column="duty_name"/> <!-- 值班人姓名 -->
        <result property="isOn" column="is_on"/> <!-- 是否正常（0是 1否） -->
        <result property="createTime" column="create_time"/> <!-- 创建时间 -->
        <result property="equipmentName" column="equipment_name"/> <!-- 设备名称 -->
        <result property="equipmentNum" column="equipment_num"/> <!-- 设备编号 -->
        <result property="peopleId" column="people_id"/> <!-- 设备编号 -->
        <result property="delFlag" column="del_flag"/> <!-- 设备编号 -->
    </resultMap>


    <sql id="selectPointDutyJobVo">
        select id, tenant_id, assign_user_id, assign_user_name, assign_time, duty_id, duty_name, is_on, create_time, equipment_name, equipment_num from point_duty_job
    </sql>
    <!-- 查询对象List -->
    <select id="selectPointDutyJobList" parameterType="PointDutyJob" resultMap="pointDutyJobResult">
        <include refid="selectPointDutyJobVo"/>
        <where>
            <include refid="equal"/>
        </where>
    </select>

    <!-- 模糊查询对象List -->
    <select id="selectPointDutyJobListByLike" parameterType="PointDutyJob" resultMap="pointDutyJobResult">
        <include refid="selectPointDutyJobVo"/>
        <where>
            <include refid="like"/>
        </where>
    </select>

    <!-- 根据主键查询对象 -->
    <select id="selectPointDutyJobById" parameterType="String" resultMap="pointDutyJobResult">
        <include refid="selectPointDutyJobVo"/>
        where id = #{id}
    </select>


    <update id="updatePointDutyJob" parameterType="PointDutyJob">
        update point_duty_job
        <trim prefix="SET" suffixOverrides=",">
            <if test="tenantId != null  and tenantId != ''  ">tenant_id = #{tenantId},</if>
            <if test="assignUserId != null  and assignUserId != ''  ">assign_user_id = #{assignUserId},</if>
            <if test="assignUserName != null  and assignUserName != ''  ">assign_user_name = #{assignUserName},</if>
            <if test="assignTime != null  ">assign_time = #{assignTime},</if>
            <if test="dutyId != null  and dutyId != ''  ">duty_id = #{dutyId},</if>
            <if test="dutyName != null  and dutyName != ''  ">duty_name = #{dutyName},</if>
            <if test="isOn != null  and isOn != ''  ">is_on = #{isOn},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="equipmentName != null  and equipmentName != ''  ">equipment_name = #{equipmentName},</if>
            <if test="equipmentNum != null  and equipmentNum != ''  ">equipment_num = #{equipmentNum},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePointDutyJobById" parameterType="String">
        delete from point_duty_job where id = #{id}
    </delete>

    <delete id="deletePointDutyJobByIds" parameterType="String">
        delete from point_duty_job where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!--删除 值班人员与值班任务关联信息 -->
    <delete id="deleteZtDutyIdPeopleIdTaskByCompanyDutyId" parameterType="Integer">
        delete from zt_dutyid_peopleid_task where company_duty_id = #{companyDutyId}
    </delete>
    <!--删除 值班任务信息 -->
    <delete id="deletePointDutyJobByDutyId" parameterType="Integer">
        delete from point_duty_job where duty_id = #{dutyId}
    </delete>
    <!--新增 值班人员与值班任务关联信息 -->
    <insert id="insertZtDutyId_PeopleIdTask">
        insert into zt_dutyid_peopleid_task (company_duty_id,duty_people_id,point_duty_job_id) values (#{companyDutyId},#{dutyPeopleId},#{pointDutyJobId})
    </insert>
    <!-- 新增对象 -->
    <insert id="insertPointDutyJob" parameterType="PointDutyJob" useGeneratedKeys="true"
            keyProperty="id">
        insert into point_duty_job
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">id,</if>
            <if test="tenantId != null  and tenantId != ''  ">tenant_id,</if>
            <if test="assignUserId != null  and assignUserId != ''  ">assign_user_id,</if>
            <if test="assignUserName != null  and assignUserName != ''  ">assign_user_name,</if>
            <if test="assignTime != null  ">assign_time,</if>
            <if test="dutyId != null  and dutyId != ''  ">duty_id,</if>
            <if test="dutyName != null  and dutyName != ''  ">duty_name,</if>
            <if test="isOn != null  and isOn != ''  ">is_on,</if>
            <if test="createTime != null  ">create_time,</if>
            <if test="peopleId != null  ">people_id,</if>
            <if test="delFlag != null  ">del_flag,</if>
            <if test="equipmentName != null  and equipmentName != ''  ">equipment_name,</if>
            <if test="equipmentNum != null  and equipmentNum != ''  ">equipment_num,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">#{id},</if>
            <if test="tenantId != null  and tenantId != ''  ">#{tenantId},</if>
            <if test="assignUserId != null  and assignUserId != ''  ">#{assignUserId},</if>
            <if test="assignUserName != null  and assignUserName != ''  ">#{assignUserName},</if>
            <if test="assignTime != null  ">#{assignTime},</if>
            <if test="dutyId != null  and dutyId != ''  ">#{dutyId},</if>
            <if test="dutyName != null  and dutyName != ''  ">#{dutyName},</if>
            <if test="isOn != null  and isOn != ''  ">#{isOn},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="peopleId != null  ">#{peopleId},</if>
            <if test="delFlag != null  ">#{delFlag},</if>
            <if test="equipmentName != null  and equipmentName != ''  ">#{equipmentName},</if>
            <if test="equipmentNum != null  and equipmentNum != ''  ">#{equipmentNum},</if>
        </trim>
    </insert>


    <!-- 表字段 -->
    <sql id="column">
        id,  <!-- 单号 -->
        tenant_id,  <!-- 租户ID -->
        assign_user_id,  <!-- 派遣人id -->
        assign_user_name,  <!-- 派遣人姓名 -->
        assign_time,  <!-- 派遣时间 -->
        duty_id,  <!-- 值班人员ID -->
        duty_name,  <!-- 值班人姓名 -->
        is_on,  <!-- 是否正常（0是 1否） -->
        create_time,  <!-- 创建时间 -->
        equipment_name,  <!-- 设备名称 -->
        equipment_num  <!-- 设备编号 -->
    </sql>

    <!-- Where精确匹配字段 -->
    <sql id="equal">
        <if test="id != null and id != ''">
            AND id = #{id}  <!-- 单号 -->
        </if>
        <if test="tenantId != null and tenantId != ''">
            AND tenant_id = #{tenantId}  <!-- 租户ID -->
        </if>
        <if test="assignUserId != null and assignUserId != ''">
            AND assign_user_id = #{assignUserId}  <!-- 派遣人id -->
        </if>
        <if test="assignUserName != null and assignUserName != ''">
            AND assign_user_name = #{assignUserName}  <!-- 派遣人姓名 -->
        </if>
        <if test="assignTime != null ">
            AND assign_time = #{assignTime}  <!-- 派遣时间 -->
        </if>
        <if test="dutyId != null and dutyId != ''">
            AND duty_id = #{dutyId}  <!-- 值班人员ID -->
        </if>
        <if test="dutyName != null and dutyName != ''">
            AND duty_name = #{dutyName}  <!-- 值班人姓名 -->
        </if>
        <if test="isOn != null and isOn != ''">
            AND is_on = #{isOn}  <!-- 是否正常（0是 1否） -->
        </if>
        <if test="createTime != null ">
            AND create_time = #{createTime}  <!-- 创建时间 -->
        </if>
        <if test="equipmentName != null and equipmentName != ''">
            AND equipment_name = #{equipmentName}  <!-- 设备名称 -->
        </if>
        <if test="equipmentNum != null and equipmentNum != ''">
            AND equipment_num = #{equipmentNum}  <!-- 设备编号 -->
        </if>
    </sql>

    <!-- Where模糊匹配字段 -->
    <sql id="like">
        <if test="id != null and id != ''">
            AND id like '%${id}%'  <!-- 单号 -->
        </if>
        <if test="tenantId != null and tenantId != ''">
            AND tenant_id like '%${tenantId}%'  <!-- 租户ID -->
        </if>
        <if test="assignUserId != null and assignUserId != ''">
            AND assign_user_id like '%${assignUserId}%'  <!-- 派遣人id -->
        </if>
        <if test="assignUserName != null and assignUserName != ''">
            AND assign_user_name like '%${assignUserName}%'  <!-- 派遣人姓名 -->
        </if>
        <if test="dutyId != null and dutyId != ''">
            AND duty_id like '%${dutyId}%'  <!-- 值班人员ID -->
        </if>
        <if test="dutyName != null and dutyName != ''">
            AND duty_name like '%${dutyName}%'  <!-- 值班人姓名 -->
        </if>
        <if test="isOn != null and isOn != ''">
            AND is_on like '%${isOn}%'  <!-- 是否正常（0是 1否） -->
        </if>
        <if test="equipmentName != null and equipmentName != ''">
            AND equipment_name like '%${equipmentName}%'  <!-- 设备名称 -->
        </if>
        <if test="equipmentNum != null and equipmentNum != ''">
            AND equipment_num like '%${equipmentNum}%'  <!-- 设备编号 -->
        </if>
    </sql>
</mapper>
