<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztman.ztspark.mapper.WorkOrderDeleteMapper">

	<!-- 通用返回对象 -->
	<resultMap type="com.ztman.ztspark.entity.workorder.WorkOrderDelete"
		id="workOrderDeleteResult">
		<result property="id" column="id" /> <!-- 删除编号 -->
		<result property="workOrderId" column="work_order_id" /> <!-- 工单号 -->
		<result property="delUserId" column="del_user_id" /> <!-- 删除人用户id -->
		<result property="createTime" column="create_time" /> <!-- 创建时间 -->
	</resultMap>


	<sql id="selectWorkOrderDeleteVo">
		select id, work_order_id, del_user_id, create_time from work_order_delete
	</sql>
	<!-- 查询对象List -->
	<select id="selectWorkOrderDeleteList" parameterType="WorkOrderDelete"
		resultMap="workOrderDeleteResult">
		<include refid="selectWorkOrderDeleteVo" />
		<where>
			<include refid="equal" />
		</where>
	</select>

	<!-- 模糊查询对象List -->
	<select id="selectWorkOrderDeleteListByLike" parameterType="WorkOrderDelete"
		resultMap="workOrderDeleteResult">
		<include refid="selectWorkOrderDeleteVo" />
		<where>
			<include refid="like" />
		</where>
	</select>

	<!-- 根据主键查询对象 -->
	<select id="selectWorkOrderDeleteById" parameterType="Long"
		resultMap="workOrderDeleteResult">
		<include refid="selectWorkOrderDeleteVo" />
		where id = #{id}
	</select>


	<update id="updateWorkOrderDelete" parameterType="WorkOrderDelete">
		update work_order_delete
		<trim prefix="SET" suffixOverrides=",">
			<if test="workOrderId != null  and workOrderId != ''  ">work_order_id = #{workOrderId},</if>
			<if test="delUserId != null  and delUserId != ''  ">del_user_id = #{delUserId},</if>
			<if test="createTime != null  ">create_time = #{createTime},</if>
		</trim>
		where id = #{id}
	</update>

	<delete id="deleteWorkOrderDeleteById" parameterType="Long">
		delete from work_order_delete where id = #{id}
	</delete>

	<delete id="deleteWorkOrderDeleteByIds" parameterType="String">
		delete from work_order_delete where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>



	<!-- 新增对象 -->
	<insert id="insertWorkOrderDelete" parameterType="WorkOrderDelete"
		useGeneratedKeys="true" keyProperty="id">
		insert into work_order_delete
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="workOrderId != null  and workOrderId != ''  ">work_order_id,</if>
			<if test="delUserId != null  and delUserId != ''  ">del_user_id,</if>
			<if test="createTime != null  ">create_time,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="workOrderId != null  and workOrderId != ''  ">#{workOrderId},</if>
			<if test="delUserId != null  and delUserId != ''  ">#{delUserId},</if>
			<if test="createTime != null  ">#{createTime},</if>
		</trim>
	</insert>



	<!-- 表字段 -->
	<sql id="column">
		id,  <!-- 删除编号 -->
		work_order_id,  <!-- 工单号 -->
		del_user_id,  <!-- 删除人用户id -->
		create_time  <!-- 创建时间 -->
	</sql>

	<!-- Where精确匹配字段 -->
	<sql id="equal">
		<if test="id != null ">
			AND id = #{id}  <!-- 删除编号 -->
		</if>
		<if test="workOrderId != null and workOrderId != ''">
			AND work_order_id = #{workOrderId}  <!-- 工单号 -->
		</if>
		<if test="delUserId != null and delUserId != ''">
			AND del_user_id = #{delUserId}  <!-- 删除人用户id -->
		</if>
		<if test="createTime != null ">
			AND create_time = #{createTime}  <!-- 创建时间 -->
		</if>
	</sql>

	<!-- Where模糊匹配字段 -->
	<sql id="like">
		<if test="workOrderId != null and workOrderId != ''">
			AND work_order_id like '%${workOrderId}%'  <!-- 工单号 -->
		</if>
		<if test="delUserId != null and delUserId != ''">
			AND del_user_id like '%${delUserId}%'  <!-- 删除人用户id -->
		</if>
	</sql>
</mapper>
