<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztman.ztspark.mapper.WorkOrderAssignMapper">

	<!-- 通用返回对象 -->
	<resultMap type="com.ztman.ztspark.entity.workorder.WorkOrderAssign"
		id="workOrderAssignResult">
		<result property="id" column="id" /> <!-- 核查编号 -->
		<result property="workOrderId" column="work_order_id" /> <!-- 工单号 -->
		<result property="assignUserId" column="assign_user_id" /> <!-- 派遣人用户id -->
		<result property="emUserId" column="em_user_id" /> <!-- 员工用户编号 -->
		<result property="emName" column="em_name" /> <!-- 员工姓名 -->
		<result property="emNo" column="em_no" /> <!-- 员工编号 -->
		<result property="contact" column="contact" /> <!-- 联系方式 -->
		<result property="pmin" column="pmin" /> <!-- 处理时限 -->
		<result property="replenish" column="replenish" /> <!-- 任务补充 -->
		<result property="createTime" column="create_time" /> <!-- 创建时间 -->
	</resultMap>


	<sql id="selectWorkOrderAssignVo">
		select id, work_order_id, assign_user_id, em_user_id, em_name, em_no,
		contact, pmin, replenish, create_time from work_order_assign
	</sql>
	<!-- 查询对象List -->
	<select id="selectWorkOrderAssignList" parameterType="WorkOrderAssign"
		resultMap="workOrderAssignResult">
		<include refid="selectWorkOrderAssignVo" />
		<where>
			<include refid="equal" />
		</where>
	</select>

	<!-- 模糊查询对象List -->
	<select id="selectWorkOrderAssignListByLike" parameterType="WorkOrderAssign"
		resultMap="workOrderAssignResult">
		<include refid="selectWorkOrderAssignVo" />
		<where>
			<include refid="like" />
		</where>
	</select>

	<!-- 根据主键查询对象 -->
	<select id="selectWorkOrderAssignById" parameterType="Long"
		resultMap="workOrderAssignResult">
		<include refid="selectWorkOrderAssignVo" />
		where id = #{id}
	</select>


	<update id="updateWorkOrderAssign" parameterType="WorkOrderAssign">
		update work_order_assign
		<trim prefix="SET" suffixOverrides=",">
			<if test="workOrderId != null  and workOrderId != ''  ">work_order_id = #{workOrderId},</if>
			<if test="assignUserId != null  and assignUserId != ''  ">assign_user_id = #{assignUserId},</if>
			<if test="emUserId != null  and emUserId != ''  ">em_user_id = #{emUserId},</if>
			<if test="emName != null  and emName != ''  ">em_name = #{emName},</if>
			<if test="emNo != null  and emNo != ''  ">em_no = #{emNo},</if>
			<if test="contact != null  and contact != ''  ">contact = #{contact},</if>
			<if test="pmin != null  and pmin != ''  ">pmin = #{pmin},</if>
			<if test="replenish != null  and replenish != ''  ">replenish = #{replenish},</if>
			<if test="createTime != null  ">create_time = #{createTime},</if>
		</trim>
		where id = #{id}
	</update>

	<delete id="deleteWorkOrderAssignById" parameterType="Long">
		delete from work_order_assign where id = #{id}
	</delete>

	<delete id="deleteWorkOrderAssignByIds" parameterType="String">
		delete from work_order_assign where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>



	<!-- 新增对象 -->
	<insert id="insertWorkOrderAssign" parameterType="WorkOrderAssign"
		useGeneratedKeys="true" keyProperty="id">
		insert into work_order_assign
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="workOrderId != null  and workOrderId != ''  ">work_order_id,</if>
			<if test="assignUserId != null  and assignUserId != ''  ">assign_user_id,</if>
			<if test="emUserId != null  and emUserId != ''  ">em_user_id,</if>
			<if test="emName != null  and emName != ''  ">em_name,</if>
			<if test="emNo != null  and emNo != ''  ">em_no,</if>
			<if test="contact != null  and contact != ''  ">contact,</if>
			<if test="pmin != null  and pmin != ''  ">pmin,</if>
			<if test="replenish != null  and replenish != ''  ">replenish,</if>
			<if test="createTime != null  ">create_time,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="workOrderId != null  and workOrderId != ''  ">#{workOrderId},</if>
			<if test="assignUserId != null  and assignUserId != ''  ">#{assignUserId},</if>
			<if test="emUserId != null  and emUserId != ''  ">#{emUserId},</if>
			<if test="emName != null  and emName != ''  ">#{emName},</if>
			<if test="emNo != null  and emNo != ''  ">#{emNo},</if>
			<if test="contact != null  and contact != ''  ">#{contact},</if>
			<if test="pmin != null  and pmin != ''  ">#{pmin},</if>
			<if test="replenish != null  and replenish != ''  ">#{replenish},</if>
			<if test="createTime != null  ">#{createTime},</if>
		</trim>
	</insert>



	<!-- 表字段 -->
	<sql id="column">
		id,  <!-- 核查编号 -->
		work_order_id,  <!-- 工单号 -->
		assign_user_id,  <!-- 派遣人用户id -->
		em_user_id,  <!-- 员工用户编号 -->
		em_name,  <!-- 员工姓名 -->
		em_no,  <!-- 员工编号 -->
		contact,  <!-- 联系方式 -->
		pmin,  <!-- 处理时限 -->
		replenish,  <!-- 任务补充 -->
		create_time  <!-- 创建时间 -->
	</sql>

	<!-- Where精确匹配字段 -->
	<sql id="equal">
		<if test="id != null ">
			AND id = #{id}  <!-- 核查编号 -->
		</if>
		<if test="workOrderId != null and workOrderId != ''">
			AND work_order_id = #{workOrderId}  <!-- 工单号 -->
		</if>
		<if test="assignUserId != null and assignUserId != ''">
			AND assign_user_id = #{assignUserId}  <!-- 派遣人用户id -->
		</if>
		<if test="emUserId != null and emUserId != ''">
			AND em_user_id = #{emUserId}  <!-- 员工用户编号 -->
		</if>
		<if test="emName != null and emName != ''">
			AND em_name = #{emName}  <!-- 员工姓名 -->
		</if>
		<if test="emNo != null and emNo != ''">
			AND em_no = #{emNo}  <!-- 员工编号 -->
		</if>
		<if test="contact != null and contact != ''">
			AND contact = #{contact}  <!-- 联系方式 -->
		</if>
		<if test="pmin != null and pmin != ''">
			AND pmin = #{pmin}  <!-- 处理时限 -->
		</if>
		<if test="replenish != null and replenish != ''">
			AND replenish = #{replenish}  <!-- 任务补充 -->
		</if>
		<if test="createTime != null ">
			AND create_time = #{createTime}  <!-- 创建时间 -->
		</if>
	</sql>

	<!-- Where模糊匹配字段 -->
	<sql id="like">
		<if test="workOrderId != null and workOrderId != ''">
			AND work_order_id like '%${workOrderId}%'  <!-- 工单号 -->
		</if>
		<if test="assignUserId != null and assignUserId != ''">
			AND assign_user_id like '%${assignUserId}%'  <!-- 派遣人用户id -->
		</if>
		<if test="emUserId != null and emUserId != ''">
			AND em_user_id like '%${emUserId}%'  <!-- 员工用户编号 -->
		</if>
		<if test="emName != null and emName != ''">
			AND em_name like '%${emName}%'  <!-- 员工姓名 -->
		</if>
		<if test="emNo != null and emNo != ''">
			AND em_no like '%${emNo}%'  <!-- 员工编号 -->
		</if>
		<if test="contact != null and contact != ''">
			AND contact like '%${contact}%'  <!-- 联系方式 -->
		</if>
		<if test="pmin != null and pmin != ''">
			AND pmin like '%${pmin}%'  <!-- 处理时限 -->
		</if>
		<if test="replenish != null and replenish != ''">
			AND replenish like '%${replenish}%'  <!-- 任务补充 -->
		</if>
	</sql>
</mapper>
