<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztman.ztspark.mapper.WorkOrderMapper">

	<!-- 通用返回对象 -->
	<resultMap type="com.ztman.ztspark.entity.workorder.WorkOrder"
		id="workOrderResult">
		<result property="id" column="id" /> <!-- 工单号 -->
		<result property="tenantId" column="tenant_id" /> <!-- 租户 -->
		<result property="problemLevel" column="problem_level" /> <!-- 问题等级 -->
		<result property="problemType" column="problem_type" /> <!-- 问题类型 -->
		<result property="problemDesc" column="problem_desc" /> <!-- 问题描述 -->
		<result property="equipmentName" column="equipment_name" /> <!-- 设备名称 -->
		<result property="equipmentId" column="equipment_id" /> <!-- 设备编号 -->
		<result property="reportPersonId" column="report_person_id" /> <!-- 上报人 -->
		<result property="reportAddr" column="report_addr" /> <!-- 上报地点 -->
		<result property="reportTime" column="report_time" /> <!-- 上报时间 -->
		<result property="reportLng" column="report_lng" /> <!-- 上报经度 -->
		<result property="reportLat" column="report_lat" /> <!-- 上报纬度 -->
		<result property="dataSource" column="data_source" /> <!-- 数据来源 -->
		<result property="exigencyStatus" column="exigency_status" /> <!-- 紧急状态（0.正常 1.紧急） -->
		<result property="note" column="note" /> <!-- 备注 -->
		<result property="attachmentGroupId" column="attachment_group_id" /> <!-- 附件组id -->
		<result property="createTime" column="create_time" /> <!-- 创建时间 -->
		<result property="assignUserId" column="assign_user_id" /> <!-- 派遣用户id -->
		<result property="assignUserName" column="assign_user_name" /> <!-- 派遣用户姓名 -->
		<result property="delFlag" column="del_flag" /> <!-- 派遣用户姓名 -->
		<result property="ofPark" column="of_park" /> <!-- 派遣用户姓名 -->
		<result property="ofParkId" column="of_park_id" /> <!-- 派遣用户姓名 -->

	</resultMap>

	<sql id="selectWorkOrderVo">
		select id, tenant_id, problem_level, problem_type,
		problem_desc,
		equipment_name, equipment_id, report_person_id,
		report_addr,
		report_time, report_lng, report_lat, data_source,
		exigency_status,
		note, attachment_group_id, create_time,
		assign_user_id,
		assign_user_name,del_flag,of_park,of_park_id from
		work_order
	</sql>
	<!-- 查询对象List -->
	<select id="selectWorkOrderList" parameterType="WorkOrder"
		resultMap="workOrderResult">
		<include refid="selectWorkOrderVo" />
		<where>
			<include refid="equal" />
		</where>
	</select>

	<!-- 模糊查询对象List -->
	<select id="selectWorkOrderListByLike" parameterType="WorkOrder"
		resultMap="workOrderResult">
		<include refid="selectWorkOrderVo" />
		<where>
			<include refid="like" />
		</where>
	</select>

	<!-- 根据主键查询对象 -->
	<select id="selectWorkOrderById" parameterType="String"
		resultMap="workOrderResult">
		<include refid="selectWorkOrderVo" />
		where id = #{id}
	</select>
	<!-- 工单调度列表 -->
	<select id="workOrderAssignList"
		resultType="com.ztman.ztspark.entity.workorder.vo.WorkOrderAssignVO$WorkOrderVO">
		SELECT
		a.id AS id,
		a.problem_level AS problemLevel,
		a.problem_type AS problemType,
		a.problem_desc AS problemDesc,
		a.equipment_name AS equipmentName,
		a.report_addr AS reportAddr,
		a.report_time AS reportTime,
		b.user_realname AS reportPersonName,
		a.report_lng AS reportLng,
		a.report_lat AS reportLat,
		a.attachment_group_id AS attachmentGroupId,
		(
		CASE
		d.tag
		WHEN '1' THEN
		'已派遣'
		WHEN '2' THEN
		'已受理'
		WHEN '3' THEN
		'处置中'
		WHEN '4' THEN
		'已完成'
		WHEN '5' THEN
		'已关闭' ELSE '待派遣'
		END
		) AS process
		FROM
		work_order AS a
		INNER JOIN sys_user AS b ON a.report_person_id = b.user_id
		LEFT JOIN ( SELECT c.work_order_id, MAX( c.tag ) tag FROM
		work_order_process AS c GROUP BY c.work_order_id ) AS d ON a.id =
		d.work_order_id
		WHERE
		a.del_flag = '0'
		AND a.tenant_id = ${tenantId}
		AND (
		1 = 1
		<if test="type != null and type != '' or type != 0">
			<if test="type == 1"><!-- 派遣栏 -->
				AND d.tag IS NULL
			</if>
			<if test="type == 2"><!-- 处置栏 -->
				AND d.tag IN ('1','2')
			</if>
			<if test="type == 3"><!-- 完成栏 -->
				AND d.tag = '4'
			</if> 
		</if>
		<if test="date != null and date != '' ">
			AND (DATE_FORMAT(a.report_time,'%Y-%m-%d') =
			str_to_date('${date}','%Y-%m-%d'))
		</if>
		<if test="searchKey != null and searchKey != '' "> AND ( b.user_realname LIKE '%${searchKey}%' OR a.id LIKE
			'%${searchKey}%' ) </if>
		)
		ORDER BY
		a.id desc
		<if test=" page >= 0 and size >= 0 ">
			LIMIT ${page},
			${size}
		</if>
	</select>
	<!-- 工单调度列表统计 -->
	<select id="workOrderAssignListTotal" resultType="java.lang.Integer">
		SELECT
		count(1)
		FROM
		work_order AS a
		INNER JOIN sys_user AS b ON a.report_person_id = b.user_id
		LEFT JOIN ( SELECT c.work_order_id, MAX( c.tag ) tag FROM
		work_order_process AS c GROUP BY c.work_order_id ) AS d ON a.id =
		d.work_order_id
		WHERE
		a.del_flag = '0'
		AND a.tenant_id = ${tenantId}
		AND (
		1 = 1
		<if test="type != null and type != '' or type != 0">
			<if test="type == 1"><!-- 派遣栏 -->
				AND d.tag IS NULL
			</if>
			<if test="type == 2"><!-- 处置栏 -->
				AND d.tag IN ('1','2')
			</if>
			<if test="type == 3"><!-- 完成栏 -->
				AND d.tag = '4'
			</if> 
		</if>
		<if test="date != null and date != '' ">
			AND (DATE_FORMAT(a.report_time,'%Y-%m-%d') =
			str_to_date('${date}','%Y-%m-%d'))
		</if>
		<if test="searchKey != null and searchKey != '' "> AND ( b.user_realname LIKE '%${searchKey}%' OR a.id LIKE
			'%${searchKey}%' ) </if>

		)
	</select>
	<!-- 通过租户获取不同状态的工单统计 -->
	<select id="statistics" resultType="HashMap">
		<!-- 派遣兰 已上报未派遣的 -->
		select 'pql' k ,count(1) v from work_order as a
		where a.tenant_id = ${tenantId} AND NOT EXISTS(
		select 1 from work_order_process as b
		where b.work_order_id = a.id and (b.tag = '1' OR b.tag = '2' OR b.tag = '4'
		OR b.tag = '5')
		)
		UNION ALL <!-- 处置栏 已经派遣或已受理的，且该工单未执行完毕 -->

		select 'czl' k,count(1) v from work_order as a
		where a.tenant_id = ${tenantId} AND
		EXISTS(
		select 1 from work_order_process as b
		where b.work_order_id = a.id and (b.tag = '1' OR b.tag = '2')
		)
		AND
		NOT EXISTS(
		select 1 from work_order_process as b
		where b.work_order_id = a.id and (b.tag = '4' OR b.tag = '5')
		)
		UNION ALL <!-- 完成栏 已经完成的并且该工单未关闭 -->

		select 'wcl' k,count(1) v from work_order as a
		where a.tenant_id = ${tenantId} AND
		EXISTS(
		select 1 from work_order_process as b
		where b.work_order_id = a.id and b.tag = '4'
		)
		AND
		NOT EXISTS(
		select 1 from work_order_process as b
		where b.work_order_id = a.id and b.tag = '5'
		)

	</select>

	<!-- 根据查询条件获取数据集 -->
	<select id="workOrderList"
		resultType="com.ztman.ztspark.entity.workorder.vo.WorkOrderListVO$WorkOrderVO">
		SELECT
		a.id AS id,
		a.problem_level AS problemLevel,
		a.problem_type AS problemType,
		a.problem_desc AS problemDesc,
		a.equipment_name AS equipmentName,
		a.equipment_id AS equipmentId,
		a.report_addr AS reportAddr,
		a.report_time AS reportTime,
		b.user_realname AS reportPersonName,
		a.of_park AS ofPark,
		(
		CASE
		d.tag
		WHEN '1' THEN
		'已派遣'
		WHEN '2' THEN
		'已受理'
		WHEN '3' THEN
		'处置中'
		WHEN '4' THEN
		'已完成'
		WHEN '5' THEN
		'已关闭' ELSE '待派遣'
		END
		) AS process,
		b.phone AS contact
		FROM
		work_order AS a
		INNER JOIN sys_user AS b ON a.report_person_id = b.user_id
		LEFT JOIN ( SELECT c.work_order_id, MAX( c.tag ) tag FROM
		work_order_process AS c GROUP BY c.work_order_id ) AS d ON a.id =
		d.work_order_id
		WHERE
		a.del_flag = '0'
		AND a.tenant_id = ${tenantId}
		AND (
		1=1
		<if test="park != null and park != '' "> AND a.of_park LIKE '%${park}%' </if>
		<if test="searchKey != null and searchKey != '' "> AND ( b.user_realname LIKE '%${searchKey}%' OR a.id LIKE
			'%${searchKey}%' ) </if>
		<if test="type != null and type != '' "> AND  a.problem_type like '%${type}%'
		</if>
		)
		ORDER BY
		a.id DESC
		<if test=" page >= 0 and size >= 0 ">
			LIMIT ${page},
			${size}
		</if>
	</select>
	<!-- 根据查询条件获取总数 -->
	<select id="workOrderListTotal" resultType="java.lang.Integer">
		SELECT
		IFNULL(count(1),0)
		FROM
		work_order AS a
		INNER JOIN sys_user AS b ON a.report_person_id = b.user_id
		WHERE
		a.del_flag = '0'
		AND a.tenant_id = ${tenantId}
		AND (
		1=1
		<if test="park != null and park != '' "> AND a.of_park LIKE '%${park}%'  </if>
		<if test="searchKey != null and searchKey != '' "> AND( b.user_realname LIKE '%${searchKey}%' OR a.id LIKE
			'%${searchKey}%' ) </if>
		<if test="type != null and type != '' "> AND a.problem_type like '%${type}%'
		</if>
		)
	</select>

	<update id="updateWorkOrder" parameterType="WorkOrder">
		update work_order
		<trim prefix="SET" suffixOverrides=",">
			<if test="tenantId != null  and tenantId != ''  ">tenant_id = #{tenantId},</if>
			<if test="problemLevel != null  and problemLevel != ''  ">problem_level = #{problemLevel},</if>
			<if test="problemType != null  and problemType != ''  ">problem_type = #{problemType},</if>
			<if test="problemDesc != null  and problemDesc != ''  ">problem_desc = #{problemDesc},</if>
			<if test="equipmentName != null  and equipmentName != ''  ">equipment_name = #{equipmentName},</if>
			<if test="equipmentId != null  and equipmentId != ''  ">equipment_id = #{equipmentId},</if>
			<if test="reportPersonId != null  and reportPersonId != ''  ">report_person_id = #{reportPersonId},</if>
			<if test="reportAddr != null  and reportAddr != ''  ">report_addr = #{reportAddr},</if>
			<if test="reportTime != null  ">report_time = #{reportTime},</if>
			<if test="reportLng != null  ">report_lng = #{reportLng},</if>
			<if test="reportLat != null  ">report_lat = #{reportLat},</if>
			<if test="dataSource != null  and dataSource != ''  ">data_source = #{dataSource},</if>
			<if test="exigencyStatus != null  and exigencyStatus != ''  ">exigency_status = #{exigencyStatus},</if>
			<if test="note != null  and note != ''  ">note = #{note},</if>
			<if test="attachmentGroupId != null  and attachmentGroupId != ''  ">attachment_group_id = #{attachmentGroupId},</if>
			<if test="createTime != null  ">create_time = #{createTime},</if>
			<if test="assignUserId != null  and assignUserId != ''  ">assign_user_id = #{assignUserId},</if>
			<if test="assignUserName != null  and assignUserName != ''  ">assign_user_name = #{assignUserName},</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
			<if test="ofPark != null  and ofPark != ''  ">of_park = #{ofPark},</if>
			<if test="ofParkId != null  and ofParkId != ''  ">of_park_id = #{ofParkId},</if>

		</trim>
		where id = #{id}
	</update>

	<delete id="deleteWorkOrderById" parameterType="String">
		delete from
		work_order where id = #{id}
	</delete>

	<delete id="deleteWorkOrderByIds" parameterType="String">
		delete from work_order where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>



	<!-- 新增对象 -->
	<insert id="insertWorkOrder" parameterType="WorkOrder">
		insert into work_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="tenantId != null  and tenantId != ''  ">tenant_id,</if>
			<if test="problemLevel != null  and problemLevel != ''  ">problem_level,</if>
			<if test="problemType != null  and problemType != ''  ">problem_type,</if>
			<if test="problemDesc != null  and problemDesc != ''  ">problem_desc,</if>
			<if test="equipmentName != null  and equipmentName != ''  ">equipment_name,</if>
			<if test="equipmentId != null  and equipmentId != ''  ">equipment_id,</if>
			<if test="reportPersonId != null  and reportPersonId != ''  ">report_person_id,</if>
			<if test="reportAddr != null  and reportAddr != ''  ">report_addr,</if>
			<if test="reportTime != null  ">report_time,</if>
			<if test="reportLng != null  ">report_lng,</if>
			<if test="reportLat != null  ">report_lat,</if>
			<if test="dataSource != null  and dataSource != ''  ">data_source,</if>
			<if test="exigencyStatus != null  and exigencyStatus != ''  ">exigency_status,</if>
			<if test="note != null  and note != ''  ">note,</if>
			<if test="attachmentGroupId != null  and attachmentGroupId != ''  ">attachment_group_id,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="assignUserId != null  and assignUserId != ''  ">assign_user_id,</if>
			<if test="assignUserName != null  and assignUserName != ''  ">assign_user_name,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
			<if test="ofPark != null  and ofPark != ''  ">of_park,</if>
			<if test="ofParkId != null  and ofParkId != ''  ">of_park_id,</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="tenantId != null  and tenantId != ''  ">#{tenantId},</if>
			<if test="problemLevel != null  and problemLevel != ''  ">#{problemLevel},</if>
			<if test="problemType != null  and problemType != ''  ">#{problemType},</if>
			<if test="problemDesc != null  and problemDesc != ''  ">#{problemDesc},</if>
			<if test="equipmentName != null  and equipmentName != ''  ">#{equipmentName},</if>
			<if test="equipmentId != null  and equipmentId != ''  ">#{equipmentId},</if>
			<if test="reportPersonId != null  and reportPersonId != ''  ">#{reportPersonId},</if>
			<if test="reportAddr != null  and reportAddr != ''  ">#{reportAddr},</if>
			<if test="reportTime != null  ">#{reportTime},</if>
			<if test="reportLng != null  ">#{reportLng},</if>
			<if test="reportLat != null  ">#{reportLat},</if>
			<if test="dataSource != null  and dataSource != ''  ">#{dataSource},</if>
			<if test="exigencyStatus != null  and exigencyStatus != ''  ">#{exigencyStatus},</if>
			<if test="note != null  and note != ''  ">#{note},</if>
			<if test="attachmentGroupId != null  and attachmentGroupId != ''  ">#{attachmentGroupId},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="assignUserId != null  and assignUserId != ''  ">#{assignUserId},</if>
			<if test="assignUserName != null  and assignUserName != ''  ">#{assignUserName},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
			<if test="ofPark != null  and ofPark != ''  ">#{ofPark},</if>
			<if test="ofParkId != null  and ofParkId != ''  ">#{ofParkId},</if>

		</trim>
	</insert>



	<!-- 表字段 -->
	<sql id="column">
		id,  <!-- 工单号 -->
		tenant_id,  <!-- 租户 -->
		problem_level,  <!-- 问题等级 -->
		problem_type,  <!-- 问题类型 -->
		problem_desc,  <!-- 问题描述 -->
		equipment_name,  <!-- 设备名称 -->
		equipment_id,  <!-- 设备编号 -->
		report_person_id,  <!-- 上报人 -->
		report_addr,  <!-- 上报地点 -->
		report_time,  <!-- 上报时间 -->
		report_lng,  <!-- 上报经度 -->
		report_lat,  <!-- 上报纬度 -->
		data_source,  <!-- 数据来源 -->
		exigency_status,  <!-- 紧急状态（0.正常 1.紧急） -->
		note,  <!-- 备注 -->
		attachment_group_id,  <!-- 附件组id -->
		create_time,  <!-- 创建时间 -->
		assign_user_id,  <!-- 派遣用户id -->
		assign_user_name,  <!-- 派遣用户姓名 -->
		del_flag,of_park,of_park_id
	</sql>

	<!-- Where精确匹配字段 -->
	<sql id="equal">
		<if test="id != null and id != ''">
			AND id = #{id}  <!-- 工单号 -->
		</if>
		<if test="tenantId != null and tenantId != ''">
			AND tenant_id = #{tenantId}  <!-- 租户 -->
		</if>
		<if test="problemLevel != null and problemLevel != ''">
			AND problem_level = #{problemLevel}  <!-- 问题等级 -->
		</if>
		<if test="problemType != null and problemType != ''">
			AND problem_type = #{problemType}  <!-- 问题类型 -->
		</if>
		<if test="problemDesc != null and problemDesc != ''">
			AND problem_desc = #{problemDesc}  <!-- 问题描述 -->
		</if>
		<if test="equipmentName != null and equipmentName != ''">
			AND equipment_name = #{equipmentName}  <!-- 设备名称 -->
		</if>
		<if test="equipmentId != null and equipmentId != ''">
			AND equipment_id = #{equipmentId}  <!-- 设备编号 -->
		</if>
		<if test="reportPersonId != null and reportPersonId != ''">
			AND report_person_id = #{reportPersonId}  <!-- 上报人 -->
		</if>
		<if test="reportAddr != null and reportAddr != ''">
			AND report_addr = #{reportAddr}  <!-- 上报地点 -->
		</if>
		<if test="reportTime != null ">
			AND report_time = #{reportTime}  <!-- 上报时间 -->
		</if>
		<if test="reportLng != null ">
			AND report_lng = #{reportLng}  <!-- 上报经度 -->
		</if>
		<if test="reportLat != null ">
			AND report_lat = #{reportLat}  <!-- 上报纬度 -->
		</if>
		<if test="dataSource != null and dataSource != ''">
			AND data_source = #{dataSource}  <!-- 数据来源 -->
		</if>
		<if test="exigencyStatus != null and exigencyStatus != ''">
			AND exigency_status = #{exigencyStatus}  <!-- 紧急状态（0.正常 1.紧急） -->
		</if>
		<if test="note != null and note != ''">
			AND note = #{note}  <!-- 备注 -->
		</if>
		<if test="attachmentGroupId != null and attachmentGroupId != ''">
			AND attachment_group_id = #{attachmentGroupId}  <!-- 附件组id -->
		</if>
		<if test="createTime != null ">
			AND create_time = #{createTime}  <!-- 创建时间 -->
		</if>
		<if test="assignUserId != null and assignUserId != ''">
			AND assign_user_id = #{assignUserId}  <!-- 派遣用户id -->
		</if>
		<if test="assignUserName != null and assignUserName != ''">
			AND assign_user_name = #{assignUserName}  <!-- 派遣用户姓名 -->
		</if>
		<if test="delFlag != null and delFlag != ''">
			AND del_flag = #{delFlag}  <!-- 派遣用户姓名 -->
		</if>
		<if test="ofPark != null and ofPark != ''">
			AND of_park = #{ofPark}  <!-- 派遣用户姓名 -->
		</if>
		<if test="ofParkId != null and ofParkId != ''">
			AND of_park_id = #{ofParkId}  <!-- 派遣用户姓名 -->
		</if>

	</sql>

	<!-- Where模糊匹配字段 -->
	<sql id="like">
		<if test="id != null and id != ''">
			AND id like '%${id}%'  <!-- 工单号 -->
		</if>
		<if test="tenantId != null and tenantId != ''">
			AND tenant_id like '%${tenantId}%'  <!-- 租户 -->
		</if>
		<if test="problemLevel != null and problemLevel != ''">
			AND problem_level like '%${problemLevel}%'  <!-- 问题等级 -->
		</if>
		<if test="problemType != null and problemType != ''">
			AND problem_type like '%${problemType}%'  <!-- 问题类型 -->
		</if>
		<if test="problemDesc != null and problemDesc != ''">
			AND problem_desc like '%${problemDesc}%'  <!-- 问题描述 -->
		</if>
		<if test="equipmentName != null and equipmentName != ''">
			AND equipment_name like '%${equipmentName}%'  <!-- 设备名称 -->
		</if>
		<if test="equipmentId != null and equipmentId != ''">
			AND equipment_id like '%${equipmentId}%'  <!-- 设备编号 -->
		</if>
		<if test="reportPersonId != null and reportPersonId != ''">
			AND report_person_id like '%${reportPersonId}%'  <!-- 上报人 -->
		</if>
		<if test="reportAddr != null and reportAddr != ''">
			AND report_addr like '%${reportAddr}%'  <!-- 上报地点 -->
		</if>
		<if test="dataSource != null and dataSource != ''">
			AND data_source like '%${dataSource}%'  <!-- 数据来源 -->
		</if>
		<if test="exigencyStatus != null and exigencyStatus != ''">
			AND exigency_status like '%${exigencyStatus}%'  <!-- 紧急状态（0.正常 1.紧急） -->
		</if>
		<if test="note != null and note != ''">
			AND note like '%${note}%'  <!-- 备注 -->
		</if>
		<if test="attachmentGroupId != null and attachmentGroupId != ''">
			AND attachment_group_id like '%${attachmentGroupId}%'  <!-- 附件组id -->
		</if>
		<if test="assignUserId != null and assignUserId != ''">
			AND assign_user_id like '%${assignUserId}%'  <!-- 派遣用户id -->
		</if>
		<if test="assignUserName != null and assignUserName != ''">
			AND assign_user_name like '%${assignUserName}%'  <!-- 派遣用户姓名 -->
		</if>
		<if test="delFlag != null and delFlag != ''">
			AND del_flag like '%${delFlag}%'  <!-- 派遣用户姓名 -->
		</if>
		<if test="ofPark != null and ofPark != ''">
			AND of_park like '%${ofPark}%'  <!-- 派遣用户姓名 -->
		</if>
		<if test="ofParkId != null and ofParkId != ''">
			AND of_park_id like '%${ofParkId}%'  <!-- 派遣用户姓名 -->
		</if>
	</sql>
</mapper>
