<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztman.business.inspection.mapper.AttachmentMapper">

	<!-- 通用返回对象 -->
    <resultMap type="com.ztman.business.inspection.client.entity.Attachment" id="attachmentResult">
                        <result property="id" column="id"/> <!-- ID -->
                        <result property="groupId" column="group_id"/> <!-- 组编码 -->
                        <result property="tenantId" column="tenant_id"/> <!-- 租户 -->
                        <result property="upUserId" column="up_user_id"/> <!-- 上传用户id -->
                        <result property="path" column="path"/> <!-- 物理相对路径 -->
                        <result property="suffix" column="suffix"/> <!-- 文件后缀 -->
                        <result property="type" column="type"/> <!-- 文件类型(1.语音 2.图片 3.视频 4.文件) -->
                        <result property="createTime" column="create_time"/> <!-- 创建时间 -->
                        <result property="note" column="note"/> <!-- 备注 -->
            </resultMap>


    <sql id="selectAttachmentVo">
        select id, group_id, tenant_id, up_user_id, path, suffix, type, create_time, note from attachment
    </sql>
    <!-- 查询对象List -->
    <select id="selectAttachmentList" parameterType="com.ztman.business.inspection.client.entity.Attachment" resultMap="attachmentResult">
        <include refid="selectAttachmentVo"/>
        <where>
            <include refid="equal"/>
        </where>
    </select>

    <!-- 模糊查询对象List -->
    <select id="selectAttachmentListByLike" parameterType="com.ztman.business.inspection.client.entity.Attachment" resultMap="attachmentResult">
        <include refid="selectAttachmentVo"/>
        <where>
            <include refid="like"/>
        </where>
    </select>

    <!-- 根据主键查询对象 -->
    <select id="selectAttachmentById" parameterType="Long" resultMap="attachmentResult">
        <include refid="selectAttachmentVo"/>
        where id = #{id}
    </select>


    <update id="updateAttachment" parameterType="com.ztman.business.inspection.client.entity.Attachment">
        update attachment
        <trim prefix="SET" suffixOverrides=",">
                                                                            <if test="groupId != null  and groupId != ''  ">group_id = #{groupId},</if>
                                                                <if test="tenantId != null  and tenantId != ''  ">tenant_id = #{tenantId},</if>
                                                                <if test="upUserId != null  and upUserId != ''  ">up_user_id = #{upUserId},</if>
                                                                <if test="path != null  and path != ''  ">path = #{path},</if>
                                                                <if test="suffix != null  and suffix != ''  ">suffix = #{suffix},</if>
                                                                <if test="type != null  and type != ''  ">type = #{type},</if>
                                                                <if test="createTime != null  ">create_time = #{createTime},</if>
                                                                <if test="note != null  and note != ''  ">note = #{note},</if>
                                    </trim>
        where id = #{id}
    </update>

    <delete id="deleteAttachmentById" parameterType="Long">
        delete from attachment where id = #{id}
    </delete>

    <delete id="deleteAttachmentByIds" parameterType="String">
        delete from attachment where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>



    <!-- 新增对象 -->
    <insert id="insertAttachment" parameterType="com.ztman.business.inspection.client.entity.Attachment" useGeneratedKeys="true" keyProperty="id">
        insert into attachment
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                                            <if test="groupId != null  and groupId != ''  ">group_id,</if>
                                                                <if test="tenantId != null  and tenantId != ''  ">tenant_id,</if>
                                                                <if test="upUserId != null  and upUserId != ''  ">up_user_id,</if>
                                                                <if test="path != null  and path != ''  ">path,</if>
                                                                <if test="suffix != null  and suffix != ''  ">suffix,</if>
                                                                <if test="type != null  and type != ''  ">type,</if>
                                                                <if test="createTime != null  ">create_time,</if>
                                                                <if test="note != null  and note != ''  ">note,</if>
                                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                                                                            <if test="groupId != null  and groupId != ''  ">#{groupId},</if>
                                                                <if test="tenantId != null  and tenantId != ''  ">#{tenantId},</if>
                                                                <if test="upUserId != null  and upUserId != ''  ">#{upUserId},</if>
                                                                <if test="path != null  and path != ''  ">#{path},</if>
                                                                <if test="suffix != null  and suffix != ''  ">#{suffix},</if>
                                                                <if test="type != null  and type != ''  ">#{type},</if>
                                                                <if test="createTime != null  ">#{createTime},</if>
                                                                <if test="note != null  and note != ''  ">#{note},</if>
                                    </trim>
    </insert>



    <!-- 表字段 -->
    <sql id="column">
                    id,  <!-- ID -->
                    group_id,  <!-- 组编码 -->
                    tenant_id,  <!-- 租户 -->
                    up_user_id,  <!-- 上传用户id -->
                    path,  <!-- 物理相对路径 -->
                    suffix,  <!-- 文件后缀 -->
                    type,  <!-- 文件类型(1.语音 2.图片 3.视频 4.文件) -->
                    create_time,  <!-- 创建时间 -->
                    note  <!-- 备注 -->
            </sql>

    <!-- Where精确匹配字段 -->
    <sql id="equal">
                                            <if test="id != null ">
                        AND id = #{id}  <!-- ID -->
        </if>
                                            <if test="groupId != null and groupId != ''">
                        AND group_id = #{groupId}  <!-- 组编码 -->
        </if>
                                            <if test="tenantId != null and tenantId != ''">
                        AND tenant_id = #{tenantId}  <!-- 租户 -->
        </if>
                                            <if test="upUserId != null and upUserId != ''">
                        AND up_user_id = #{upUserId}  <!-- 上传用户id -->
        </if>
                                            <if test="path != null and path != ''">
                        AND path = #{path}  <!-- 物理相对路径 -->
        </if>
                                            <if test="suffix != null and suffix != ''">
                        AND suffix = #{suffix}  <!-- 文件后缀 -->
        </if>
                                            <if test="type != null and type != ''">
                        AND type = #{type}  <!-- 文件类型(1.语音 2.图片 3.视频 4.文件) -->
        </if>
                                            <if test="createTime != null ">
                        AND create_time = #{createTime}  <!-- 创建时间 -->
        </if>
                                            <if test="note != null and note != ''">
                        AND note = #{note}  <!-- 备注 -->
        </if>
            </sql>

    <!-- Where模糊匹配字段 -->
    <sql id="like">
                                                                 <if test="groupId != null and groupId != ''">
                    AND group_id like '%${groupId}%'  <!-- 组编码 -->
         </if>
                                                 <if test="tenantId != null and tenantId != ''">
                    AND tenant_id like '%${tenantId}%'  <!-- 租户 -->
         </if>
                                                 <if test="upUserId != null and upUserId != ''">
                    AND up_user_id like '%${upUserId}%'  <!-- 上传用户id -->
         </if>
                                                 <if test="path != null and path != ''">
                    AND path like '%${path}%'  <!-- 物理相对路径 -->
         </if>
                                                 <if test="suffix != null and suffix != ''">
                    AND suffix like '%${suffix}%'  <!-- 文件后缀 -->
         </if>
                                                 <if test="type != null and type != ''">
                    AND type like '%${type}%'  <!-- 文件类型(1.语音 2.图片 3.视频 4.文件) -->
         </if>
                                                                             <if test="note != null and note != ''">
                    AND note like '%${note}%'  <!-- 备注 -->
         </if>
                        </sql>
</mapper>
