<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztman.business.inspection.mapper.EquipmentMapper">

	<!-- 通用返回对象 -->
    <resultMap type="com.ztman.business.inspection.client.entity.Equipment" id="equipmentResult">
                        <result property="id" column="id"/> <!-- ID -->
                        <result property="code" column="code"/> <!-- 设备编号 -->
                        <result property="tenantId" column="tenant_id"/> <!-- 租户id -->
                        <result property="name" column="name"/> <!-- 设备名称 -->
                        <result property="createTime" column="create_time"/> <!-- 创建时间 -->
            </resultMap>


    <sql id="selectEquipmentVo">
        select id, code, tenant_id, name, create_time from equipment
    </sql>
    <!-- 查询对象List -->
    <select id="selectEquipmentList" parameterType="com.ztman.business.inspection.client.entity.Equipment" resultMap="equipmentResult">
        <include refid="selectEquipmentVo"/>
        <where>
            <include refid="equal"/>
        </where>
    </select>

    <!-- 模糊查询对象List -->
    <select id="selectEquipmentListByLike" parameterType="com.ztman.business.inspection.client.entity.Equipment" resultMap="equipmentResult">
        <include refid="selectEquipmentVo"/>
        <where>
            <include refid="like"/>
        </where>
    </select>

    <!-- 根据主键查询对象 -->
    <select id="selectEquipmentById" parameterType="Long" resultMap="equipmentResult">
        <include refid="selectEquipmentVo"/>
        where id = #{id}
    </select>


    <update id="updateEquipment" parameterType="com.ztman.business.inspection.client.entity.Equipment">
        update equipment
        <trim prefix="SET" suffixOverrides=",">
                                                                            <if test="code != null  and code != ''  ">code = #{code},</if>
                                                                <if test="tenantId != null  and tenantId != ''  ">tenant_id = #{tenantId},</if>
                                                                <if test="name != null  and name != ''  ">name = #{name},</if>
                                                                <if test="createTime != null  ">create_time = #{createTime},</if>
                                    </trim>
        where id = #{id}
    </update>

    <delete id="deleteEquipmentById" parameterType="Long">
        delete from equipment where id = #{id}
    </delete>

    <delete id="deleteEquipmentByIds" parameterType="String">
        delete from equipment where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>



    <!-- 新增对象 -->
    <insert id="insertEquipment" parameterType="com.ztman.business.inspection.client.entity.Equipment" useGeneratedKeys="true" keyProperty="id">
        insert into equipment
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                                            <if test="code != null  and code != ''  ">code,</if>
                                                                <if test="tenantId != null  and tenantId != ''  ">tenant_id,</if>
                                                                <if test="name != null  and name != ''  ">name,</if>
                                                                <if test="createTime != null  ">create_time,</if>
                                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                                                                            <if test="code != null  and code != ''  ">#{code},</if>
                                                                <if test="tenantId != null  and tenantId != ''  ">#{tenantId},</if>
                                                                <if test="name != null  and name != ''  ">#{name},</if>
                                                                <if test="createTime != null  ">#{createTime},</if>
                                    </trim>
    </insert>



    <!-- 表字段 -->
    <sql id="column">
                    id,  <!-- ID -->
                    code,  <!-- 设备编号 -->
                    tenant_id,  <!-- 租户id -->
                    name,  <!-- 设备名称 -->
                    create_time  <!-- 创建时间 -->
            </sql>

    <!-- Where精确匹配字段 -->
    <sql id="equal">
                                            <if test="id != null ">
                        AND id = #{id}  <!-- ID -->
        </if>
                                            <if test="code != null and code != ''">
                        AND code = #{code}  <!-- 设备编号 -->
        </if>
                                            <if test="tenantId != null and tenantId != ''">
                        AND tenant_id = #{tenantId}  <!-- 租户id -->
        </if>
                                            <if test="name != null and name != ''">
                        AND name = #{name}  <!-- 设备名称 -->
        </if>
                                            <if test="createTime != null ">
                        AND create_time = #{createTime}  <!-- 创建时间 -->
        </if>
            </sql>

    <!-- Where模糊匹配字段 -->
    <sql id="like">
                                                                 <if test="code != null and code != ''">
                    AND code like '%${code}%'  <!-- 设备编号 -->
         </if>
                                                 <if test="tenantId != null and tenantId != ''">
                    AND tenant_id like '%${tenantId}%'  <!-- 租户id -->
         </if>
                                                 <if test="name != null and name != ''">
                    AND name like '%${name}%'  <!-- 设备名称 -->
         </if>
                                                    </sql>
</mapper>
