<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztman.business.inspection.mapper.MaintenanceMapper">

	<!-- 通用返回对象 -->
    <resultMap type="com.ztman.business.inspection.client.entity.Maintenance" id="maintenanceResult">
                        <result property="id" column="id"/> <!-- 编号 -->
                        <result property="workOrderId" column="work_order_id"/> <!-- 工单号 -->
                        <result property="description" column="description"/> <!-- 过程标识（1.已派遣 2.已受理 3.处置中 4.已完成 5.已关闭） -->
                        <result property="completeDatetime" column="complete_datetime"/> <!-- 过程标识名称（1.已派遣 2.已受理 3.处置中 4.已完成 5.已关闭） -->
                        <result property="attachmentGroupId" column="attachment_group_id"/> <!-- 该过程参与人姓名 -->
                        <result property="doUserId" column="do_user_id"/> <!-- 该过程参与人用户id -->
                        <result property="doUserName" column="do_user_name"/> <!-- 该过程操作时间 -->
                        <result property="part" column="part"/> <!-- 该过程操作时间 --> 
            </resultMap>


    <sql id="selectMaintenanceVo">
        select id, work_order_id, description, complete_datetime, attachment_group_id, do_user_id, do_user_name,part  maintenance
    </sql>
    <!-- 查询对象List -->
    <select id="selectMaintenanceList" parameterType="com.ztman.business.inspection.client.entity.Maintenance" resultMap="maintenanceResult">
        <include refid="selectMaintenanceVo"/>
        <where>
            <include refid="equal"/>
        </where>
    </select>

    <!-- 模糊查询对象List -->
    <select id="selectMaintenanceListByLike" parameterType="com.ztman.business.inspection.client.entity.Maintenance" resultMap="maintenanceResult">
        <include refid="selectMaintenanceVo"/>
        <where>
            <include refid="like"/>
        </where>
    </select>

    <!-- 根据主键查询对象 -->
    <select id="selectMaintenanceById" parameterType="Long" resultMap="maintenanceResult">
        <include refid="selectMaintenanceVo"/>
        where id = #{id}
    </select>


    <update id="updateMaintenance" parameterType="com.ztman.business.inspection.client.entity.Maintenance">
        update maintenance
        <trim prefix="SET" suffixOverrides=",">
                                                                            <if test="workOrderId != null  and workOrderId != ''  ">work_order_id = #{workOrderId},</if>
                                                                <if test="description != null  and description != ''  ">description = #{description},</if>
                                                                <if test="completeDatetime != null ">complete_datetime = #{completeDatetime},</if>
                                                                <if test="attachmentGroupId != null  and attachmentGroupId != ''  ">attachment_group_id = #{attachmentGroupId},</if>
                                                                <if test="doUserId != null  and doUserId !=''  ">do_user_id = #{doUserId},</if>
                                                                <if test="doUserName != null  and doUserName != ''  ">do_user_name = #{doUserName},</if>
                                                                <if test="part != null  and part != ''  ">part = #{part},</if>
                                    </trim>
        where id = #{id}
    </update>

    <delete id="deleteMaintenanceById" parameterType="Long">
        delete from maintenance where id = #{id}
    </delete>

    <delete id="deleteMaintenanceByIds" parameterType="String">
        delete from maintenance where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>



    <!-- 新增对象 -->
    <insert id="insertMaintenance" parameterType="com.ztman.business.inspection.client.entity.Maintenance" useGeneratedKeys="true" keyProperty="id">
        insert into maintenance
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                                            <if test="workOrderId != null  and workOrderId != ''  ">work_order_id,</if>
                                                                <if test="description != null  and description != ''  ">description,</if>
                                                                <if test="completeDatetime != null ">complete_datetime,</if>
                                                                <if test="attachmentGroupId != null  and attachmentGroupId != ''  ">attachment_group_id,</if>
                                                                <if test="doUserId != null  and doUserId !=''  ">do_user_id,</if>
                                                                <if test="doUserName != null  and doUserName != ''  ">do_user_name,</if>
                                                                <if test="part != null  and part != ''  ">part,</if>
                                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                                                                            <if test="workOrderId != null  and workOrderId != ''  ">#{workOrderId},</if>
                                                                <if test="description != null  and description != ''  ">#{description},</if>
                                                                <if test="completeDatetime != null ">#{completeDatetime},</if>
                                                                <if test="attachmentGroupId != null  and attachmentGroupId != ''  ">#{attachmentGroupId},</if>
                                                                <if test="doUserId != null  and doUserId !=''  ">#{doUserId},</if>
                                                                <if test="doUserName != null  and doUserName != ''  ">#{doUserName},</if>
                                                                <if test="part != null  and part != ''  ">#{part},</if>
                                    </trim>
    </insert>



    <!-- 表字段 -->
    <sql id="column">
                    id, work_order_id, description, complete_datetime, attachment_group_id, do_user_id, do_user_name
            </sql>

    <!-- Where精确匹配字段 -->
    <sql id="equal">
                                            <if test="id != null ">
                        AND id = #{id}  <!-- 编号 -->
        </if>
                                            <if test="workOrderId != null and workOrderId != ''">
                        AND work_order_id = #{workOrderId}  <!-- 工单号 -->
        </if>
                                            <if test="description != null and description != ''">
                        AND description = #{description} 
        </if>
                                            <if test="completeDatetime != null">
                        AND complete_datetime = #{completeDatetime}  
        </if>
                                            <if test="attachmentGroupId != null and attachmentGroupId != ''">
                        AND attachment_group_id = #{attachmentGroupId}   
        </if>
                                            <if test="doUserId != null and doUserId != ''">
                        AND do_user_id = #{doUserId}  
        </if>
                                            <if test="doUserName != null and doUserName != '' ">
                        AND do_user_name = #{doUserName}  
        </if>
         <if test="part != null and part != '' ">
                        AND part = #{part}  
        </if>
            </sql>

    <!-- Where模糊匹配字段 -->
    <sql id="like">
                                                                 <if test="workOrderId != null and workOrderId != ''">
                    AND work_order_id like '%${workOrderId}%'  <!-- 工单号 -->
         </if>
                                                 <if test="description != null and description != ''">
                    AND description like '%${description}%'  
         </if>
                                                 <if test="completeDatetime != null and completeDatetime != ''">
                    AND complete_datetime like '%${completeDatetime}%'   
         </if>
                                                 <if test="attachmentGroupId != null and attachmentGroupId != ''">
                    AND attachment_group_id like '%${attachmentGroupId}%'  
         </if>
                                                 <if test="doUserId != null and doUserId != ''">
                    AND do_user_id like '%${doUserId}%'  
         </if>
                                                                             <if test="doUserName != null and doUserName != ''">
                    AND do_user_name like '%${doUserName}%'  
         </if>
         <if test="part != null and part != ''">
                    AND part like '%${part}%'  
         </if>
                        </sql>
</mapper>
