<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztman.business.inspection.mapper.PoininspectionJobMapper">

	<!-- 通用返回对象 -->
    <resultMap type="com.ztman.business.inspection.client.entity.PoininspectionJob" id="poininspectionJobResult">
                        <result property="id" column="id"/> <!-- 单号 -->
                        <result property="tenantId" column="tenant_id"/> <!-- 租户ID -->
                        <result property="assignUserId" column="assign_user_id"/> <!-- 派遣人ID -->
                        <result property="assignUserName" column="assign_user_name"/> <!-- 派遣人姓名 -->
                        <result property="assignTime" column="assign_time"/> <!-- 派遣时间 -->
                        <result property="doUserId" column="do_user_id"/> <!-- 点检人ID -->
                        <result property="doUserName" column="do_user_name"/> <!-- 点检人姓名 -->
                        <result property="doTime" column="do_time"/> <!-- 点检时间 -->
                        <result property="description" column="description"/> <!-- 点检描述 -->
                        <result property="isOn" column="is_on"/> <!-- 是否正常（0是 1否） -->
                        <result property="attachmentGroupId" column="attachment_group_id"/> <!-- 附件组ID -->
                        <result property="createTime" column="create_time"/> <!-- 创建时间 -->
                        <result property="problemType" column="problem_type"/> <!-- 问题类型 -->
                        <result property="address" column="address"/> <!-- 地点 -->
                        <result property="equipmentName" column="equipment_name"/> <!-- 设备名称 -->
                        <result property="equipmentId" column="equipment_id"/> <!-- 设备编号 -->
            </resultMap>
 
    

    <sql id="selectPoininspectionJobVo">
        select id, tenant_id, assign_user_id, assign_user_name, assign_time, do_user_id, do_user_name, do_time, description, is_on, attachment_group_id, create_time,problem_type,address,equipment_name,equipment_id from point_inspection_job
    </sql>
    

    <!-- 模糊查询对象List -->
    <select id="selectPoininspectionJobListByLike" parameterType="com.ztman.business.inspection.client.entity.PoininspectionJob" resultMap="poininspectionJobResult">
        <include refid="selectPoininspectionJobVo"/>
        <where>
            <include refid="like"/>
        </where>
    </select>

    <!-- 根据主键查询对象 -->
    <select id="selectPoininspectionJobById" parameterType="String" resultMap="poininspectionJobResult">
        <include refid="selectPoininspectionJobVo"/>
        where id = #{id}
    </select>
 

    <update id="updatePoininspectionJob" parameterType="com.ztman.business.inspection.client.entity.PoininspectionJob">
        update point_inspection_job
        <trim prefix="SET" suffixOverrides=",">
                                                                            <if test="tenantId != null  and tenantId != ''  ">tenant_id = #{tenantId},</if>
                                                                <if test="assignUserId != null  and assignUserId != ''  ">assign_user_id = #{assignUserId},</if>
                                                                <if test="assignUserName != null  and assignUserName != ''  ">assign_user_name = #{assignUserName},</if>
                                                                <if test="assignTime != null  ">assign_time = #{assignTime},</if>
                                                                <if test="doUserId != null  and doUserId != ''  ">do_user_id = #{doUserId},</if>
                                                                <if test="doUserName != null  and doUserName != ''  ">do_user_name = #{doUserName},</if>
                                                                <if test="doTime != null  ">do_time = #{doTime},</if>
                                                                <if test="description != null and description != ''  ">description = #{description},</if>
                                                                <if test="isOn != null  and isOn != ''  ">is_on = #{isOn},</if>
                                                                <if test="attachmentGroupId != null  and attachmentGroupId != ''  ">attachment_group_id = #{attachmentGroupId},</if>
                                                                <if test="createTime != null  ">create_time = #{createTime},</if>
                                                                <if test="problemType != null  and problemType != ''  ">problem_type = #{problemType},</if>
                                                                <if test="address != null  and address != ''  ">address = #{address},</if>
                                                                <if test="equipmentName != null  and equipmentName != ''  ">equipment_name = #{equipmentName},</if>
                                                                <if test="equipmentId != null  and equipmentId != ''  ">equipment_id = #{equipmentId},</if>
                                    </trim>
        where id = #{id}
    </update>

    <delete id="deletePoininspectionJobById" parameterType="String">
        delete from point_inspection_job where id = #{id}
    </delete>

    <delete id="deletePoininspectionJobByIds" parameterType="String">
        delete from point_inspection_job where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>



    <!-- 新增对象 -->
    <insert id="insertPoininspectionJob" parameterType="com.ztman.business.inspection.client.entity.PoininspectionJob">
        insert into point_inspection_job
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                <if test="id != null  and id != ''  ">id,</if>
                                                                <if test="tenantId != null  and tenantId != ''  ">tenant_id,</if>
                                                                <if test="assignUserId != null  and assignUserId != ''  ">assign_user_id,</if>
                                                                <if test="assignUserName != null  and assignUserName != ''  ">assign_user_name,</if>
                                                                <if test="assignTime != null  ">assign_time,</if>
                                                                <if test="doUserId != null  and doUserId != ''  ">do_user_id,</if>
                                                                <if test="doUserName != null  and doUserName != ''  ">do_user_name,</if>
                                                                <if test="doTime != null  ">do_time,</if>
                                                                <if test="description != null and description != ''  ">description,</if>
                                                                <if test="isOn != null  and isOn != ''  ">is_on,</if>
                                                                <if test="attachmentGroupId != null  and attachmentGroupId != ''  ">attachment_group_id,</if>
                                                                <if test="createTime != null  ">create_time,</if>
                                                                <if test="problemType != null  and problemType != ''  ">problem_type,</if>
                                                                <if test="address != null  and address != ''  ">address = #{address},</if>
                                                                <if test="equipmentName != null  and equipmentName != ''  ">equipment_name,</if>
                                                                <if test="equipmentId != null  and equipmentId != ''  ">equipment_id,</if>
                                                                
                                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                                                <if test="id != null  and id != ''  ">#{id},</if>
                                                                <if test="tenantId != null  and tenantId != ''  ">#{tenantId},</if>
                                                                <if test="assignUserId != null  and assignUserId != ''  ">#{assignUserId},</if>
                                                                <if test="assignUserName != null  and assignUserName != ''  ">#{assignUserName},</if>
                                                                <if test="assignTime != null  ">#{assignTime},</if>
                                                                <if test="doUserId != null  and doUserId != ''  ">#{doUserId},</if>
                                                                <if test="doUserName != null  and doUserName != ''  ">#{doUserName},</if>
                                                                <if test="doTime != null  ">#{doTime},</if>
                                                                <if test="description != null and description != '' ">#{description},</if>
                                                                <if test="isOn != null  and isOn != ''  ">#{isOn},</if>
                                                                <if test="attachmentGroupId != null  and attachmentGroupId != ''  ">#{attachmentGroupId},</if>
                                                                <if test="createTime != null  ">#{createTime},</if>
                                                                <if test="problemType != null  and problemType != ''  ">#{problemType},</if>
                                                                <if test="address != null  and address != ''  ">#{address},</if>
                                                                <if test="equipmentName != null  and equipmentName != ''  ">#{equipmentName},</if>
                                                                <if test="equipmentId != null  and equipmentId != ''  ">#{equipmentId},</if>
                                    </trim>
    </insert>



    <!-- 表字段 -->
    <sql id="column">
                    id,  <!-- 单号 -->
                    tenant_id,  <!-- 租户ID -->
                    assign_user_id,  <!-- 派遣人ID -->
                    assign_user_name,  <!-- 派遣人姓名 -->
                    assign_time,  <!-- 派遣时间 -->
                    do_user_id,  <!-- 点检人ID -->
                    do_user_name,  <!-- 点检人姓名 -->
                    do_time,  <!-- 点检时间 -->
                    description,  <!-- 点检描述 -->
                    is_on,  <!-- 是否正常（0是 1否） -->
                    attachment_group_id,  <!-- 附件组ID -->
                    create_time,  <!-- 创建时间 -->
                    problem_type,
                    address,
                    equipment_name,
                    equipment_id
            </sql>

    <!-- Where精确匹配字段 -->
    <sql id="equal">
                                            <if test="id != null and id != ''">
                        AND id = #{id}  <!-- 单号 -->
        </if>
                                            <if test="tenantId != null and tenantId != ''">
                        AND tenant_id = #{tenantId}  <!-- 租户ID -->
        </if>
                                            <if test="assignUserId != null and assignUserId != ''">
                        AND assign_user_id = #{assignUserId}  <!-- 派遣人ID -->
        </if>
                                            <if test="assignUserName != null and assignUserName != ''">
                        AND assign_user_name = #{assignUserName}  <!-- 派遣人姓名 -->
        </if>
                                            <if test="assignTime != null ">
                        AND assign_time = #{assignTime}  <!-- 派遣时间 -->
        </if>
                                            <if test="doUserId != null and doUserId != ''">
                        AND do_user_id = #{doUserId}  <!-- 点检人ID -->
        </if>
                                            <if test="doUserName != null and doUserName != ''">
                        AND do_user_name = #{doUserName}  <!-- 点检人姓名 -->
        </if>
                                            <if test="doTime != null ">
                        AND do_time = #{doTime}  <!-- 点检时间 -->
        </if>
                                            <if test="description != null ">
                        AND description = #{description}  <!-- 点检描述 -->
        </if>
                                            <if test="isOn != null and isOn != ''">
                        AND is_on = #{isOn}  <!-- 是否正常（0是 1否） -->
        </if>
                                            <if test="attachmentGroupId != null and attachmentGroupId != ''">
                        AND attachment_group_id = #{attachmentGroupId}  <!-- 附件组ID -->
        </if>
                                            <if test="datetoime != null ">
                        AND problem_type = #{problemType}  <!-- 问题类型 -->
        </if>
                                            <if test="datetoime != null ">
                        AND address = #{address}  <!-- 地点 -->
        </if>
                                            <if test="datetoime != null ">
                        AND equipment_name = #{equipmentName}  <!-- 设备名称 -->
        </if>
                                            <if test="datetoime != null ">
                        AND equipment_id = #{equipmentId}  <!-- 设备编号 -->
        </if>
            </sql>

    <!-- Where模糊匹配字段 -->
    <sql id="like">
                                     <if test="id != null and id != ''">
                    AND id like '%${id}%'  <!-- 单号 -->
         </if>
                                                 <if test="tenantId != null and tenantId != ''">
                    AND tenant_id like '%${tenantId}%'  <!-- 租户ID -->
         </if>
                                                 <if test="assignUserId != null and assignUserId != ''">
                    AND assign_user_id like '%${assignUserId}%'  <!-- 派遣人ID -->
         </if>
                                                 <if test="assignUserName != null and assignUserName != ''">
                    AND assign_user_name like '%${assignUserName}%'  <!-- 派遣人姓名 -->
         </if>
                                                                             <if test="doUserId != null and doUserId != ''">
                    AND do_user_id like '%${doUserId}%'  <!-- 点检人ID -->
         </if>
                                                 <if test="doUserName != null and doUserName != ''">
                    AND do_user_name like '%${doUserName}%'  <!-- 点检人姓名 -->
         </if>
                                                                                                         <if test="isOn != null and isOn != ''">
                    AND is_on like '%${isOn}%'  <!-- 是否正常（0是 1否） -->
         </if>
                                                 <if test="attachmentGroupId != null and attachmentGroupId != ''">
                    AND attachment_group_id like '%${attachmentGroupId}%'  <!-- 附件组ID -->
         </if>
                                                    </sql>
</mapper>
