<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztman.business.inspection.mapper.SysTenantMapper">

	<!-- 通用返回对象 -->
    <resultMap type="com.ztman.business.inspection.client.entity.SysTenant" id="sysTenantResult">
                        <result property="tenantId" column="tenant_id"/> <!-- 租户id -->
                        <result property="tenantName" column="tenant_name"/> <!-- 租户名称 -->
                        <result property="tenantCode" column="tenant_code"/> <!-- 租户编码 -->
                        <result property="tenantParent" column="tenant_parent"/> <!-- 上级租户 -->
                        <result property="areaId" column="area_id"/> <!-- 所属区域id -->
                        <result property="admin" column="admin"/> <!-- 所属（管理员，用户） -->
                        <result property="adminPhone" column="admin_phone"/> <!-- 联系方式 -->
                        <result property="createBy" column="create_by"/> <!-- 创建人 -->
                        <result property="createTime" column="create_time"/> <!-- 创建时间 -->
                        <result property="updateBy" column="update_by"/> <!-- 修改人 -->
                        <result property="updateTime" column="update_time"/> <!-- 修改时间 -->
                        <result property="delFlag" column="del_flag"/> <!-- 删除标识 0-删除，1-正常 -->
                        <result property="tenantFlag" column="tenant_flag"/> <!-- 有效标识 1-正常 0-停用 2-锁定 -->
                        <result property="remark" column="remark"/> <!-- 备注 -->
            </resultMap>


    <sql id="selectSysTenantVo">
        select tenant_id, tenant_name, tenant_code, tenant_parent, area_id, admin, admin_phone, create_by, create_time, update_by, update_time, del_flag, tenant_flag, remark from sys_tenant
    </sql>
    <!-- 查询对象List -->
    <select id="selectSysTenantList" parameterType="com.ztman.business.inspection.client.entity.SysTenant" resultMap="sysTenantResult">
        <include refid="selectSysTenantVo"/>
        <where>
            <include refid="equal"/>
        </where>
    </select>

    <!-- 模糊查询对象List -->
    <select id="selectSysTenantListByLike" parameterType="com.ztman.business.inspection.client.entity.SysTenant" resultMap="sysTenantResult">
        <include refid="selectSysTenantVo"/>
        <where>
            <include refid="like"/>
        </where>
    </select>

    <!-- 根据主键查询对象 -->
    <select id="selectSysTenantById" parameterType="Integer" resultMap="sysTenantResult">
        <include refid="selectSysTenantVo"/>
        where tenant_id = #{tenantId}
    </select>


    <update id="updateSysTenant" parameterType="com.ztman.business.inspection.client.entity.SysTenant">
        update sys_tenant
        <trim prefix="SET" suffixOverrides=",">
                                                                            <if test="tenantName != null  and tenantName != ''  ">tenant_name = #{tenantName},</if>
                                                                <if test="tenantCode != null  and tenantCode != ''  ">tenant_code = #{tenantCode},</if>
                                                                <if test="tenantParent != null  and tenantParent != ''  ">tenant_parent = #{tenantParent},</if>
                                                                <if test="areaId != null  ">area_id = #{areaId},</if>
                                                                <if test="admin != null  ">admin = #{admin},</if>
                                                                <if test="adminPhone != null  and adminPhone != ''  ">admin_phone = #{adminPhone},</if>
                                                                <if test="createBy != null  ">create_by = #{createBy},</if>
                                                                <if test="createTime != null  ">create_time = #{createTime},</if>
                                                                <if test="updateBy != null  ">update_by = #{updateBy},</if>
                                                                <if test="updateTime != null  ">update_time = #{updateTime},</if>
                                                                <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
                                                                <if test="tenantFlag != null  and tenantFlag != ''  ">tenant_flag = #{tenantFlag},</if>
                                                                <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
                                    </trim>
        where tenant_id = #{tenantId}
    </update>

    <delete id="deleteSysTenantById" parameterType="Integer">
        delete from sys_tenant where tenant_id = #{tenantId}
    </delete>

    <delete id="deleteSysTenantByIds" parameterType="String">
        delete from sys_tenant where tenant_id in
        <foreach item="tenantId" collection="array" open="(" separator="," close=")">
            #{tenantId}
        </foreach>
    </delete>



    <!-- 新增对象 -->
    <insert id="insertSysTenant" parameterType="com.ztman.business.inspection.client.entity.SysTenant" useGeneratedKeys="true" keyProperty="tenantId">
        insert into sys_tenant
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                                            <if test="tenantName != null  and tenantName != ''  ">tenant_name,</if>
                                                                <if test="tenantCode != null  and tenantCode != ''  ">tenant_code,</if>
                                                                <if test="tenantParent != null  and tenantParent != ''  ">tenant_parent,</if>
                                                                <if test="areaId != null  ">area_id,</if>
                                                                <if test="admin != null  ">admin,</if>
                                                                <if test="adminPhone != null  and adminPhone != ''  ">admin_phone,</if>
                                                                <if test="createBy != null  ">create_by,</if>
                                                                <if test="createTime != null  ">create_time,</if>
                                                                <if test="updateBy != null  ">update_by,</if>
                                                                <if test="updateTime != null  ">update_time,</if>
                                                                <if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
                                                                <if test="tenantFlag != null  and tenantFlag != ''  ">tenant_flag,</if>
                                                                <if test="remark != null  and remark != ''  ">remark,</if>
                                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                                                                            <if test="tenantName != null  and tenantName != ''  ">#{tenantName},</if>
                                                                <if test="tenantCode != null  and tenantCode != ''  ">#{tenantCode},</if>
                                                                <if test="tenantParent != null  and tenantParent != ''  ">#{tenantParent},</if>
                                                                <if test="areaId != null  ">#{areaId},</if>
                                                                <if test="admin != null  ">#{admin},</if>
                                                                <if test="adminPhone != null  and adminPhone != ''  ">#{adminPhone},</if>
                                                                <if test="createBy != null  ">#{createBy},</if>
                                                                <if test="createTime != null  ">#{createTime},</if>
                                                                <if test="updateBy != null  ">#{updateBy},</if>
                                                                <if test="updateTime != null  ">#{updateTime},</if>
                                                                <if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
                                                                <if test="tenantFlag != null  and tenantFlag != ''  ">#{tenantFlag},</if>
                                                                <if test="remark != null  and remark != ''  ">#{remark},</if>
                                    </trim>
    </insert>



    <!-- 表字段 -->
    <sql id="column">
                    tenant_id,  <!-- 租户id -->
                    tenant_name,  <!-- 租户名称 -->
                    tenant_code,  <!-- 租户编码 -->
                    tenant_parent,  <!-- 上级租户 -->
                    area_id,  <!-- 所属区域id -->
                    admin,  <!-- 所属（管理员，用户） -->
                    admin_phone,  <!-- 联系方式 -->
                    create_by,  <!-- 创建人 -->
                    create_time,  <!-- 创建时间 -->
                    update_by,  <!-- 修改人 -->
                    update_time,  <!-- 修改时间 -->
                    del_flag,  <!-- 删除标识 0-删除，1-正常 -->
                    tenant_flag,  <!-- 有效标识 1-正常 0-停用 2-锁定 -->
                    remark  <!-- 备注 -->
            </sql>

    <!-- Where精确匹配字段 -->
    <sql id="equal">
                                            <if test="tenantId != null ">
                        AND tenant_id = #{tenantId}  <!-- 租户id -->
        </if>
                                            <if test="tenantName != null and tenantName != ''">
                        AND tenant_name = #{tenantName}  <!-- 租户名称 -->
        </if>
                                            <if test="tenantCode != null and tenantCode != ''">
                        AND tenant_code = #{tenantCode}  <!-- 租户编码 -->
        </if>
                                            <if test="tenantParent != null and tenantParent != ''">
                        AND tenant_parent = #{tenantParent}  <!-- 上级租户 -->
        </if>
                                            <if test="areaId != null ">
                        AND area_id = #{areaId}  <!-- 所属区域id -->
        </if>
                                            <if test="admin != null ">
                        AND admin = #{admin}  <!-- 所属（管理员，用户） -->
        </if>
                                            <if test="adminPhone != null and adminPhone != ''">
                        AND admin_phone = #{adminPhone}  <!-- 联系方式 -->
        </if>
                                            <if test="createBy != null ">
                        AND create_by = #{createBy}  <!-- 创建人 -->
        </if>
                                            <if test="createTime != null ">
                        AND create_time = #{createTime}  <!-- 创建时间 -->
        </if>
                                            <if test="updateBy != null ">
                        AND update_by = #{updateBy}  <!-- 修改人 -->
        </if>
                                            <if test="updateTime != null ">
                        AND update_time = #{updateTime}  <!-- 修改时间 -->
        </if>
                                            <if test="delFlag != null and delFlag != ''">
                        AND del_flag = #{delFlag}  <!-- 删除标识 0-删除，1-正常 -->
        </if>
                                            <if test="tenantFlag != null and tenantFlag != ''">
                        AND tenant_flag = #{tenantFlag}  <!-- 有效标识 1-正常 0-停用 2-锁定 -->
        </if>
                                            <if test="remark != null and remark != ''">
                        AND remark = #{remark}  <!-- 备注 -->
        </if>
            </sql>

    <!-- Where模糊匹配字段 -->
    <sql id="like">
                                                                 <if test="tenantName != null and tenantName != ''">
                    AND tenant_name like '%${tenantName}%'  <!-- 租户名称 -->
         </if>
                                                 <if test="tenantCode != null and tenantCode != ''">
                    AND tenant_code like '%${tenantCode}%'  <!-- 租户编码 -->
         </if>
                                                 <if test="tenantParent != null and tenantParent != ''">
                    AND tenant_parent like '%${tenantParent}%'  <!-- 上级租户 -->
         </if>
                                                                                                         <if test="adminPhone != null and adminPhone != ''">
                    AND admin_phone like '%${adminPhone}%'  <!-- 联系方式 -->
         </if>
                                                                                                                                                                 <if test="delFlag != null and delFlag != ''">
                    AND del_flag like '%${delFlag}%'  <!-- 删除标识 0-删除，1-正常 -->
         </if>
                                                 <if test="tenantFlag != null and tenantFlag != ''">
                    AND tenant_flag like '%${tenantFlag}%'  <!-- 有效标识 1-正常 0-停用 2-锁定 -->
         </if>
                                                 <if test="remark != null and remark != ''">
                    AND remark like '%${remark}%'  <!-- 备注 -->
         </if>
                        </sql>
</mapper>
