<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztman.business.inspection.mapper.SysUserMapper">

	<!-- 通用返回对象 -->
    <resultMap type="com.ztman.business.inspection.client.entity.SysUser" id="sysUserResult">
                        <result property="userId" column="user_id"/> <!-- 主键ID -->
                        <result property="username" column="username"/> <!-- 登陆名称 -->
                        <result property="password" column="password"/> <!-- 登陆密码 -->
                        <result property="userRealname" column="user_realname"/> <!-- 用户真实姓名 -->
                        <result property="sex" column="sex"/> <!-- 0-男  1-女 -->
                        <result property="phone" column="phone"/> <!-- 电话 -->
                        <result property="email" column="email"/> <!-- 邮箱 -->
                        <result property="empno" column="empno"/> <!-- 员工号 -->
                        <result property="signName" column="sign_name"/> <!-- 用户电子签名 -->
                        <result property="deptId" column="dept_id"/> <!-- 部门ID -->
                        <result property="salt" column="salt"/> <!-- 随机盐 -->
                        <result property="avatar" column="avatar"/> <!-- 头像 -->
                        <result property="userFlag" column="user_flag"/> <!-- 用户状态 1-正常 0-停用 2-锁定 -->
                        <result property="passwordEndtime" column="password_endtime"/> <!-- 密码到期时间 -->
                        <result property="createTime" column="create_time"/> <!-- 创建时间 -->
                        <result property="createBy" column="create_by"/> <!-- 创建人 -->
                        <result property="updateTime" column="update_time"/> <!-- 修改时间 -->
                        <result property="updateBy" column="update_by"/> <!-- 修改人 -->
                        <result property="delFlag" column="del_flag"/> <!-- 0-删除，1-正常 -->
                        <result property="wxOpenid" column="wx_openid"/> <!-- 微信openid -->
                        <result property="qqOpenid" column="qq_openid"/> <!-- QQ openid -->
                        <result property="remark" column="remark"/> <!--  -->
                        <result property="adminRemark" column="admin_remark"/> <!-- 工程师备注 -->
                        <result property="lastlogindate" column="lastLoginDate"/> <!-- 最后登录时间 -->
                        <result property="postName" column="post_name"/> <!-- 职位 -->
                        <result property="areaId" column="area_id"/> <!-- 区域Id -->
                        <result property="organId" column="organ_id"/> <!-- 车场Id -->
                        <result property="companyId" column="company_id"/> <!-- 企业Id -->
                        <result property="serviceOrganId" column="service_organ_id"/> <!-- 业务机构Id -->
            </resultMap>


    <sql id="selectSysUserVo">
        select user_id, username, password, user_realname, sex, phone, email, empno, sign_name, dept_id, salt, avatar, user_flag, password_endtime, create_time, create_by, update_time, update_by, del_flag, wx_openid, qq_openid, remark, admin_remark, lastLoginDate, post_name, area_id, organ_id, company_id, service_organ_id from sys_user
    </sql>
    <!-- 查询对象List -->
    <select id="selectSysUserList" parameterType="com.ztman.business.inspection.client.entity.SysUser" resultMap="sysUserResult">
        <include refid="selectSysUserVo"/>
        <where>
            <include refid="equal"/>
        </where>
    </select>

    <!-- 模糊查询对象List -->
    <select id="selectSysUserListByLike" parameterType="com.ztman.business.inspection.client.entity.SysUser" resultMap="sysUserResult">
        <include refid="selectSysUserVo"/>
        <where>
            <include refid="like"/>
        </where>
    </select>

    <!-- 根据主键查询对象 -->
    <select id="selectSysUserById" parameterType="Integer" resultMap="sysUserResult">
        <include refid="selectSysUserVo"/>
        where user_id = #{userId}
    </select>


    <update id="updateSysUser" parameterType="com.ztman.business.inspection.client.entity.SysUser">
        update sys_user
        <trim prefix="SET" suffixOverrides=",">
                                                                            <if test="username != null  and username != ''  ">username = #{username},</if>
                                                                <if test="password != null  and password != ''  ">password = #{password},</if>
                                                                <if test="userRealname != null  and userRealname != ''  ">user_realname = #{userRealname},</if>
                                                                <if test="sex != null  and sex != ''  ">sex = #{sex},</if>
                                                                <if test="phone != null  and phone != ''  ">phone = #{phone},</if>
                                                                <if test="email != null  and email != ''  ">email = #{email},</if>
                                                                <if test="empno != null  and empno != ''  ">empno = #{empno},</if>
                                                                <if test="signName != null  and signName != ''  ">sign_name = #{signName},</if>
                                                                <if test="deptId != null  ">dept_id = #{deptId},</if>
                                                                <if test="salt != null  and salt != ''  ">salt = #{salt},</if>
                                                                <if test="avatar != null  and avatar != ''  ">avatar = #{avatar},</if>
                                                                <if test="userFlag != null  and userFlag != ''  ">user_flag = #{userFlag},</if>
                                                                <if test="passwordEndtime != null  ">password_endtime = #{passwordEndtime},</if>
                                                                <if test="createTime != null  ">create_time = #{createTime},</if>
                                                                <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
                                                                <if test="updateTime != null  ">update_time = #{updateTime},</if>
                                                                <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
                                                                <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
                                                                <if test="wxOpenid != null  and wxOpenid != ''  ">wx_openid = #{wxOpenid},</if>
                                                                <if test="qqOpenid != null  and qqOpenid != ''  ">qq_openid = #{qqOpenid},</if>
                                                                <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
                                                                <if test="adminRemark != null  and adminRemark != ''  ">admin_remark = #{adminRemark},</if>
                                                                <if test="lastlogindate != null  ">lastLoginDate = #{lastlogindate},</if>
                                                                <if test="postName != null  and postName != ''  ">post_name = #{postName},</if>
                                                                <if test="areaId != null  ">area_id = #{areaId},</if>
                                                                <if test="organId != null  ">organ_id = #{organId},</if>
                                                                <if test="companyId != null  ">company_id = #{companyId},</if>
                                                                <if test="serviceOrganId != null  ">service_organ_id = #{serviceOrganId},</if>
                                    </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteSysUserById" parameterType="Integer">
        delete from sys_user where user_id = #{userId}
    </delete>

    <delete id="deleteSysUserByIds" parameterType="String">
        delete from sys_user where user_id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>



    <!-- 新增对象 -->
    <insert id="insertSysUser" parameterType="com.ztman.business.inspection.client.entity.SysUser" useGeneratedKeys="true" keyProperty="userId">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                                            <if test="username != null  and username != ''  ">username,</if>
                                                                <if test="password != null  and password != ''  ">password,</if>
                                                                <if test="userRealname != null  and userRealname != ''  ">user_realname,</if>
                                                                <if test="sex != null  and sex != ''  ">sex,</if>
                                                                <if test="phone != null  and phone != ''  ">phone,</if>
                                                                <if test="email != null  and email != ''  ">email,</if>
                                                                <if test="empno != null  and empno != ''  ">empno,</if>
                                                                <if test="signName != null  and signName != ''  ">sign_name,</if>
                                                                <if test="deptId != null  ">dept_id,</if>
                                                                <if test="salt != null  and salt != ''  ">salt,</if>
                                                                <if test="avatar != null  and avatar != ''  ">avatar,</if>
                                                                <if test="userFlag != null  and userFlag != ''  ">user_flag,</if>
                                                                <if test="passwordEndtime != null  ">password_endtime,</if>
                                                                <if test="createTime != null  ">create_time,</if>
                                                                <if test="createBy != null  and createBy != ''  ">create_by,</if>
                                                                <if test="updateTime != null  ">update_time,</if>
                                                                <if test="updateBy != null  and updateBy != ''  ">update_by,</if>
                                                                <if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
                                                                <if test="wxOpenid != null  and wxOpenid != ''  ">wx_openid,</if>
                                                                <if test="qqOpenid != null  and qqOpenid != ''  ">qq_openid,</if>
                                                                <if test="remark != null  and remark != ''  ">remark,</if>
                                                                <if test="adminRemark != null  and adminRemark != ''  ">admin_remark,</if>
                                                                <if test="lastlogindate != null  ">lastLoginDate,</if>
                                                                <if test="postName != null  and postName != ''  ">post_name,</if>
                                                                <if test="areaId != null  ">area_id,</if>
                                                                <if test="organId != null  ">organ_id,</if>
                                                                <if test="companyId != null  ">company_id,</if>
                                                                <if test="serviceOrganId != null  ">service_organ_id,</if>
                                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                                                                            <if test="username != null  and username != ''  ">#{username},</if>
                                                                <if test="password != null  and password != ''  ">#{password},</if>
                                                                <if test="userRealname != null  and userRealname != ''  ">#{userRealname},</if>
                                                                <if test="sex != null  and sex != ''  ">#{sex},</if>
                                                                <if test="phone != null  and phone != ''  ">#{phone},</if>
                                                                <if test="email != null  and email != ''  ">#{email},</if>
                                                                <if test="empno != null  and empno != ''  ">#{empno},</if>
                                                                <if test="signName != null  and signName != ''  ">#{signName},</if>
                                                                <if test="deptId != null  ">#{deptId},</if>
                                                                <if test="salt != null  and salt != ''  ">#{salt},</if>
                                                                <if test="avatar != null  and avatar != ''  ">#{avatar},</if>
                                                                <if test="userFlag != null  and userFlag != ''  ">#{userFlag},</if>
                                                                <if test="passwordEndtime != null  ">#{passwordEndtime},</if>
                                                                <if test="createTime != null  ">#{createTime},</if>
                                                                <if test="createBy != null  and createBy != ''  ">#{createBy},</if>
                                                                <if test="updateTime != null  ">#{updateTime},</if>
                                                                <if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
                                                                <if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
                                                                <if test="wxOpenid != null  and wxOpenid != ''  ">#{wxOpenid},</if>
                                                                <if test="qqOpenid != null  and qqOpenid != ''  ">#{qqOpenid},</if>
                                                                <if test="remark != null  and remark != ''  ">#{remark},</if>
                                                                <if test="adminRemark != null  and adminRemark != ''  ">#{adminRemark},</if>
                                                                <if test="lastlogindate != null  ">#{lastlogindate},</if>
                                                                <if test="postName != null  and postName != ''  ">#{postName},</if>
                                                                <if test="areaId != null  ">#{areaId},</if>
                                                                <if test="organId != null  ">#{organId},</if>
                                                                <if test="companyId != null  ">#{companyId},</if>
                                                                <if test="serviceOrganId != null  ">#{serviceOrganId},</if>
                                    </trim>
    </insert>



    <!-- 表字段 -->
    <sql id="column">
                    user_id,  <!-- 主键ID -->
                    username,  <!-- 登陆名称 -->
                    password,  <!-- 登陆密码 -->
                    user_realname,  <!-- 用户真实姓名 -->
                    sex,  <!-- 0-男  1-女 -->
                    phone,  <!-- 电话 -->
                    email,  <!-- 邮箱 -->
                    empno,  <!-- 员工号 -->
                    sign_name,  <!-- 用户电子签名 -->
                    dept_id,  <!-- 部门ID -->
                    salt,  <!-- 随机盐 -->
                    avatar,  <!-- 头像 -->
                    user_flag,  <!-- 用户状态 1-正常 0-停用 2-锁定 -->
                    password_endtime,  <!-- 密码到期时间 -->
                    create_time,  <!-- 创建时间 -->
                    create_by,  <!-- 创建人 -->
                    update_time,  <!-- 修改时间 -->
                    update_by,  <!-- 修改人 -->
                    del_flag,  <!-- 0-删除，1-正常 -->
                    wx_openid,  <!-- 微信openid -->
                    qq_openid,  <!-- QQ openid -->
                    remark,  <!--  -->
                    admin_remark,  <!-- 工程师备注 -->
                    lastLoginDate,  <!-- 最后登录时间 -->
                    post_name,  <!-- 职位 -->
                    area_id,  <!-- 区域Id -->
                    organ_id,  <!-- 车场Id -->
                    company_id,  <!-- 企业Id -->
                    service_organ_id  <!-- 业务机构Id -->
            </sql>

    <!-- Where精确匹配字段 -->
    <sql id="equal">
                                            <if test="userId != null ">
                        AND user_id = #{userId}  <!-- 主键ID -->
        </if>
                                            <if test="username != null and username != ''">
                        AND username = #{username}  <!-- 登陆名称 -->
        </if>
                                            <if test="password != null and password != ''">
                        AND password = #{password}  <!-- 登陆密码 -->
        </if>
                                            <if test="userRealname != null and userRealname != ''">
                        AND user_realname = #{userRealname}  <!-- 用户真实姓名 -->
        </if>
                                            <if test="sex != null and sex != ''">
                        AND sex = #{sex}  <!-- 0-男  1-女 -->
        </if>
                                            <if test="phone != null and phone != ''">
                        AND phone = #{phone}  <!-- 电话 -->
        </if>
                                            <if test="email != null and email != ''">
                        AND email = #{email}  <!-- 邮箱 -->
        </if>
                                            <if test="empno != null and empno != ''">
                        AND empno = #{empno}  <!-- 员工号 -->
        </if>
                                            <if test="signName != null and signName != ''">
                        AND sign_name = #{signName}  <!-- 用户电子签名 -->
        </if>
                                            <if test="deptId != null ">
                        AND dept_id = #{deptId}  <!-- 部门ID -->
        </if>
                                            <if test="salt != null and salt != ''">
                        AND salt = #{salt}  <!-- 随机盐 -->
        </if>
                                            <if test="avatar != null and avatar != ''">
                        AND avatar = #{avatar}  <!-- 头像 -->
        </if>
                                            <if test="userFlag != null and userFlag != ''">
                        AND user_flag = #{userFlag}  <!-- 用户状态 1-正常 0-停用 2-锁定 -->
        </if>
                                            <if test="passwordEndtime != null ">
                        AND password_endtime = #{passwordEndtime}  <!-- 密码到期时间 -->
        </if>
                                            <if test="createTime != null ">
                        AND create_time = #{createTime}  <!-- 创建时间 -->
        </if>
                                            <if test="createBy != null and createBy != ''">
                        AND create_by = #{createBy}  <!-- 创建人 -->
        </if>
                                            <if test="updateTime != null ">
                        AND update_time = #{updateTime}  <!-- 修改时间 -->
        </if>
                                            <if test="updateBy != null and updateBy != ''">
                        AND update_by = #{updateBy}  <!-- 修改人 -->
        </if>
                                            <if test="delFlag != null and delFlag != ''">
                        AND del_flag = #{delFlag}  <!-- 0-删除，1-正常 -->
        </if>
                                            <if test="wxOpenid != null and wxOpenid != ''">
                        AND wx_openid = #{wxOpenid}  <!-- 微信openid -->
        </if>
                                            <if test="qqOpenid != null and qqOpenid != ''">
                        AND qq_openid = #{qqOpenid}  <!-- QQ openid -->
        </if>
                                            <if test="remark != null and remark != ''">
                        AND remark = #{remark}  <!--  -->
        </if>
                                            <if test="adminRemark != null and adminRemark != ''">
                        AND admin_remark = #{adminRemark}  <!-- 工程师备注 -->
        </if>
                                            <if test="lastlogindate != null ">
                        AND lastLoginDate = #{lastlogindate}  <!-- 最后登录时间 -->
        </if>
                                            <if test="postName != null and postName != ''">
                        AND post_name = #{postName}  <!-- 职位 -->
        </if>
                                            <if test="areaId != null ">
                        AND area_id = #{areaId}  <!-- 区域Id -->
        </if>
                                            <if test="organId != null ">
                        AND organ_id = #{organId}  <!-- 车场Id -->
        </if>
                                            <if test="companyId != null ">
                        AND company_id = #{companyId}  <!-- 企业Id -->
        </if>
                                            <if test="serviceOrganId != null ">
                        AND service_organ_id = #{serviceOrganId}  <!-- 业务机构Id -->
        </if>
            </sql>

    <!-- Where模糊匹配字段 -->
    <sql id="like">
                                                                 <if test="username != null and username != ''">
                    AND username like '%${username}%'  <!-- 登陆名称 -->
         </if>
                                                 <if test="password != null and password != ''">
                    AND password like '%${password}%'  <!-- 登陆密码 -->
         </if>
                                                 <if test="userRealname != null and userRealname != ''">
                    AND user_realname like '%${userRealname}%'  <!-- 用户真实姓名 -->
         </if>
                                                 <if test="sex != null and sex != ''">
                    AND sex like '%${sex}%'  <!-- 0-男  1-女 -->
         </if>
                                                 <if test="phone != null and phone != ''">
                    AND phone like '%${phone}%'  <!-- 电话 -->
         </if>
                                                 <if test="email != null and email != ''">
                    AND email like '%${email}%'  <!-- 邮箱 -->
         </if>
                                                 <if test="empno != null and empno != ''">
                    AND empno like '%${empno}%'  <!-- 员工号 -->
         </if>
                                                 <if test="signName != null and signName != ''">
                    AND sign_name like '%${signName}%'  <!-- 用户电子签名 -->
         </if>
                                                                             <if test="salt != null and salt != ''">
                    AND salt like '%${salt}%'  <!-- 随机盐 -->
         </if>
                                                 <if test="avatar != null and avatar != ''">
                    AND avatar like '%${avatar}%'  <!-- 头像 -->
         </if>
                                                 <if test="userFlag != null and userFlag != ''">
                    AND user_flag like '%${userFlag}%'  <!-- 用户状态 1-正常 0-停用 2-锁定 -->
         </if>
                                                                                                         <if test="createBy != null and createBy != ''">
                    AND create_by like '%${createBy}%'  <!-- 创建人 -->
         </if>
                                                                             <if test="updateBy != null and updateBy != ''">
                    AND update_by like '%${updateBy}%'  <!-- 修改人 -->
         </if>
                                                 <if test="delFlag != null and delFlag != ''">
                    AND del_flag like '%${delFlag}%'  <!-- 0-删除，1-正常 -->
         </if>
                                                 <if test="wxOpenid != null and wxOpenid != ''">
                    AND wx_openid like '%${wxOpenid}%'  <!-- 微信openid -->
         </if>
                                                 <if test="qqOpenid != null and qqOpenid != ''">
                    AND qq_openid like '%${qqOpenid}%'  <!-- QQ openid -->
         </if>
                                                 <if test="remark != null and remark != ''">
                    AND remark like '%${remark}%'  <!--  -->
         </if>
                                                 <if test="adminRemark != null and adminRemark != ''">
                    AND admin_remark like '%${adminRemark}%'  <!-- 工程师备注 -->
         </if>
                                                                             <if test="postName != null and postName != ''">
                    AND post_name like '%${postName}%'  <!-- 职位 -->
         </if>
                                                                                                                                        </sql>
</mapper>
