<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.${moduleName}.mapper.${className}Mapper">

	<!-- 通用返回对象 -->
    <resultMap type="${package}.${moduleName}.entity.${className}" id="${classname}Result">
        #foreach($column in $columns)
                <result property="${column.lowerAttrName}" column="${column.columnName}"/> <!-- ${column.comments} -->
        #end
    </resultMap>


    <sql id="select${className}Vo">
        select#foreach($column in $columns) $column.columnName#if($velocityCount != $columns.size()),#end#end from ${tableName}
    </sql>
    <!-- 查询对象List -->
    <select id="select${className}List" parameterType="${className}" resultMap="${classname}Result">
        <include refid="select${className}Vo"/>
        <where>
            <include refid="equal"/>
        </where>
    </select>

    <!-- 模糊查询对象List -->
    <select id="select${className}ListByLike" parameterType="${className}" resultMap="${classname}Result">
        <include refid="select${className}Vo"/>
        <where>
            <include refid="like"/>
        </where>
    </select>

    <!-- 根据主键查询对象 -->
    <select id="select${className}ById" parameterType="${pk.attrType}" resultMap="${classname}Result">
        <include refid="select${className}Vo"/>
        where ${pk.columnName} = #{${pk.lowerAttrName}}
    </select>


    <update id="update${className}" parameterType="${className}">
        update ${tableName}
        <trim prefix="SET" suffixOverrides=",">
            #foreach($column in $columns)
                #if($column.columnName != $pk.columnName)
                    <if test="$column.lowerAttrName != null #if($column.attrType == 'String' ) and $column.lowerAttrName != '' #end ">$column.columnName = #{$column.lowerAttrName},</if>
                #end
            #end
        </trim>
        where ${pk.columnName} = #{${pk.lowerAttrName}}
    </update>

    <delete id="delete${className}ById" parameterType="${pk.attrType}">
        delete from ${tableName} where ${pk.columnName} = #{${pk.lowerAttrName}}
    </delete>

    <delete id="delete${className}ByIds" parameterType="String">
        delete from ${tableName} where ${pk.columnName} in
        <foreach item="${pk.lowerAttrName}" collection="array" open="(" separator="," close=")">
            #{${pk.lowerAttrName}}
        </foreach>
    </delete>



    <!-- 新增对象 -->
    <insert id="insert${className}" parameterType="${className}"#if($pk.extra == 'auto_increment') useGeneratedKeys="true" keyProperty="$pk.lowerAttrName"#end>
        insert into ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #foreach($column in $columns)
                #if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
                    <if test="$column.lowerAttrName != null #if($column.attrType == 'String' ) and $column.lowerAttrName != '' #end ">$column.columnName,</if>
                #end
            #end
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #foreach($column in $columns)
                #if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
                    <if test="$column.lowerAttrName != null #if($column.attrType == 'String' ) and $column.lowerAttrName != '' #end ">#{$column.lowerAttrName},</if>
                #end
            #end
        </trim>
    </insert>



    <!-- 表字段 -->
    <sql id="column">
        #foreach($column in $columns)
            ${column.columnName}#if($velocityCount != $columns.size()),#end  <!-- ${column.comments} -->
        #end
    </sql>

    <!-- Where精确匹配字段 -->
    <sql id="equal">
        #foreach($column in $columns)
            ##只对VARCHAR类型使用非空字符串测试
            #if($column.attrType == 'String')
            <if test="${column.lowerAttrName} != null and ${column.lowerAttrName} != ''">
            #else
            <if test="${column.lowerAttrName} != null ">
            #end
            AND ${column.columnName} = #{${column.lowerAttrName}}  <!-- ${column.comments} -->
        </if>
        #end
    </sql>

    <!-- Where模糊匹配字段 -->
    <sql id="like">
        #foreach($column in $columns)
        ##只对VARCHAR类型使用非空字符串测试
            #if($column.attrType == 'String')
         <if test="${column.lowerAttrName} != null and ${column.lowerAttrName} != ''">
                    AND ${column.columnName} like '%${${column.lowerAttrName}}%'  <!-- ${column.comments} -->
         </if>
            #end
        #end
    </sql>
</mapper>
