package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.service.IService;
import ${package}.${moduleName}.entity.${className};
import com.baomidou.mybatisplus.plugins.Page;
import com.ztman.common.core.util.Query;
/**
 * ${comments} 服务接口层
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}> {
    /**
     * 查询${comments}信息
     *
     * @param ${pk.lowerAttrName} ${comments}ID
     * @return ${comments}信息
     */
    public ${className} select${className}ById(${pk.attrType} ${pk.lowerAttrName});

    /**
     * 查询${comments}列表
     *
     * @param ${classname} ${comments}信息
     * @return ${comments}集合
     */
    public List<${className}> select${className}List(${className} ${classname});


    /**
     * 分页模糊查询${comments}列表
     * @return ${comments}集合
     */
    public Page select${className}ListByLike(Query query);



    /**
     * 新增${comments}
     *
     * @param ${classname} ${comments}信息
     * @return 结果
     */
    public int insert${className}(${className} ${classname});

    /**
     * 修改${comments}
     *
     * @param ${classname} ${comments}信息
     * @return 结果
     */
    public int update${className}(${className} ${classname});

    /**
     * 删除${comments}
     *
     * @param ${pk.lowerAttrName} ${comments}ID
     * @return 结果
     */
    public int delete${className}ById(${pk.attrType} ${pk.lowerAttrName});

    /**
     * 批量删除${comments}
     *
     * @param ${pk.lowerAttrName}s 需要删除的数据ID
     * @return 结果
     */
    public int delete${className}ByIds(String[] ${pk.lowerAttrName}s);

}

